
<mat-card id="contract-chart">
  <mat-card-content>
    <ngx-charts-bar-horizontal
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="$"
      [showXAxisLabel]="true"
      [scheme]="colorScheme"
      [barPadding]="50"
      [roundEdges]="false"
    ></ngx-charts-bar-horizontal>
  </mat-card-content>
</mat-card>

<mat-card id="contract-chart">
  <mat-card-content>
    <ngx-charts-bar-horizontal-stacked
      [results]="chartDataMulti"
      [customColors]="stackedCustomColors"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="$"
      [showXAxisLabel]="true"
      [barPadding]="50"
    ></ngx-charts-bar-horizontal-stacked>
  </mat-card-content>
</mat-card>
