table {
  width: 100%;
}

.table-row {
  display: grid;
  grid-template-columns: auto auto 1fr repeat(3, 100px);
}

.table-price-row {
  display: grid;
  grid-template-columns: auto auto 1fr repeat(4, 100px);;
}