<form [formGroup]="table" *ngIf="ready">
  <ng-container formArrayName="data">
    <mat-table [dataSource]="data.controls">

      <ng-container matColumnDef="low">
        <mat-header-cell *matHeaderCellDef>Low %</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <input matInput type="number" formControlName='low'>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="high">
        <mat-header-cell *matHeaderCellDef>High %</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <input matInput type="number" formControlName='high'>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weightDiscount">
        <mat-header-cell *matHeaderCellDef>Discount %</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <input matInput type="number" formControlName='weightDiscount'>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="charge">
        <mat-header-cell *matHeaderCellDef>Charge</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <input matInput type="number" formControlName='charge'>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bonus">
        <mat-header-cell *matHeaderCellDef>bonus</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <input matInput type="number" formControlName='bonus'>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </ng-container>
</form>