
<mat-card class="discount-table">
  <mat-card-header class="discount-table-header">
    <mat-card-title>{{ table.name }}</mat-card-title>
    <div class="action-bar" *transloco="let ta; read: 'actions'">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setTable.emit()">
          <mat-icon>notes</mat-icon>
          <span>{{ ta('Edit Details') }}</span>
        </button>
        <button mat-menu-item [disabled]="editing" (click)="edit()">
          <mat-icon color="primary">edit</mat-icon>
          <span>{{ ta('Edit') }}</span>
        </button>
        <button mat-menu-item (click)="deleteTable.emit()">
          <mat-icon color="warn">delete_forever</mat-icon>
          <span>{{ ta('Delete') }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ol class="collection">
      <mat-card class="header-card">
        <li class="row" *transloco="let t; read: 'inventory.product'">
          <div class="cell options" *ngIf="editing"></div>
          <div class="cell" *ngFor="let header of table.headers">
            {{ (header === 'low' || header === 'high' || header === 'discount' ? t(header) : header) | titlecase }}
          </div>
          <div class="cell options" *ngIf="editing"></div>
        </li>
      </mat-card>
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!editing">
        <mat-card class="body-card" *ngFor="let row of table.data; let rowIndex = index" cdkDrag>
          <li class="row" [class.hover]="!editing">
            <div class="cell options" *ngIf="editing">
              <button mat-icon-button color="warn" (click)="table.data.splice(rowIndex, 1)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </div>
            <div class="cell" *ngFor="let header of table.headers">
              <mat-form-field *ngIf="editing else readonly">
                <input matInput [(ngModel)]="row[header]" type="number" step="0.01" min="0">
              </mat-form-field>
              <ng-template #readonly>{{ row[header] | number:"1.2" }}</ng-template>
            </div>
            <div class="cell options" *ngIf="editing">
              <mat-icon cdkDragHandle>drag_handle</mat-icon>
            </div>
          </li>
        </mat-card>
        <mat-card class="body-card" *ngIf="editing">
          <li class="row add-item">
            <button mat-button color="primary" (click)="table.addTableData()">
              <span><i>{{ 'actions.Add Item' | transloco }}</i></span>
              &nbsp;
              <mat-icon>add_box</mat-icon>
            </button>
          </li>
        </mat-card>
      </div>
    </ol>
  </mat-card-content>
  <div class="action-bar" [class.invisible]="!editing" *transloco="let ta; read: 'actions'">
    <button mat-flat-button color="primary" (click)="cancel()">{{ ta('Cancel') }}</button>
    <button mat-flat-button color="primary" (click)="reset()">{{ ta('Reset') }}</button>
    <button mat-flat-button color="primary" (click)="save()">{{ ta('Save') }}</button>
  </div>
</mat-card>
