
<ol class="collection">
  <mat-card class="header-card">
    <li class="row">
      <div class="cell options" *ngIf="reordering"></div>
      <div class="cell" *ngFor="let header of table.headers">{{ header | titlecase }}</div>
      <div class="cell options" *ngIf="removing"></div>
    </li>
  </mat-card>
  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!reordering">
    <mat-card class="body-card" *ngFor="let row of table.data; let rowIndex = index" cdkDrag cdkDragLockAxis="y">
      <li class="row">
        <div class="cell options" *ngIf="reordering">
          <mat-icon cdkDragHandle>drag_handle</mat-icon>
        </div>
        <div class="cell" *ngFor="let header of table.headers">
          <mat-form-field>
            <input matInput [(ngModel)]="row[header]" type="number" step="0.01" min="0">
          </mat-form-field>
        </div>
        <div class="cell options" *ngIf="removing">
          <button mat-icon-button color="warn" (click)="table.data.splice(rowIndex, 1)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </li>
    </mat-card>
  </div>
</ol>
