
<ng-container *transloco="let t; read: 'treasury'">
  <mat-card class="headers">
    <div class="row">
      <div>{{ t("Description") }}</div>
      <div>{{ t("Amount") }}</div>
      <div>{{ t("Bank Account") }}</div>
      <div>{{ t("Date") }}</div>
      <div>{{ t("Status") }}</div>
      <div></div>
    </div>
  </mat-card>
  <mat-card class="body">
    <div class="row" *ngFor="let transaction of transactions">
      <div>{{ transaction.clientName }}</div>
      <div>{{ transaction.amount | number }}</div>
      <div>{{ transaction.accountName }}</div>
      <div>{{ transaction.date | date }}</div>
      <div>{{ transaction.status }}</div>
      <div>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</ng-container>