<div class="page-style main">
    <p class="text-align-right"><b>Número de contrato:</b></p>
    <p class="text-align-justify">
        CONTRATO DE COMPRA-VENTA DE <b>XXXXXX</b> EN LO SUCESIVO DENOMINADO “PRODUCTO”, QUE CELEBRAN POR UNA PARTE, <b>XXXXXXXXXXXXXXXXX</b>, EN LO SUCESIVO DENOMINADO “EL COMPRADOR”, REPRESENTADA EN ESTE ACTO POR <b>XXXXXXXXXXXX</b>, EN SU CARÁCTER DE APODERADO LEGAL, Y POR LA OTRA PARTE <b>AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV</b>, EN LO SUCESIVO DENOMINADO “EL VENDEDOR”, REPRESENTADA EN ESTE ACTO POR EL <b>SEÑOR RUBEN DARIO PUGA JUAREZ</b>, EN SU CARÁCTER DE APODERADO LEGAL, EN LO SUCESIVO DENOMINADOS CONJUNTAMENTE LOS CONTRATANTES COMO “LAS PARTES”, DE CONFORMIDAD CON LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:
    </p>
    <p class="text-align-center"><b>D E C L A R A C I O N E S</b></p>
    <ol type="I" class="text-align-justify">
        <li>
            <p>- DE <b>“EL VENDEDOR”</b>:<br>PERSONAS MORALES</p>
            <ol type="1">
                <li>
                    Que es una sociedad mercantil constituida de conformidad con las leyes mexicanas, bajo la denominación de <u>XXXXXXXXXXXXXXXXX</u>, como se acredita con la Escritura Pública número <u>XXXXX</u>, de fecha <u>XXXXXXXX</u>, y que el señor <u>XXXXXXXX</u>, en su carácter de <u>Apoderado Legal</u>, está facultado para celebrar este contrato.
                </li>
                <li>
                    Que su Registro Federal de Contribuyentes es: <u>XXXXXXXXXXX</u> y se encuentra al corriente de sus obligaciones.
                </li>
                <li>
                    Que la Clave Única de Registro de Población (CURP) del apoderado legal es:
                </li>
                <li>
                    Que señala como domicilio para los fines y efectos legales a que haya lugar, derivados del presente contrato, el ubicado en <u>XXXXXXXXXXXXXXXXX</u>, correo electrónico <u>XXXXXXXXXXXXX</u> y teléfono <u>XXXXXXXXXXX</u>.
                </li>
            </ol>
        </li>
        <li>
            <p>- DE <b>“EL COMPRADOR”</b>:</p>
            <ol type="1">
                <li>
                    Sociedad mercantil, constituida de conformidad con las leyes mexicanas bajo la denominación de Agropecuaria La Capilla del Noreste, SA de CV;, como se acredita con la Escritura Pública número 860, de fecha <u>11 de Febrero de 2011</u> y que el señor <u>Rubén Darío Puga Juárez</u>, en su carácter de <u>Representante Legal</u>, está facultado para celebrar este contrato, como se acredita con la Escritura Pública del Poder Notarial número 11,989, de fecha 01 de Febrero de 2011, y cuyas facultades no le han sido limitadas, modificadas o revocadas a la fecha.
                </li>
                <li>
                    Que su Registro Federal de Contribuyentes es: <u>ACN980211QC9</u> y se encuentra al corriente de sus obligaciones.
                </li>
                <li>
                    Que la Clave Única de Registro de Población (CURP) del apoderado legal es:
                </li>
                <li>
                    Que señala como domicilio para los fines y efectos legales a que haya lugar derivados del presente contrato, el ubicado en: <u>Zaragoza entre 1ª  y 2ª SN, Valle Hermoso, Tamaulipas CP 87500</u>  correo electrónico <u>XXXXX</u> y teléfono <u>XXXXXX</u>.
                </li>
            </ol>
        </li>
        <li>
            <p>- DE <b>“LAS PARTES”</b></p>
            <ol type="1">
                <li>
                    “Dictamen Jurídico” Que el formato denominado “ANEXO 1” que se adhiere al contrato suscrito por “LAS PARTES”, forma parte integral del presente contrato, el cual contiene la información siguiente: Fecha, Producto, Tipo de carga, Base, Futuro, Mes de vencimiento, Cobertura/opción, Cesión de derechos, Cantidad, Unidad de medida, Calidad garantizada, humedad máxima, Forma de entrega, Seguro de tránsito, Lugar de entrega, Pesos, Mermas, Periodo de entrega, Almacenaje y fumigación, Términos de Pago, Forma de pago, Cuentas y bancos de pago, ejecutivo de contrato y el nombre y firma de “EL COMPRADOR” y “EL VENDEDOR”
                </li>
                <li>
                    Que en la celebración del presente contrato no ha existido mala fe, error, dolo o violencia de ningún tipo y que las contraprestaciones establecidas en el mismo son las justas, por lo que es su libre voluntad celebrar este contrato de compraventa a término y obligarse de acuerdo con las siguientes:
                </li>
            </ol>
        </li>
    </ol>
    <p class="text-align-center"><b>C L A U S U L A S</b></p>
    <p class="text-align-justify">
        <b>PRIMERA. - OBJETO.</b> - Que declaran, bajo protesta de decir verdad, que al amparo del presente “CONTRATO” celebran una compraventa a término por <b>XXXX</b> toneladas del “PRODUCTO” y que quienes firman se encuentran facultados para suscribirlo en su nombre y representación.
        <br>
        <b>SEGUNDA. – CALIDAD.</b> - Las muestras serán tomadas en el momento y lugar de descarga, mismas que serán identificadas y resguardadas. En caso de tener alguna diferencia respecto a la calidad del “PRODUCTO” las “PARTES” acuerdan sujetarse a un análisis de un tercero para definir dicha calidad, sometiéndose a los resultados. “EL VENDEDOR” deberá entregar el producto con las siguientes especificaciones de calidad y humedad:
    </p>
    <div class="product-info">
        <div class="product-info-item">Humedad:<br>14.0%<br>maximo</div>
        <div class="product-info-item">Impurezas:<br>3.0%<br>máximo</div>
        <div class="product-info-item">Grano dañado:<br>5.0%<br>máximo</div>
        <div class="product-info-item">Grano quebrado:<br>4.5%<br>máximo.</div>
        <div class="product-info-item">Material extraño:<br>2.5%<br>máximo.</div>
        <div class="product-info-item">Peso volumétrico:<br>700 kg/ hl<br>mínimo</div>
    </div>
    <p class="text-align-justify">
        Así mismo, el producto que por cualquier otra causa no especificada en esta cláusula sea de calidad inferior será considerada fuera de la norma. “EL COMPRADOR”, a su exclusivo criterio, puede decidir si rechaza o acepta producto fuera las norma. En el caso de ser aceptado producto que incumpla algunos factores de las normas de calidad se aplicará el descuento de precio vigente en el momento de la descarga. Para cualquier producto rechazado que incumpla con las normas de calidad “EL COMPRADOR” no tendrá ninguna obligación con “EL VENDEDOR”.
        <br>
        <b>TERCERA. - HUMEDAD Y SECADO.</b> - “EL COMPRADOR” aplicará la merma porcentual de peso correspondiente según la tabla oficial vigente en el momento de la entrega sobre el “PRODUCTO” recibido que exceda la tolerancia establecida de humedad. Deberá, además, aplicar el cobro de la tarifa de secado según la tabla oficial vigente al momento de la entrega. 
        <br>
        <b>CUARTA. - PRECIO Y PAGO.</b> - El precio objeto del presente contrato se fijará en volúmenes parciales o volumen total, a opción del “VENDEDOR”, formarán parte integral de este contrato los “ANEXOS” con la confirmación de fijación de precios, mismos que serán referenciados con el número de contrato y la firma de “EL VENDEDOR” y “EL COMPRADOR”. “EL COMPRADOR” se obliga a pagar a “EL VENDEDOR” el precio fijado del “PRODUCTO” de la forma, números de cuenta y bancos indicados por “EL VENDEDOR”. El pago se efectuará en un plazo de quince días posteriores a la recepción de la factura y la documentación que acredite la entrega del producto. 
        <br>
        <b>QUINTA. – FIJACIÓN DE PRECIO.</b> - Precio diferido. El precio se fijará a opción de “EL VENDEDOR” a partir del día………. y hasta el día…………, después de esta fecha “LAS PARTES” acuerdan que se cobrará a “EL VENDEDOR” una tarifa de almacenaje y fumigación como se estipula en el “ANEXO 1”. “LAS PARTES” acuerdan que la fijación de precio se podrá realizar por cualquier estrategia y herramienta de fijación de precio o tras una oferta del el “COMPRADOR” a “EL VENDEDOR”.<br>
        “EL VENDEDOR” transfiere la propiedad de el “PRODUCTO” a “EL COMPRADOR” en el momento de la entrega.
        <br>
        <b>OCTAVA. - GARANTÍAS.</b> - “EL VENDEDOR” entregará a “EL COMPRADOR” una garantía de cumplimiento de el “CONTRATO DE COMPRAVENTA” será equivalente a un 20% del importe total del contrato; asimismo, se constituirá por alguno de los siguientes instrumentos o su combinación: (1) Fianza otorgada por institución autorizada en los términos de la Ley Federal de Instituciones de Fianzas (2) Retención del importe de la garantía, que se descontará en los pagos de las primeras facturas del producto que “EL VENDEDOR” presente a cobro, hasta cubrir dicho importe de acuerdo con lo que se estipule en el contrato. (3) Cheque certificado o cheque de caja para su depósito, cuyo importe permanecerá en poder de “EL COMPRADOR” hasta el cabal cumplimiento de las obligaciones contractuales, o bien depósito en efectivo a favor “EL COMPRADOR”.
        <br>
        <b>NOVENA. – INCUMPLIMIENTO DE ENTREGAS.</b> - Las penalizaciones convenidas por incumplimiento de entregas de “EL VENDEDOR” por causas imputables al mismo serán determinadas en función del grano no entregado. La pena convencional por incumplimiento en la entrega del producto será del 20% del monto del producto no entregado (equivalente en dinero del valor del tonelaje incumplido).
        <br>
        <b>DÉCIMA. – ENTREGAS Y CONDICIONES DE CARGA.</b> - “EL VENDEDOR” se obliga a entregar el “PRODUCTO” a “EL COMPRADOR” en el lugar, plazo y/o programa señalado en el “ANEXO 1”.
        <br>
        <b>DÉCIMO PRIMERA. - MODIFICACIONES.</b> - “LAS PARTES” acuerdan que cualquier modificación en el presente contrato y/o cualquier otro dato que modifique los asentados en las presentes cláusulas, deberá ser formalizado por escrito y en común acuerdo a fin de que surta efectos.
        <br>
        <b>DÉCIMO SEGUNDA. - VIGENCIA Y VALIDEZ.</b> - El presente contrato sólo será válido a partir de la fecha en que sea firmado y hasta en tanto las “PARTES” cumplan con sus obligaciones derivadas del presente.
        <br>
        <b>DÉCIMO TERCERA. - COMPETENCIA Y LEGISLACIÓN APLICABLE.</b> - En caso de controversia sobre la interpretación y cumplimiento del presente contrato, así como para todo aquello que no esté expresamente estipulado en el mismo, “LAS PARTES” se someten a las leyes aplicables y a los tribunales competentes del Estado de <u>Tamaulipas</u> renunciando expresamente a cualquier otra jurisdicción que, debido a sus domicilios presentes o futuros, o por cualesquiera otra, les corresponda o pudiera corresponderles.
        <br>
        Para efectos de lo anterior y para cumplimiento “LAS PARTES” firman por duplicado expresando su voluntad para celebrar el presente contrato, aceptando los términos y condiciones que se establecen.
        <br>
        <b>DÉCIMA CUARTA. - DIVISIBILIDAD.</b> - Si por cualquier motivo alguna de las cláusulas, párrafos o disposiciones del presente Contrato resultaré inválida o inejecutable y no fuere factible su cumplimiento, este incumplimiento no afectará ni alterará la fuerza, el alcance ni vigencia de las cláusulas y/o demás cláusulas, párrafos o disposiciones, las que se interpretarán de tal manera que se mantenga la intención original de “LAS PARTES” al celebrar el presente Contrato.
        <br>
        <b>DÉCIMA QUINTA. - RESPONSABILIDAD LABORAL.</b> - Queda expresamente convenido por “LAS PARTES” que el presente Contrato es de naturaleza mercantil y no se deriva de la misma responsabilidad laboral alguna, entre ellas, ni entre éstas y los trabajadores de la contraparte.
        <br>
        <b>DÉCIMA SEXTA. SEGUROS.</b> - “LAS PARTES" acuerdan que el pago del seguro de la mercancía será según lo pactado en base a las condiciones de entrega que quedarán estipuladas en el “ANEXO 1" del presente instrumento.
        <br>
        <b>DÉCIMA SÉPTIMA. DOMICILIOS.</b> - Para todos los efectos del presente Contrato, “LAS PARTES” señalan como sus respectivos domicilios, los señalados en el “ANEXO 1” de este instrumento, por lo que todos los avisos, notificaciones y demás diligencias judiciales y extrajudiciales, que deban hacerse con motivo de este Contrato se realizarán a los domicilios antes señalados o en el último que hayan notificado por escrito cuando menos con 10 (diez) días hábiles de anticipación a la fecha en que deba surtir efectos el cambio.
        <br>
        <b>DÉCIMA OCTAVA. - CESIÓN DE DERECHOS.</b> - “LAS PARTES" no podrán ceder, gravar, transferir, modificar o traspasar sus derechos y obligaciones derivados del presente Contrato, sin el consentimiento previo y por escrito de la otra parte.
        <br>
        <b>DÉCIMA NOVENA. - JURISDICCIÓN.</b> - Para la interpretación y cumplimiento del presente Contrato, LAS PARTES se sujetan a las leyes del Estado de Tamaulipas y a la competencia de los Tribunales de la ciudad de Valle Hermoso, Tamaulipas, renunciando expresamente a cualquier otro fuero que pudiere corresponder en razón de sus domicilios presentes o futuros, o por cualquier otra índole.
    </p>
    <div class="signatures">
        <div class="text-align-center"><b>
            POR “EL VENDEDOR”:
            <br>
            <div class="signature-line"></div>
        </b></div>
        <div class="text-align-center"><b>
            POR “EL COMPRADOR”:
            <br>
            <div class="signature-line"></div>
            <br>
            ING. RUBÉN DARIO PUGA JUAREZ 
            AGROPECUARIA LA CAPILLA DEL NORESTE, 
            SA DE CV
        </b></div>
    </div>
</div>

<div class="page-style anexo-1 page-standard-height">
    <p>
        <b>
            AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV
            <br>
            CONTRATO A DEPÓSITO - PRECIO DIFERENCIADO
        </b>
        <br>
        Número de contrato <span class="contract-id-emphasis">2022355X</span>
    </p>
    <p class="text-align-center"><b>“ANEXO 1”</b></p>
    <div class="buyer-seller">
        <span class="buyer-seller-title">VENDEDOR:</span>
        <span class="buyer-seller-name">PRODUCTORES DE SORGO, S.A. DE C.V.</span>
        <span>CARR.  A VICTORIA</span>
        <span>SAN FERNANDO, TAMAULIPAS, MX        C.P. 87600</span>
        <span>R.F.C.: CAA861206992</span>
        <span class="buyer-seller-title">COMPRADOR:</span>
        <span class="buyer-seller-name">AGROPECUARIA LA CAPILLA DEL NORESTE, S.A. DE C.V.</span>
        <span>ZARAGOZA ENTRE PRIMERA Y SEGUNDA S/N</span>
        <span>VALLE HERMOSO, TAMAULIPAS, C.P. 87500</span>
        <span>R.F.C.: ACN980211QC9</span>
    </div>
    <div class="contract-info">
        <table>
			<thead class="text-align-left">
				<th>FECHA:</th>
				<th>PRODUCTO:</th>
				<th>TIPO DE CARGA:</th>
				<th>PRECIO:</th>
				<th>CANTIDAD:</th>
				<th>UNIDAD DE MEDIDA:</th>
				<th>CALIDAD GARANTIZADA:</th>
				<th>HUMEDAD MÁXIMA:</th>
				<th>FORMA DE ENTREGA:</th>
				<th>SEGURO DE TRÁNSITO:</th>
				<th>LUGAR DE ENTREGA: </th>
				<th>PESOS:</th>
				<th>MERMAS:</th>
				<th>PERIODO DE ENTREGA:</th>
				<th>ALMACENAJE Y FUMIGACIÓN:</th>
				<th>TÉRMINOS DE PAGO:</th>
				<th>ANTICIPOS:</th>
				<th>FORMA DE PAGO:</th>
				<th>BANCOS Y CUENTAS DE PAGO:</th>
				<th>EJECUTIVO DE CONTRATO:</th>
			</thead>
			<tbody>
				<td>05 DE ENERO DE 2023</td>
				<td>SORGO ROJO NACIONAL </td>
				<td>A GRANEL</td>
				<td>DIFERIDO</td>
				<td>5000 (CINCOMIL) TONELADAS MÉTRICAS +- 5% </td>
				<td>TONELADA MÉTRICA</td>
				<td>Grado: U.S. 2 OFICIAL</td>
				<td>20 % </td>
				<td>CAMIÓN POR CUENTA DEL VENDEDOR</td>
				<td>VENDEDOR</td>
				<td>EXW BODEGA SAN FERNANDO, TAMAULIPAS</td>
				<td>CARRETERA CD. VICTORIA-MATAMOROS</td>
				<td>EL DE DESCARGA EN BODEGA </td>
				<td>NO APLICA</td>
				<td>02-DEC-21	 AL	 08-DEC-21</td>
				<td>NO APLICA</td>
				<td>15 (QUINCE) DÍAS DESPUES DE ENTREGAR LA FACTURA</td>
				<td>NO APLICA</td>
				<td>TRANSFERENCIA ELECTRÓNICA DE FONDOS</td>
				<td></td>
				<td>NOMBRE COMPLETO</td>
			</tbody>
		</table>
    </div>
</div>

<ng-template #footer>
    <div class="footer text-align-center">page 1 of 4</div>
</ng-template>