<app-header-toolbar titulo="Inventory"></app-header-toolbar>


<ion-content [fullscreen]="true" class="ion-padding-vertical">
  <div id="container">
    <div class="content-actions">

      <!-- <ion-title class="capitalize">Progreso</ion-title> -->
      <ion-buttons class="butons buttons-main">
        <ion-button slot="start" color="dark">
          <ion-label class="label-branch_office">
            Progreso
          </ion-label>
          <ion-icon slot="end" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="content-subtitle_small-inventory">
      <h4><span>Product</span></h4>
    </div>
    <div class="content-card-inventory">
      <ion-card class="ion-no-margin">
        <!-- <ion-buttons class="content-btn-options">
          <ion-button>
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <ion-card-header>
          <!-- <ion-card-subtitle>Max Capacity: 25,000M tons.</ion-card-subtitle> -->
          <ion-card-title>Yellow corn</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Total Physical: </span>
                <b>24,000 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Storage: </span>
                <b>1,000 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Owned Physical: </span>
                <b> 23,000 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>For Sale: </span>
                <b>50,000 Mt</b>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-margin">
        <ion-card-header>
          <!-- <ion-card-subtitle>Max Capacity: 25,000M tons.</ion-card-subtitle> -->
          <ion-card-title>Sorghum</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Total Physical: </span>
                <b>10,000 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Storage: </span>
                <b>0 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Owned Physical: </span>
                <b> 10,000 Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>For Sale: </span>
                <b>5,000 Mt</b>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <!--   -->
    <div class="content-subtitle_small-inventory">
      <h4><span>Tanks</span></h4>
    </div>
    <div class="content-card-inventory">
      <ion-card class="ion-no-margin " *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
        <ion-buttons class="content-btn-options">
          <ion-button>
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-header>
          <ion-card-subtitle>Max Capacity: 25,000M tons.</ion-card-subtitle>
          <ion-card-title>Tank {{item}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Product: </span>
                <b>Yellow Corn</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Current: </span>
                <b>{{12000}} MT</b>
              </p>
            </div>
          </div>
          <div class="content-range-inventory">
            <ion-range class="ion-no-padding" pin min="1000" value="1850" max="2000" step="100" snaps="true"
              color="primary">
              <ion-icon title="inventory" size="small" slot="start" name="cube-outline"></ion-icon>
              <ion-icon title="inventory" slot="end" name="cube-outline"></ion-icon>
            </ion-range>
            <div class="item-percentage">
              <p class="item-text-percentage">
                <b>80%</b>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>