<app-header-toolbar titulo="Inventory"></app-header-toolbar>


<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <div class="content-actions">
      <ion-buttons class="butons buttons-main">
        <ion-button slot="start" color="dark">
          <ion-label class="label-branch_office">
            {{this.currentPlantName}}
          </ion-label>
          <ion-icon slot="end" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="content-subtitle_small-inventory">
      <ion-button fill="clear" size="small" (click)="updateProductInv()" *ngIf="permissions?.developer">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
      <h4><span>Products</span></h4>
    </div>
    
    <div class="content-card-inventory">
      <ion-card class="ion-no-margin" *ngFor="let item of productList">
        <!-- <ion-buttons class="content-btn-options">
          <ion-button>
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <ion-card-header>
          <!-- <ion-card-subtitle>Max Capacity: 25,000M tons.</ion-card-subtitle> -->
          <ion-card-title>{{item.ref.id}}</ion-card-title>
          <button mat-icon-button class='inventory-info-button' (click)="nav('dashboard/inventory/' + item.ref.id)">
            <mat-icon>info</mat-icon>
          </button>
        </ion-card-header>
        <ion-card-content>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Total Physical: </span>
                <b>{{item.physicalInventory / 2204.62 | number:'1.3-3'}} Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Storage: </span>
                <b>{{(item.physicalInventory - item.ownedPhysical) / 2204.62 | number:'1.3-3'}} Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Owned Physical: </span>
                <b> {{item.ownedPhysical / 2204.62 | number:'1.3-3'}} Mt</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>For Sale: </span>
                <b>{{item.forSale / 2204.62 | number:'1.3-3'}} Mt</b>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <!--   -->
    <div class="content-subtitle_small-inventory">
      <h4 (contextmenu)="onContextMenu($event)"><span>Tanks</span></h4>
    </div>
    <div class="content-card-inventory" *ngIf="plantList != null">
      <ion-card class="ion-no-margin " *ngFor="let item of getCurrentPlant()['inventory']; let index = index">
        <ion-buttons class="content-btn-options">
          <ion-button (click)="inventoryMenu($event, index)">
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-header>
          <ion-card-subtitle>Max Capacity: {{(item.max / 2204.6226).toFixed(3)}} MT.</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Product: </span>
                <b>{{item.product.id}}</b>
              </p>
            </div>
          </div>
          <div class="item-inventory">
            <div class="item-text-inventory">
              <p>
                <span>Current: </span>
                <b>{{(item.current / 2204.6226).toFixed(3)}} MT</b>
              </p>
            </div>
          </div>
          <div class="content-range-inventory">
            <ion-progress-bar class="ion-no-padding" value="{{item.current / item.max}}" pin snaps="true" color="primary"></ion-progress-bar>
            <div class="item-percentage">
              <p class="item-text-percentage">
                <b>{{(item.current / item.max * 100).toFixed(2)}}%</b>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-margin card-button" [button]="true" (click)="newStorageModal()">
        + Add new...
      </ion-card>
    </div>
    <!-- <ng-container *ngIf="hasReadPermission()"> -->
      <div class="content-subtitle_small-inventory">
        <h4><span>Warehouse Receipts</span></h4>
      </div>
      <!-- <app-warehouse-receipts [productList]="productList" [currentPlantName]="currentPlantName"></app-warehouse-receipts> -->
    <!-- </ng-container> -->
  </div>
</ion-content>
<div style="visibility: hidden; position: fixed" #InvMenuTrigger [matMenuTriggerFor]="contextMenu"></div>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item>See archived</button>
  <button mat-menu-item>See Inventory Logs</button>
</mat-menu>