<div class="container-fluid invoice-container" id="file-html-invoice" #file>
    <!-- Header -->
    <header>
        <div class="row align-items-center">
            <div class="col-sm-7 text-center text-sm-left mb-3 mb-sm-0"> 
                <img  id="logo" src="https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Flogo.png?alt=media&token=a8611727-2fcf-45fa-8861-42b290376789"
                    title="Agropecuaria " alt="Agropecuaria "> </div>
            <div class="col-sm-5 text-center text-sm-right">
                <h4 class="mb-0">Invoice</h4>
                <p class="mb-0">Invoice Number - 16835</p>
            </div>
        </div>
        <hr>
    </header>

    <!-- Main Content -->
    <main>
        <div class="row">
            <div class="col-sm-6 text-sm-right order-sm-1"> <strong>Pay To:</strong>
                <address>
                    Agropecuaria La Capilla Del Noreste, S.A de C.V<br>
                    Zaragosa S/N Col.<br>
                    C.P 87500 <br>
                    Valle Hermoso, Tamp., Mex <br>
                    (894) 818 4571
                </address>
            </div>
            <div class="col-sm-6 order-sm-0"> <strong>Invoiced To:</strong>
                <address>
                    Smith Rhodes<br>
                    15 Hodges Mews, High Wycombe<br>
                    HP12 3JL<br>
                    United Kingdom
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3"> <strong>Payment Method:</strong><br>
                <span>Credit</span> </div>
            <div class="col-sm-6 mb-3 text-sm-right"> <strong>Date:</strong><br>
                <span>September 27,2020</span> </div>
        </div>
        <div class="card">
            <div class="card-header"> <span class="font-weight-600 text-4">Summary</span> </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="">
                                <td class="border-top-0"><strong>Description</strong></td>
                                <td class="text-center border-top-0"><strong>U/M Tons</strong></td>
                                <td class="text-center border-top-0"><strong>Price</strong></td>
                                <td class="text-right border-top-0"><strong>Amount</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="text-3"><span class="font-weight-500">YELLOW CORN</span> </span> <br>
                                        819WA7 - 42.420 <br>
                                        877WP4 - 38.973 <br>
                                        55TX9L - 44.556 <br>
                                        56TX9L - 40.901 <br>
                                    <!-- Travel Date - Sat, 15 Jun 19, 01:50 hrs <br> -->
                                    <!-- Smith Rhodes  -->
                                </td>
                                <td class="text-center">166.832</td>
                                <td class="text-center">$189.00</td>
                                <td class="text-right">$31,531.25</td>
                            </tr>
                    
                            <tr>
                                <td><span class="text-3"><span class="font-weight-500">YELLOW CORN</span> </span> <br>
                                        753WU9 - 40.025 <br>
                                        754WU9 - 37.948 <br>
                                    <!-- Travel Date - Sat, 15 Jun 19, 01:50 hrs <br> -->
                                    <!-- Smith Rhodes  -->
                                </td>
                                <td class="text-center">77.973</td>
                                <td class="text-center">$191.00</td>
                                <td class="text-right">$14,892.84</td>
                            </tr>
                    
                            <tr>
                                <td colspan="2" class="bg-light-2 text-right"><strong>Sub Total</strong></td>
                                <td colspan="2" class="bg-light-2 text-right">$46,424.09</td>
                            </tr>
                            <!-- <tr>
                                <td colspan="2" class="bg-light-2 text-right"><strong>Tax Rate:</strong><br>
                                    <span class="text-1">8% tax rate</span></td>
                                <td colspan="2" class="bg-light-2 text-right"></td>
                            </tr> -->
                            <tr>
                                <td colspan="2" class="bg-light-2 text-right"><strong>Total</strong></td>
                                <td colspan="2" class="bg-light-2 text-right">$46,424.09</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="text-center"><strong>Transaction Date</strong></td>
                        <td class="text-center"><strong>Gateway</strong></td>
                        <td class="text-center"><strong>Transaction ID</strong></td>
                        <td class="text-center"><strong>Amount</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">07/11/2019</td>
                        <td class="text-center">Credit Card</td>
                        <td class="text-center">3912912704</td>
                        <td class="text-center">$1583.20 USD</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- Footer -->
    <footer class="text-center">
        <p class="text-1"><strong>NOTE :</strong> This is computer generated receipt and does not require physical
            signature.</p>
        <h2 class="thanks">
            Thank you for your business!
        </h2>
    </footer>
</div>