.content-fab-button {
  position: fixed;
  bottom: 15px;
  right: 25px;
  z-index: 500;
}
ion-content {
  position: relative;
}
.fab-button {
  border-radius: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  background-color: var(--ion-color-light);
  color: var(--ion-color-primary);
  width: auto;
  /* height: 56px; */
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  padding: 12px 20px;
  -moz-column-gap: 15px;
  font-weight: 500;
  column-gap: 15px;
  ion-icon {
    font-size: 22px;
    color: var(--ion-color-primary);
  }
}
.content-title {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  // column-gap: 15px;
  align-content: center;
  align-items: center;
  z-index: 500;
  background:  var(--ion-background-color, #fff);
  padding: 16px 16px;
  transition: all 0.27s ease-in-out;
  ion-button {
    margin-inline: 10px;
  }
  &.border-shadow::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    // box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
  }
  &.border-shadow {
    padding: 0px 16px;
    // padding-top: -5px;
    padding-bottom: 12px;
  }
}
.change-color{
  background: var(--ion-toolbar-background, var(--ion-background-color, #fff)) !important;
}
