<app-header-toolbar [border]="!border" titulo="Users"></app-header-toolbar>
<ion-content [scrollEvents]="true" (ionScroll)="logScroll($event)">
    <div class="content-title" [class.border-shadow]="border" [class.change-color]="border">
        <ion-searchbar ></ion-searchbar>
        <ion-button (click)="openNewUser()">
            <!-- <ion-icon name="person-add-outline" slot="start"></ion-icon> -->
            <ion-text slot="end">New User</ion-text>
        </ion-button>
    </div>
    <div class="ion-padding-horizontal content">
        <app-list></app-list>
        <div class="ion-padding"></div>
    </div>
    <!-- fab placed to the bottom end -->
  
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
