
<app-table 
	[data]="testData" 
	[queryFn]="queryFn" 
	[ready]="ready"
	[rowAction]="action" 
	*ngIf="columns?.length > 0 ?? false"
>
<ng-template #headers>
	<th *ngFor="let column of columns">
		<ng-container
			*ngTemplateOutlet="
				fieldTemplate(column);
				context: { $implicit: true }
			"
		></ng-container>
	</th>
</ng-template>
<ng-template #rows let-row>
	<td *ngFor="let column of columns">
		<ng-container 
			*ngTemplateOutlet="
				fieldTemplate(column);
				context: { $implicit: row }
			"
		></ng-container>
	</td>
</ng-template>
</app-table>


<ng-template #clientName let-row>
	{{ row === true ? 'Client' : (row.clientName | titlecase) }}
</ng-template>

<ng-template #currentDelivered let-row>
	{{ row === true ? 'Delivered' : row.currentDelivered }}
</ng-template>

<ng-template #date let-row>
	{{ row === true ? 'Date' : (row.date | date) }}
</ng-template>

<ng-template #delivery_dates let-row>
	{{ row === true ? 'Delivery' : (row.delivery_dates | date) }}
</ng-template>

<ng-template #grade let-row>
	{{ row === true ? 'Grade' : row.grade }}
</ng-template>

<ng-template #id let-row>
	{{ row === true ? 'ID' : row.id }}
</ng-template>

<ng-template #loads let-row>
	{{ row === true ? 'Loads' : row.loads }}
</ng-template>

<ng-template #pricePerBushel let-row>
	{{ row === true ? 'Price ( $ / Bu )' : (row.pricePerBushel | currency) }}
</ng-template>

<ng-template #product let-row>
	{{ row === true ? 'Product' : (row.product | titlecase) }}
</ng-template>

<ng-template #quantity let-row>
	{{ row === true ? 'Bushels' : (row.quantity | number) }}
</ng-template>

<ng-template #status let-row>
	{{ row === true ? 'Status' : row.status }}
</ng-template>

<ng-template #transport let-row>
	{{ row === true ? 'Transport' : row.transport }}
</ng-template>