.content-card-treasury {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}
.item-treasury .item-text-treasury {
  p {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    justify-content: flex-start;
    align-items: center;
  }
}
.content-title {
  // position: sticky;
  // top: 0;
  // right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  // column-gap: 15px;
  align-content: center;
  align-items: center;
  z-index: 500;
  background: var(--ion-color-light);
  // padding: 16px 16px;
  transition: all 0.27s ease-in-out;
}

.accounts-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  align-items: center;
  gap: 1rem;
  padding: 10px;
}

.add-account-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;

  ion-icon {
    font-size: 4rem;
    color: var(--ion-color-primary);
    width: 100%;
    pointer-events: none;
  }
}

::ng-deep .ngx-charts text {
  fill: var(--ion-color-dark);
}

app-account-card, .add-account-container {
  height: 300px;
  // max-width: 500px;
}

mat-card {
  background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  color: var(--ion-color-dark);
}
