.content-card-treasury {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
  }
  .item-treasury .item-text-treasury {
    p {
      margin: 0;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5px;
      justify-content: start;
      align-items: center;
    }
  }
  .content-title {
    // position: sticky;
    // top: 0;
    // right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    // column-gap: 15px;
    align-content: center;
    align-items: center;
    z-index: 500;
    background: var(--ion-color-light);
    // padding: 16px 16px;
    transition: all 0.27s ease-in-out;
  }