
<ng-container *transloco="let t; read: 'contracts.info'">
  <h2 mat-dialog-title>{{ t('Set Payment') }}</h2>

  <mat-dialog-content>
    <form #paymentForm="ngForm" [liquidationsSelected]="['type', 'paidDocuments']">
      <div class="form-field-row">
        <mat-form-field appearance="fill">
          <mat-label>{{ t('Type') }}</mat-label>
          <mat-select 
            #type="ngModel" 
            [(ngModel)]="data.payment.type" 
            (ngModelChange)="reset()" 
            name="type" 
            [paymentType]="data.liquidations.length" 
            required
          >
            <mat-option *ngFor="let type of PAYMENT_TYPES" [value]="type">{{ t(type) | titlecase }}</mat-option>
          </mat-select>
          <mat-error *ngIf="paymentForm.controls['type']?.errors?.required">{{t ('Required') }}</mat-error>
          <mat-error *ngIf="paymentForm.controls['type']?.errors?.noLiquidations">{{ t('No Liquidations Available') }}</mat-error>
          <mat-error *ngIf="paymentForm.controls['type']?.errors?.noLiquidationsSelected">{{ t('No Liquidations Selected') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('Date') }}</mat-label>
          <input matInput [(ngModel)]="data.payment.date" [matDatepicker]="picker" name="date" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{t ('Required') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-row">
        <mat-form-field appearance="fill">
          <mat-label>{{ t('Account Name') }}</mat-label>
          <input matInput [(ngModel)]="data.payment.accountName" name="accountName" required>
          <mat-error>{{t ('Required') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('Payment Method') }}</mat-label>
          <mat-select [(ngModel)]="data.payment.paymentMethod" name="method" required>
            <mat-option *ngFor="let method of PAYMENT_METHODS" [value]="method">{{ t(method) | titlecase }}</mat-option>
          </mat-select>
          <mat-error>{{t ('Required') }}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{ t('Amount') }}</mat-label>
        <input matInput 
          [(ngModel)]="data.payment.amount" 
          (ngModelChange)="setAmounts()" 
          type="number" 
          name="amount" 
          [min]="selectedTotal-.001"
          required
        >
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="paymentForm.controls['amount']?.errors?.required">{{ t('Required') }}</mat-error>
        <mat-error *ngIf="paymentForm.controls['amount']?.errors?.min">{{ t('Must Meet Selected Amount') }}</mat-error>
      </mat-form-field>

      <div class="select-liquidations" *ngIf="data.payment.type==='default' && data.liquidations.length > 0">
        <mat-checkbox class="select-all"
          (change)="$event.checked ? paidDocuments.selectAll() : paidDocuments.deselectAll()"
          labelPosition="before"
        >
          {{ t('Select All') }}
        </mat-checkbox>
        <mat-selection-list class="selection" #paidDocuments [(ngModel)]="data.payment.paidDocumentRefs" (ngModelChange)="setAmounts()" name="paidDocuments">
          <mat-list-option *ngFor="let liquidation of data.liquidations; let index = index" [value]="{
              ref: liquidation.ref,
              amount: liquidation.total
            }"
            labelPosition="after"
          >
            <div class="display-liquidation">
              <span>{{ index + 1 }}</span>
              <span>{{ liquidation.date | date }}</span>
              <span class="liquidation-total">$ {{ liquidation.total | number:'.1-3' }}</span>
            </div>
          </mat-list-option>
        </mat-selection-list>
        <div class="pay-difference">
          <span>{{ (data.payment.amount ?? 0) | number:'.0-3' }}</span>
          <span class="symbol">-</span>
          <span>{{ selectedTotal | number:'.0-3' }}</span>
          <span class="symbol">=</span>
          <span [class.negative]="difference <= -.001" [class.positive]="difference > -.001">{{ difference | number:'.0-3' }}</span>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{ t('Notes') }}</mat-label>
        <textarea matInput [(ngModel)]="data.payment.notes" name="notes"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="accent" (click)="test()">Test</button>
    <button mat-button color="primary" mat-dialog-close>{{ t('Close') }}</button>
    <button mat-button color="primary" [mat-dialog-close]="true" [disabled]="paymentForm.invalid">{{ t('Confirm') }}</button>
  </mat-dialog-actions>
</ng-container>