.content-row {
  &:nth-child(2n + 3) {
    background: var(--ion-color-step-5);
    ion-item {
      --background: var(--ion-color-step-5);
    }
  }
  cursor: pointer;
  padding: 10px 13px !important;
  display: grid;
  grid-template-columns: 15% 7% 18% 7% 7% 8% 10% 7% 7% 7% 7%;
  justify-content: space-between;
  // padding: 10px 0px;
  &:hover {
    background: var(--ion-color-primary-light-tint);
    ion-item {
      --background: var(--ion-color-primary-light-tint);
      // background-color: rgba(var(--ion-color-primary-rgb),.13);
      // background: rgba(var(--ion-color-primary-rgb),.13);
    }
  }
  ion-text {
    font-size: 14px;
  }
}
.header-table {
  background-color: var(--ion-color-primary-light);

  padding: 10px 13px !important;
  display: grid;
  grid-template-columns: 15% 7% 18% 7% 7% 8% 10% 7% 7% 7% 7%;
  justify-content: space-between;
  ion-text {
    font-size: 14px;
    color: var(--ion-color-primary);
    font-weight: 500;
  }
  ion-item {
    --background:  var(--ion-color-primary-light);
  }
}
.item-action {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header-table,
  .content-row {
    grid-template-columns: 10% 7% 18% 8% 8% 8% 10% 8% 8% 8% 7%;
  }
}
@media screen and (max-width: 992px) {
  .header-table,
  .content-row {
    grid-template-columns: 25% 20% 9% 10% 10% 10% 10%;
  }
}
.content-item-text {
  display: grid;
}
.item-label-small {
  font-size: 12px;
  color: var(--ion-color-medium);
}
.item-ticket {
  font-size: 14px;
  color: var(--ion-color-dark);
  span {
    font-weight: 600;
  }
}
.item-costomer {
  font-size: 16px;
  font-size: 500;
  color: var(--ion-color-dark);
}
@media screen and (max-width: 768px) {
  .header-table,
  .content-row {
    grid-template-columns: 35% 25% 30% 10%;
  }
  .content-actions {
    grid-template-columns: 1fr auto;
    .buttons-main {
      grid-column-end: -1;
      grid-column-start: 1;
    }
  }
  ion-item ion-label {
    h2 {
      font-size: 0.95rem;
      margin-bottom: 4px;
    }
    h3 {
      font-size: 0.95rem;
    }
    ul {
      padding: 0;
      padding-left: 18px;
      li {
        font-size: 0.7rem;
        color: var(--ion-color-text-dark);
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
    .item-subtitle {
      margin-top: -5px;
    }
    p {
      font-size: 0.7rem;
    }
    & h2,
    & h3,
    & p {
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
    }
    h3 {
      color: var(--ion-color-medium-shade);
      line-height: 1.2;
    }
  }
}
.item-card {
  margin-right: 0px;
  margin-left: 0px;
}
ion-fab {
  right: 35px;
  bottom: 15px;
}
.content-more {
  display: block;
  padding: 15px;
}
.content-botons {
  margin-top: -15px;
  padding-bottom: 6px;
}
