<div class="options-bar">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="inTicket" (selectionChange)="getTickets(date)">
                <mat-option [value]="true">In Tickets</mat-option>
                <mat-option [value]="false">Out Tickets</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" [(ngModel)]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>

<!-- Tickets in scale -->
<ion-card class="ion-no-margin ion-hide-sm-down">
    <div class="header-table ion-hide-sm-down">
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Customer / Ticket</ion-text>
            </ion-item>
        </div>
        <!-- =========================================== -->
        <!-- =========================================== -->
        <!-- =========================================== -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Date</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Ticket #</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Customer</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Product / Moisture / Tests Wt</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Moisture</ion-text>
            </ion-item>
        </div>
        <div class="item-content  ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Tests Wt</ion-text>
            </ion-item>
        </div>

        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Contract/ Gross/ Tare/ Net/</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Contract</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Product</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Gross</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Tare</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Net</ion-text>
            </ion-item>
        </div>
    </div>
    <!-- ================================= -->
    <div class="content-row ion-hide-sm-down" (contextmenu)="presentPopoverTicket($event, item)" (dblclick)="openDialog($event, item.ref.id)"
        *ngFor="let item of scaleTickets">
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <ion-text class="item-text-md item-ticket">Ticket # <span>{{item.displayId}}</span></ion-text>
                    <ion-text class="item-text-md item-costomer" 
                        [class.request]="item.voidRequest" 
                        [class.void]="item.void">{{item.clientName}}</ion-text>
                    <ion-text class="item-text-md item-label-small">{{item.dateOut | date}}</ion-text>
                </div>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text class="ion-hide-xl-down">{{item.dateOut | date}}</ion-text>
                <ion-text class="ion-hide-xl-up">{{item.dateOut | date}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.displayId}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text [class.request]="item.voidRequest" 
                [class.void]="item.void">{{item.clientName}}</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <ion-text class="item-text-md item-costomer">{{item.productName | uppercase}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Moisture: {{item.moisture}}%</ion-text>
                    <ion-text class="item-text-md item-ticket">TestsWt: {{item.weight}}</ion-text>
                    <!-- <ion-text class="item-text-md item-label-small" >{{item.date}}</ion-text> -->
                </div>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.moisture}}%</ion-text>
            </ion-item>
        </div>
        <div class="item-content  ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.weight}}</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <!-- <ion-text class="item-text-md item-costomer">{{item.product | uppercase}}</ion-text> -->
                    <ion-text class="item-text-md item-ticket">Contract: {{item.contractID}}</ion-text>
                    <ion-text class="item-text-md item-ticket">TestWt: {{item.weight}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Tare: {{item.tare | massInUnit}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Net: {{item.net | massInUnit}}</ion-text>
                    <!-- <ion-text class="item-text-md item-label-small" >{{item.date}}</ion-text> -->
                </div>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.contractID}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.productName}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.gross | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.tare | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.net | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content item-action" size="1">
            <ion-item button="false" lines="none" class="item-cantidas ion-no-padding">
                <ion-buttons>
                    <ion-button matTooltipPosition="before" matTooltipClass="tooltip-primary-solid" matTooltip="Options"
                        (click)="presentPopoverTicket($event, item)" color="primary" style="text-transform: none">

                        <!-- <span class="ion-hide-md-down">
                Open
              </span> -->
                        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                        <!-- <ion-icon class="ion-hide-md-up" name="open-outline" slot="icon-only"></ion-icon> -->
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </div>
    </div>
</ion-card>
<div class="ion-hide-sm-up">
    <ion-card class="item-card" *ngFor="let item of scaleTickets">
        <ion-item lines="none" button (click)="openDetails($event)">
            <ion-label slot="start">
                <h2>Ticket # <span>{{item.displayId}}</span></h2>
                <p class="item-subtitle" [class.request]="item.voidRequest" 
                [class.void]="item.void">{{item.clientName}}</p>
                <p class="item-subtitle">{{item.dateOut | date}}</p>
                <ul>
                    <li>Product: <b>{{item.productName}}</b></li>
                    <li>Moisture: <b>{{item.moisture}}</b></li>
                    <li>Test Wt: <b>{{item.weight}}</b></li>
                    <li>Gross: <b>{{item.gross | massInUnit}}</b></li>
                    <li>Tare: <b>{{item.tare | massInUnit}}</b></li>
                    <li>Net: <b>{{item.net | massInUnit}}</b></li>
                </ul>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="content-botons">
            <ion-buttons slot="end">
                <ion-button color="secondary" (click)="openDetails($event)">
                    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
                </ion-button>
                <ion-button color="tertiary" (click)="openAddicture()">
                    <ion-icon slot="icon-only" name="images-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="openDialog($event, item.ref.id)" color="primary">
                    <ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-card>
</div>

<!-- Closed tickets -->
<ion-card class="ion-no-margin ion-hide-sm-down">
    <div class="header-table ion-hide-sm-down">
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Customer / Ticket</ion-text>
            </ion-item>
        </div>
        <!-- =========================================== -->
        <!-- =========================================== -->
        <!-- =========================================== -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Date</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Ticket #</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Customer</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Product / Moisture / Tests Wt</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Moisture</ion-text>
            </ion-item>
        </div>
        <div class="item-content  ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Tests Wt</ion-text>
            </ion-item>
        </div>

        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Contract/ Gross/ Tare/ Net/</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Contract</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Product</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Gross</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Tare</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>Net</ion-text>
            </ion-item>
        </div>
    </div>
    <!-- ================================= -->
    <div class="content-row ion-hide-sm-down" (contextmenu)="presentPopoverTicket($event, item)" (dblclick)="openDialog($event, item.ref.id)"
        *ngFor="let item of paginator?.list">
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <ion-text class="item-text-md item-ticket">Ticket # <span>{{item.displayId}}</span></ion-text>
                    <ion-text class="item-text-md item-costomer" 
                        [class.request]="item.voidRequest" 
                        [class.void]="item.void">{{item.clientName}}</ion-text>
                    <ion-text class="item-text-md item-label-small">{{item.dateOut | date}}</ion-text>
                </div>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text class="ion-hide-xl-down">{{item.dateOut | date}}</ion-text>
                <ion-text class="ion-hide-xl-up">{{item.dateOut | date}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.displayId}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text [class.request]="item.voidRequest" 
                [class.void]="item.void">{{item.clientName}}</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <ion-text class="item-text-md item-costomer">{{item.productName | uppercase}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Moisture: {{item.moisture}}%</ion-text>
                    <ion-text class="item-text-md item-ticket">TestsWt: {{item.weight}}</ion-text>
                    <!-- <ion-text class="item-text-md item-label-small" >{{item.date}}</ion-text> -->
                </div>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.moisture}}%</ion-text>
            </ion-item>
        </div>
        <div class="item-content  ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.weight}}</ion-text>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-up">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <div class="content-item-text">
                    <!-- <ion-text class="item-text-md item-costomer">{{item.product | uppercase}}</ion-text> -->
                    <ion-text class="item-text-md item-ticket">Contract: {{item.contractID}}</ion-text>
                    <ion-text class="item-text-md item-ticket">TestWt: {{item.weight}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Tare: {{item.tare | massInUnit}}</ion-text>
                    <ion-text class="item-text-md item-ticket">Net: {{item.net | massInUnit}}</ion-text>
                    <!-- <ion-text class="item-text-md item-label-small" >{{item.date}}</ion-text> -->
                </div>
            </ion-item>
        </div>
        <!-- #################################### -->
        <!-- #################################### -->
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.contractID}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-lg-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.productName}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.gross | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.tare | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content ion-hide-md-down" size="1">
            <ion-item lines="none" class="item-cantidas ion-no-padding">
                <ion-text>{{item.net | massInUnit}}</ion-text>
            </ion-item>
        </div>
        <div class="item-content item-action" size="1">
            <ion-item button="false" lines="none" class="item-cantidas ion-no-padding">
                <ion-buttons>
                    <ion-button matTooltipPosition="before" matTooltipClass="tooltip-primary-solid" matTooltip="Options"
                        (click)="presentPopoverTicket($event, item)" color="primary" style="text-transform: none">

                        <!-- <span class="ion-hide-md-down">
                Open
              </span> -->
                        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                        <!-- <ion-icon class="ion-hide-md-up" name="open-outline" slot="icon-only"></ion-icon> -->
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </div>
    </div>
</ion-card>
<div class="ion-hide-sm-up">
    <ion-card class="item-card" *ngFor="let item of paginator?.list">
        <ion-item lines="none" button (click)="openDetails($event)">
            <ion-label slot="start">
                <h2>Ticket # <span>{{item.displayId}}</span></h2>
                <p class="item-subtitle" [class.request]="item.voidRequest" 
                [class.void]="item.void">{{item.clientName}}</p>
                <p class="item-subtitle">{{item.dateOut | date}}</p>
                <ul>
                    <li>Product: <b>{{item.productName}}</b></li>
                    <li>Moisture: <b>{{item.moisture}}</b></li>
                    <li>Test Wt: <b>{{item.weight}}</b></li>
                    <li>Gross: <b>{{item.gross | massInUnit}}</b></li>
                    <li>Tare: <b>{{item.tare | massInUnit}}</b></li>
                    <li>Net: <b>{{item.net | massInUnit}}</b></li>
                </ul>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="content-botons">
            <ion-buttons slot="end">
                <ion-button color="secondary" (click)="openDetails($event)">
                    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
                </ion-button>
                <ion-button color="tertiary" (click)="openAddicture()">
                    <ion-icon slot="icon-only" name="images-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="openDialog($event, item.ref.id)" color="primary">
                    <ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-card>
</div>

<ion-infinite-scroll threshold="200px" (ionInfinite)="infiniteTickets($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
