
<ng-container *transloco="let t; read: 'contracts.info'">
  <ol class="collection">
    <mat-card class="header-card">
      <li class="row">
        <!-- <div class="cell">Liquidation</div>
        <div class="cell">Type</div>
        <div class="cell">Amount</div>
        <div class="cell button">Proof of Payment</div> -->

        <div class="cell" *ngFor="let field of arrayTableFields" class="{{ field.dataType }}">{{ field.header }}</div>
      </li>
    </mat-card>
    <mat-card class="body-card" *ngIf="true else noItems">
      <li class="row" *ngFor="let payment of testData; let index = index">
        <!-- <div class="cell">{{ payment.liquidation }}</div>
        <div class="cell">{{ payment.type }}</div>
        <div class="cell">{{ payment.amount }}</div>
        <div class="cell button">
          <button mat-icon-button [color]="payment.proofOfPaymentDocs?.length > 0 ? 'primary' : 'accent'">
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </div> -->
        
        <div class="cell" *ngFor="let field of arrayTableFields" [class]="field.dataType">
          <ng-container *ngTemplateOutlet="field.dataType | templateRef; context: { $implicit: field, data: testData, index: index }"></ng-container>
          {{ payment[field.key] }}
        </div>
      </li>
    </mat-card>
  </ol>

  <ng-template #noItems>
    <div class="no-items"><i>{{ t('No Items to Display') }}</i></div>
  </ng-template>

  <ng-template templateRef="text" let-field let-data="data">
    {{ data[field.key] }}
  </ng-template>

  <ng-template templateRef="button" let-field let-data="data">
    <button mat-icon-button [color]="'accent'" (click)="field.action(data)">
      <mat-icon>{{ field.icon }}</mat-icon>
    </button>
  </ng-template>
</ng-container>
