.snack-container, .main-icon {
    display: flex;
    align-items: center;
}

.snack-container {
    button {
        margin-left: auto;
        mat-icon{
            font-size: 17px;
        }
    }
}
.text {
    padding: 0 12px;
    white-space: pre-line;
}