.snack-container {
    display: flex;
    align-items: center;

    button {
        margin-left: auto;
        width: 40px !important;
        min-width: unset !important;

        .mat-icon{
            font-size: 17px;
        }
    }
}