<ion-header translucent class="ion-hide-md-up ion-no-border">
    <!-- ion-no-border -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- <ion-title></ion-title> -->
        <!-- <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="medium">
                CANCEL
            </ion-button>
            <ion-button color="primary">
                APPLY
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *transloco="let t; read: 'actions'">
    <h2 mat-dialog-title>{{ t('Add Picture') }}</h2>
    <ngx-dropzone  accept="image/*" (change)="onSelect($event)">
        <ngx-dropzone-label>
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <h3>{{ t('Add files') }}</h3>
            <p>{{ t('Simply drag and drop elements') }}</p>
        </ngx-dropzone-label>
        <!-- <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>({{ f.type }})  
        </ngx-dropzone-preview> -->
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label class="label-img">{{ f.name | slice:0:15}} </ngx-dropzone-label>
        </ngx-dropzone-image-preview>
    </ngx-dropzone>
</ion-content>
<mat-dialog-actions align="end" class="ion-padding" *transloco="let t; read: 'actions'">
    <ion-button (click)="closeModal()" fill="clear" color="dark">
        {{ t('Cancel') }}
    </ion-button>
    <ion-button cdkFocusInitial [mat-dialog-close]="true" fill="solid" color="primary">
        {{ t('Save') }}
    </ion-button>
</mat-dialog-actions>