
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  min-width: 100vh;
}
ngx-dropzone-label {
  display: grid;
  justify-content: center;
  justify-items: center;
  ion-icon {
    font-size: 3rem;
    color: var(ion-color-dark);
    text-align: left;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: var(ion-color-dark);
  }
  p {
    font-size: 0.85rem;
    color: var(ion-color-medium);
  }
}
ngx-dropzone-image-preview {
  position: relative;
}
.label-img {
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 0.9rem;
  color: var(--ion-color-light);
}

ngx-dropzone {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100%;
  justify-content: center;
  min-height: 250px;
  max-height: 340px;
  background: var(--ion-color-light);
}
ion-content{
  --background:  var(--ion-background-color, #fff);
}
@media screen and (max-width: 720px) {
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-content {
    min-width: 55vh;
  }
}
