<ng-container *transloco="let t, read: 'loadOrders'">
  <h2 mat-dialog-title>Load Order</h2>

  <div mat-dialog-content>
    <section>
      <div>
        <h3>Shipped From</h3>
        <form #sellerForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Shipper</mat-label>
            <input matInput type="text" [matAutocomplete]="sellerAuto" [formControl]="sellerControl" [value]="this.order.sellerName">
            <mat-autocomplete #sellerAuto="matAutocomplete" autoActiveFirstOption>
              <mat-option [value]="currentCompanyName" *ngIf="order.buyerName !== currentCompanyName">{{ currentCompanyName }}</mat-option>
              <mat-option *ngFor="let contact of sellerFilteredContacts | async; trackBy: itemName" [value]="contact.name" [disabled]="contact.name === order.buyerName">
                {{ contact.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-form-field appearance="fill" *ngIf="order.sellerName === currentCompanyName else companyContractSelector">
          <mat-label>{{t('contract')}}</mat-label>
          <mat-select [(ngModel)]="currentContractID" (ngModelChange)="contractChange()">
            <mat-option>None</mat-option>
            <mat-optgroup *ngFor="let contractGroup of groupedContracts | async | keyvalue" [label]="contractGroup.key | titlecase">
              <mat-option *ngFor="let contract of contractGroup.value" [value]="contract.ref.id">
                {{contract.id + ": " + contract.clientName}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <ng-template #companyContractSelector>
          <mat-form-field appearance="fill">
            <mat-label>Contract ID</mat-label>
            <input matInput type="text" [(ngModel)]="order.sellerContractID">
          </mat-form-field>
        </ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Warehouse</mat-label>
          <input matInput type="text" [(ngModel)]="order.sellerWarehouse">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput type="text" [(ngModel)]="order.sellerAddress">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date Loaded</mat-label>
          <input matInput [matDatepicker]="dateLoadedPicker" [(ngModel)]="order.dateLoaded">
          <mat-datepicker-toggle matSuffix [for]="dateLoadedPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateLoadedPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <h3>Shipped To</h3>
        <form #buyerForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Consignee</mat-label>
            <input matInput type="text" [matAutocomplete]="buyerAuto" [formControl]="buyerControl">
            <mat-autocomplete #buyerAuto="matAutocomplete" autoActiveFirstOption>
              <mat-option [value]="currentCompanyName" *ngIf="order.sellerName !== currentCompanyName">{{ currentCompanyName }}</mat-option>
              <mat-option *ngFor="let contact of buyerFilteredContacts | async; trackBy: itemName" [value]="contact.name" [disabled]="contact.name === order.sellerName">
                {{ contact.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-form-field appearance="fill" *ngIf="order.buyerName === currentCompanyName else companyContractSelector">
          <mat-label>{{t('contract')}}</mat-label>
          <mat-select [(ngModel)]="currentContractID" (ngModelChange)="contractChange()">
            <mat-option>None</mat-option>
            <mat-optgroup *ngFor="let contractGroup of groupedContracts | async | keyvalue" [label]="contractGroup.key | titlecase">
              <mat-option *ngFor="let contract of contractGroup.value" [value]="contract.ref.id">
                {{contract.id + ": " + contract.clientName}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <ng-template #companyContractSelector>
          <mat-form-field appearance="fill">
            <mat-label>Contract ID</mat-label>
            <input matInput type="text" [(ngModel)]="order.sellerContractID">
          </mat-form-field>
        </ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Warehouse</mat-label>
          <input matInput type="text" [(ngModel)]="order.buyerWarehouse">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput type="text" [(ngModel)]="order.buyerAddress">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date Unloaded</mat-label>
          <input matInput [matDatepicker]="dateUnloadedPicker" [(ngModel)]="order.dateUnloaded" [min]="order.dateLoaded">
          <mat-datepicker-toggle matSuffix [for]="dateUnloadedPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateUnloadedPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </section>
    <!-- <mat-form-field appearance="fill">+ titlecase}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div>
      <h3>Transport</h3>
      <mat-form-field appearance="fill">
        <mat-label>{{t('transport')}}</mat-label>
        <!-- <mat-select [(ngModel)]="currentTransportID" (ngModelChange)="transportChange()">
          <mat-option *ngFor="let contact of selectableTransport" [value]="contact.id">{{contact.name | uppercase}}</mat-option>
        </mat-select> -->
        <input matInput type="text" [matAutocomplete]="transportAuto" [formControl]="transportControl" (ngModelChange)="transportChange()">
        <mat-autocomplete #transportAuto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let contact of filteredTransportList | async; trackBy: itemName" [value]="contact.name">
            {{ contact?.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{t('driver')}}</mat-label>
        <input matInput type="text" [(ngModel)]="order.driver">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{t('truck plates')}}</mat-label>
        <input matInput type="text" [(ngModel)]="order.carPlates">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{t('box plates')}}</mat-label>
        <input matInput type="text" [(ngModel)]="order.plates">
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <span matPrefix>$</span>
        <span matSuffix>CWT</span>
        <mat-label>{{t('freight')}}</mat-label>
        <input matInput type="number" [(ngModel)]="order.freight.amount">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Unit Type</mat-label>
        <mat-select [(ngModel)]="order.unitType">
          <mat-option value="single">Single</mat-option>
          <mat-option value="double">Double</mat-option>
          <mat-option value="hopper">Hopper</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3>Product & Weight</h3>
    <mat-form-field appearance="fill">
      <mat-label>Commodity</mat-label>
      <mat-select [(ngModel)]="order.productName">
        <mat-option *ngFor="let product of productsList" [value]="product">{{ product }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Grade</mat-label>
      <!-- <input matInput type="number" [(ngModel)]="order.productGrade"> -->
      <mat-select [(ngModel)]="order.productGrade" value="U.S. GRADE 2 OR BETTER">
        <mat-option value="U.S. GRADE 2 OR BETTER">U.S. GRADE 2 OR BETTER</mat-option>
        <mat-option value="GRADE 3">GRADE 3</mat-option>
        <mat-option value="GRADE 4">GRADE 4</mat-option>
        <mat-option value="SAMPLE GRADE">SAMPLE GRADE</mat-option>
      </mat-select>
    </mat-form-field>
    <section>
      <div>
        <h4>Loading</h4>
        <mat-form-field appearance="fill">
          <mat-label>Gross</mat-label>
          <input matInput type="number" [(ngModel)]="order.loadingGross">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tare</mat-label>
          <input matInput type="number" [(ngModel)]="order.loadingTare">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Net</mat-label>
          <input matInput type="number" [(ngModel)]="order.loadingNet">
        </mat-form-field>
      </div>
      <div>
        <h4>Unloading</h4>
        <mat-form-field appearance="fill">
          <mat-label>Gross</mat-label>
          <input matInput type="number" [(ngModel)]="order.unloadingGross">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tare</mat-label>
          <input matInput type="number" [(ngModel)]="order.unloadingTare">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Net</mat-label>
          <input matInput type="number" [(ngModel)]="order.unloadingNet">
        </mat-form-field>
      </div>
    </section>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>{{t('cancel')}}</button>
    <button mat-flat-button mat-dialog-close="true">{{t('submit')}}</button>
  </div>
</ng-container>