<app-header-toolbar [titulo]="('invoices.'+'Invoice' | transloco)+ ' ' + invoice.id" *ngIf="invoice"></app-header-toolbar>
<ion-content *ngIf="invoice">
  <ion-row *transloco="let t; read: 'invoices'">
    <ion-col size='6'>
      <ion-card>
        <ion-card-header>{{ t("Seller Info") }}</ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size='7'>
                <span class="info-label">{{ t("Name") }}:</span>
                <span class="info-content">{{invoice.seller.name}}</span>
              </ion-col>
              <ion-col size='5'>
                <span class="info-label">{{ t("Phone") }} #</span>
                <span class="info-content">{{invoice.seller.phone}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="info-label">{{ t("Street") }}</span>
                <span class="info-content">{{invoice.seller.street}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='5'>
                <span class="info-label">{{ t("City") }}</span>
                <span class="info-content">{{invoice.seller.city}}</span>                
              </ion-col>
              <ion-col size='2'>              
                <span class="info-label">ZIP</span>
                <span class="info-content">{{invoice.seller.zip}}</span>                
              </ion-col>
              <ion-col size='2'>              
                <span class="info-label" >{{ t("State") }}</span>
                <span class="info-content">{{invoice.seller.state}}</span>                
              </ion-col>
              <ion-col size='3'>              
                <span class="info-label">{{ t("Country") }}</span>
                <span class="info-content">{{invoice.seller.country}}</span>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <ion-card-header>{{ t("Buyer Info") }}</ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size='7'>
                <span class="info-label">{{ t("Name") }}:</span>
                <span class="info-content">{{invoice.buyer.name}}</span>
              </ion-col>
              <ion-col size='5'>
                <span class="info-label">{{ t("Phone") }} #</span>
                <span class="info-content">{{invoice.buyer.phone}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="info-label">{{ t("Street") }}</span>
                <span class="info-content">{{invoice.buyer.street}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='5'>
                <span class="info-label">{{ t("City") }}</span>
                <span class="info-content">{{invoice.buyer.city}}</span>                
              </ion-col>
              <ion-col size='2'>              
                <span class="info-label">ZIP</span>
                <span class="info-content">{{invoice.buyer.zip}}</span>                
              </ion-col>
              <ion-col size='2'>              
                <span class="info-label" >{{ t("State") }}</span>
                <span class="info-content">{{invoice.buyer.state}}</span>                
              </ion-col>
              <ion-col size='3'>              
                <span class="info-label">{{ t("Country") }}</span>
                <span class="info-content">{{invoice.buyer.country}}</span>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col *ngFor="let item of invoice.items; let i = index" size="6">
      <ion-card>
        <ion-card-header>
          <span>{{ t("Item") }} {{i + 1}}</span>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field>
                    <mat-label>{{ t("Item Name") }}</mat-label>
                    <input matInput disabled [value]="item.name">
                  </mat-form-field>
                </ion-col>
                <ion-col size="2">
                  <mat-form-field>
                    <mat-label>{{ t("Quantity") }}</mat-label>
                    <input matInput type="number" disabled [value]="item.quantity">
                  </mat-form-field>
                </ion-col>
                <ion-col size="2">
                  <mat-form-field>
                    <mat-label>{{ t("Price") }}</mat-label>
                    <div matPrefix>$</div>
                    <input matInput type="number" disabled [value]="item.price">
                  </mat-form-field>
                </ion-col>
                <ion-col size="2">
                  <mat-checkbox [(ngModel)]="item.affectsInventory">Inv.</mat-checkbox>
                </ion-col>
              </ion-row>
              <div>
                <div>
                  <ion-row *ngFor="let info of item.inventoryInfo; let i = index">
                    <ion-col size="1">
                      <button mat-icon-button color='warn' (click)="deleteInfo(item.inventoryInfo, i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </ion-col>
                    <ion-col size="3">
                      <mat-form-field>
                        <mat-label>{{ t("Product") }}</mat-label>
                        <mat-select [(ngModel)]="info.product">
                          <mat-option *ngFor="let product of productList" value={{product.ref.id}}>{{product.ref.id}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-col>
                    <ion-col size="2">
                      <mat-form-field>
                        <mat-label>{{ t("Quantity") }}</mat-label>
                        <input matInput type="number" [(ngModel)]="info.quantity">
                        <div matSuffix>lbs</div>
                      </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                      <mat-form-field>
                        <mat-label>{{ t("Plant") }}</mat-label>
                        <mat-select [(ngModel)]="info.plant">
                          <mat-option *ngFor="let plant of plantsList" value="{{plant.ref.id}}" >{{plant.ref.id | titlecase}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                      <mat-form-field>
                        <mat-label>{{ t("Storage") }}</mat-label>
                        <mat-select [disabled]="!info.plant" [(ngModel)]="info.tank">
                          <mat-option *ngFor="let tank of getPlantInv(info.plant)" value="{{tank.name}}">{{tank.name}}</mat-option>
                          <mat-option value="none">{{ t("None") }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <button mat-button color="primary" (click)="addInvButton(item.inventoryInfo)">+ {{ t("Add Inv") }}...</button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <button mat-button color="primary" (click)="submit()" [disabled]="!formValid()">{{"actions."+"Submit" | transloco}}</button>
</ion-content>
