<app-header-toolbar titulo="Prices"></app-header-toolbar>


<ion-content class="ion-padding">
  <div class="table-space" *ngFor="let priceType of pricesTable | keyvalue">
    <div class="content-subtitle_small-inventory">
      <button mat-icon-button color="primary" (click)="renameTable(priceType.key)">
        <mat-icon>edit</mat-icon>
      </button>
      <h4>
        <span>
          {{ priceType.key }}
        </span>
      </h4>
      
    </div>
    <button
      mat-button
      color="primary"
      (click)="addNewColumn(priceType.key)"
      >+ Add Column
    </button>
    <button 
      mat-button 
      color="primary" 
      (click)="addNewRow(priceType.key)"
      >+ Add Row
    </button>

    <div class="horizontal-scroll">
      <table class="prices-table">
        <tr class="prices-table-row">
          <th class="prices-table-cell prices-table-field-name">
            Productos
          </th>
          <th class="prices-table-cell prices-table-field-name" *ngFor="let location of priceType.value.locationNames; let first = first; let index = index">
            <button mat-icon-button color="primary" (click)="renameField(priceType.key, 0, index)">
              <mat-icon>edit</mat-icon>
            </button>
            {{location}}
          </th>
        </tr>
        <tr class="prices-table-row" *ngFor="let productType of priceType.value.productNames; let index = index">
          <td class="prices-table-cell prices-table-field-name">
            <button mat-icon-button color="primary" (click)="renameField(priceType.key, 1, index)">
              <mat-icon>edit</mat-icon>
            </button>
            {{productType}}
          </td>
          <td class="prices-table-cell" *ngFor="let location of priceType.value.locationNames; let first = first">
            <mat-form-field appearance="outline" [style.width.px]="150">
              <input
                matInput
                [(ngModel)]="priceType.value.prices
                  [priceType.value.productNames.indexOf(productType)]
                  [priceType.value.locationNames.indexOf(location)]
              ">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="action-bar">
    <button
      mat-flat-button
      color="primary"
      (click)="addNewTable()"
      >+ Add table
    </button>

    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      >Submit
    </button>
  </div>
</ion-content>
