<div>
  <ion-header>
    <ion-item>Select Status:</ion-item>
  </ion-header>
  <ion-list>
    <ion-radio-group [(ngModel)]="status">
      <ion-item>
        <ion-label>Pending</ion-label>
        <ion-radio slot="start" value="pending"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Active</ion-label>
        <ion-radio slot="start" value="active"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Closed</ion-label>
        <ion-radio slot="start" value="closed"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Cancelled</ion-label>
        <ion-radio slot="start" value="cancelled"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button class="submit" (click)="submit()">Done</ion-button>
</div>
