.action-bar {
	display: flex;
	justify-content: space-between;
	grid-column-end: span 2;
	margin-inline: 0.5rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
    width: 250px;
    font-size: 1.15em;
}