<app-header-toolbar titulo="Contract Settings"></app-header-toolbar>

<ion-content class="ion-padding">
  <div *ngFor="let contractName of settings?.contractTypes | keyvalue">
    <h1>
      {{contractName.key}}
      <button mat-button (click)="addGroup(contractName.value)">Add Group</button>
    </h1>
    <mat-card *ngFor="let fieldGroupName of settings.fieldGroupOrder[contractName.value]">
      <mat-card-header>
        <mat-card-title>
          {{fieldGroupName}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let item of settings.formData[contractName.value][fieldGroupName]">
          <mat-form-field>
            <label>Label</label>
            <input matInput [(ngModel)]="item.label">
          </mat-form-field>
          <mat-form-field>
            <label>Field Name</label>
            <input matInput [(ngModel)]="item.fieldName">
          </mat-form-field>
          <mat-form-field>
            <label>Type</label>
            <input matInput [(ngModel)]="item.type">
          </mat-form-field>
          <mat-form-field>
            <label>Width</label>
            <input matInput [(ngModel)]="item.width">
          </mat-form-field>
          <mat-form-field>
            <label>Class</label>
            <input matInput [(ngModel)]="item.class">
          </mat-form-field>
          <mat-form-field>
            <label>primitiveType</label>
            <input matInput [(ngModel)]="item.primitiveType">
          </mat-form-field>
          <mat-card-subtitle>Select Options</mat-card-subtitle>
          <div class="select-option-row" *ngFor="let option of item.selectOptions">
            <mat-form-field>
              <label>Label</label>
              <input matInput [(ngModel)]="option.label">
            </mat-form-field>
            <mat-form-field>
              <label>Value</label>
              <input matInput [(ngModel)]="option.value">
            </mat-form-field>
          </div>
          <hr>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
