<app-header-toolbar titulo="Contract Settings"></app-header-toolbar>

<ion-content class="ion-padding">
  <button mat-flat-button color="primary" (click)="submit()">Submit</button>
  <div *ngFor="let contractName of settings?.contractTypes | keyvalue">
    <h1>
      {{contractName.key}}
      <button mat-button (click)="addGroup(contractName.value)">Add Group</button>
    </h1>
    <mat-card *ngFor="let fieldGroupName of settings.fieldGroupOrder[contractName.value]">
      <mat-card-header>
        <mat-card-title>
          <button mat-flat-button color="warn" (click)="removeGroup(contractName.value, fieldGroupName)">Delete Group</button>
          {{fieldGroupName}}
          <button mat-button (click)="addField(contractName.value, fieldGroupName)">Add Field</button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="group-section" *ngFor="let item of settings.formData[contractName.value][fieldGroupName]; let fieldIndex = index">
          <button mat-flat-button color="warn" class="delete-field-button" (click)="removeField(contractName.value, fieldGroupName, fieldIndex)">Delete</button>
          <mat-form-field appearance="fill">
            <mat-label>Label</mat-label>
            <input matInput [(ngModel)]="item.label">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput [(ngModel)]="item.type">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Class</mat-label>
            <input matInput [(ngModel)]="item.class">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Field Name</mat-label>
            <input matInput [(ngModel)]="item.fieldName">
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="item.type == 'nested-primitive'">
            <mat-label>Nested Field Name</mat-label>
            <input matInput [(ngModel)]="item.nestedField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Primitive Type</mat-label>
            <input matInput [(ngModel)]="item.primitiveType">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Width</mat-label>
            <input matInput [(ngModel)]="item.width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Prefix</mat-label>
            <input matInput [(ngModel)]="item.prefix">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Suffix</mat-label>
            <input matInput [(ngModel)]="item.suffix">
          </mat-form-field>
          <div *ngIf="item.primitiveType == 'select'" class="select-area">
            <mat-card-subtitle>
              Select Options
              <button mat-button (click)="addSelectOption(contractName.value, fieldGroupName, fieldIndex)">Add select option</button>
            </mat-card-subtitle>
            <div class="select-option-row" *ngFor="let option of item.selectOptions; let optionIndex = index">
              <button mat-icon-button (click)="removeSelectOption(contractName.value, fieldGroupName, fieldIndex, optionIndex)">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-form-field appearance="fill">
                <mat-label>Label</mat-label>
                <input matInput [(ngModel)]="option.label">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Value</mat-label>
                <input matInput [(ngModel)]="option.value">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
