mat-card {
    margin-bottom: 1rem;
}

.select-option-row {
    display: flex;
    gap: .7rem;
}

.group-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .7rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.delete-field-button, .select-area {
    grid-column-end: span 3;
}

.fields-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 1rem;
}

mat-panel-description {
    justify-content: end;
}