<h2 mat-dialog-title>{{ "tickets.discounts.Discount Table" | transloco }}</h2>
<mat-dialog-content *transloco="let t; read: 'tickets.discounts'">
  <div class="table-row" *ngFor="let discount of discounts; let index = index">
    <mat-form-field>
      <mat-label>{{ t('Discount Name') }}</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="discount[0]">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="infested">{{ t('infested') }}</mat-option>
        <mat-option value="musty">{{ t('musty') }}</mat-option>
        <mat-option value="sour">{{ t('sour') }}</mat-option>
        <mat-option value="weathered">{{ t('weathered') }}</mat-option>
        <mat-option value="inspection">{{ t('inspection') }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('Amount') }}</mat-label>
      <span matTextPrefix>$&nbsp;</span>
      <input type="number" matInput [(ngModel)]="discount[1]">
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="remove(index)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-flat-button (click)="newDiscount()">+ {{ "actions.Add New" | transloco }}</button>
</mat-dialog-content>
<mat-dialog-actions *transloco="let t; read: 'actions'">
  <button mat-flat-button mat-dialog-close color="warn">{{ t('Cancel') }}</button>
  <button mat-flat-button (click)="submit()" [disabled]="submitting" color="primary">{{ t('Submit') }}</button>
</mat-dialog-actions>