<div class="page-style main">
	<div class="text-align-right"><b>No. de contrato:</b><span [printableField]="'id'" >{{contractForm.id ?? " "}}</span></div>
	<div class="text-align-justify introduction">
		CONTRATO DE COMPRA-VENTA DE <b><span [printableField]="'product'" >{{contractForm?.product?.id}}</span></b> EN LO SUCESIVO DENOMINADO “PRODUCTO”, QUE CELEBRAN POR UNA PARTE, <b>AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV</b>, EN LO SUCESIVO DENOMINADO “EL VENDEDOR”, REPRESENTADA EN ESTE ACTO POR EL SEÑOR <b>RUBEN DARIO PUGA JUAREZ</b>, EN SU CARÁCTER DE APODERADO LEGAL, Y POR LA OTRA PARTE <b><span [printableField]="'clientInfo.name'" >{{contractForm?.clientInfo?.name || 'XXXXXXXXXXXXXXXXX'}}</span></b>, EN LO SUCESIVO DENOMINADO “EL COMPRADOR”, REPRESENTADA EN ESTE ACTO POR <b><span [printableField]="'clientInfo.clientRep'" >{{ contractForm?.clientInfo?.clientRep || 'XXXXXXXXXXXX'}}</span></b>, EN SU CARÁCTER DE APODERADO LEGAL, EN LO SUCESIVO DENOMINADOS CONJUNTAMENTE LOS CONTRATANTES COMO “LAS PARTES”, DE CONFORMIDAD CON LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:
	</div>
	<div class="text-align-center section-header-spaced">DECLARACIONES</div>
	<ol type="I" class="declarations text-align-justify">
		<li>
			- DE <b>“EL VENDEDOR”</b>:
			<br>
			PERSONAS MORALES
			<ol type="1">
				<li>
					Sociedad mercantil, constituida de conformidad con las leyes mexicanas bajo la denominación de <u>Agropecuaria La Capilla del Noreste, SA de CV;</u> como se acredita con la Escritura Pública número <u>860</u>, de fecha <u>11 de Febrero de 2011</u> y que el señor <u>Rubén Darío Puga Juárez</u>, en su carácter de <u>Representante Legal</u>, está facultado para celebrar este contrato y cuyas facultades no le han sido limitadas, modificadas o revocadas a la fecha.
					<ol class="letter-parenthesis-list">
						<li>
							Que dentro de su objeto social se encuentra: compra, venta, comercialización, distribución, acopio, consumo, importación y/o exportación de todo tipo de granos, materias primas e insumos propios de la actividad agropecuaria, así como la realización de cualquier otra actividad afín o conexa con el sector agropecuario;
						</li>
					</ol>
				</li>
				<li>
					Que su Registro Federal de Contribuyentes es: <u>ACN980211QC9</u> y se encuentra al corriente de sus obligaciones.
				</li>
				<li>
					Que la Clave Única de Registro de Población (CURP) del apoderado legal es:
				</li>
				<li>
					Que señala como domicilio para los fines y efectos legales a que haya lugar derivados del presente contrato, el ubicado en: <u>Zaragoza entre 1ª y 2ª SN, Valle Hermoso, Tamaulipas CP 87500</u> correo electrónico <u><span [printableField]="'companyInfo.email'" >{{contractForm?.companyInfo?.email || 'XXXXX'}}</span></u> y teléfono <u><span [printableField]="'companyInfo.phone'" >{{contractForm?.companyInfo?.phone || 'XXXXX'}}</span></u>.
				</li>
			</ol>
		</li>
		<li>
			- DE <b>“EL COMPRADOR”</b>:
			<ol type="1">
				<li>
                    Que es una sociedad mercantil constituida de conformidad con las leyes mexicanas, bajo la denominación de <u><span class="party-name" [printableField]="'clientInfo.name'">{{contractForm?.clientInfo?.name || 'XXXXXXXXXXXXXXXXX'}}</span></u>, <span [hidden]="!contractForm?.clientInfo?.notarialAct">como se acredita con la Escritura Pública número <u><span [printableField]="'clientInfo.notarialAct'">{{contractForm?.clientInfo?.notarialAct || 'XXXXX'}}</span></u>, de fecha <u><span [printableField]="'clientInfo.notarialActDate'">{{(contractForm?.clientInfo?.notarialActDate | date:undefined:undefined:'es-MX' | uppercase) || 'XXXXXXXX'}}</span></u>,</span> y que el señor <u><span [printableField]="'clientInfo.clientRep'">{{ contractForm?.clientInfo?.clientRep || "XXXXXXXX"}}</span></u>, en su carácter de <u>Apoderado Legal</u>, está facultado para celebrar este contrato.
                </li>
                <li>
                    Que su Registro Federal de Contribuyentes es: <u><span [printableField]="'clientInfo.rfc'">{{contractForm?.clientInfo?.rfc || 'XXXXXXXXXXX'}}</span></u> y se encuentra al corriente de sus obligaciones.
                </li>
                <li [hidden]="!contractForm?.clientInfo?.curp">
                    Que la Clave Única de Registro de Población (CURP) del apoderado legal es: <span [printableField]="'clientInfo.curp'">{{contractForm?.clientInfo?.curp}}</span>
                </li>
                <li>
                    Que señala como domicilio para los fines y efectos legales a que haya lugar, derivados del presente contrato, el ubicado en <u><span [printableField]="'clientInfo.city'">{{contractForm?.clientInfo?.city}}</span></u>, correo electrónico <u><span [printableField]="'clientInfo.email'">{{contractForm?.clientInfo?.email || 'XXXXXXXXXXXXX'}}</span></u> y teléfono <u><span [printableField]="'clientInfo.phoneNumber'">{{contractForm?.clientInfo?.phoneNumber || 'XXXXXXXXXXXXX'}}</span></u>.
                </li>
			</ol>
		</li>
		<li>
			- DE <b>“LAS PARTES”</b>
			<ol type="1">
				<li>
					“Dictamen Jurídico” Que el formato denominado “ANEXO 1”  que se adhiere al contrato suscrito por “LAS PARTES”, forma parte integral del presente contrato, el cual contiene la información siguiente: Fecha, Producto, Tipo de carga, Precio, Divisa, Tipo de Cambio, Cantidad, Calidad garantizada, humedad máxima , Forma de entrega, Seguro de tránsito, Lugar de entrega, Pesos, Mermas, Periodo de embarque, Condiciones de retiro Demoras de descargas, Almacenaje y fumigación, Condiciones de pago, Demoras en pagos, Términos de Pago, Anticipos, Formas de pago, Cuentas y bancos de pago, ejecutivo de ventas y el nombre y firma de “EL VENDEDOR” y “EL COMPRADOR”.
				</li>
				<li>
					Que en la celebración del presente contrato no ha existido mala fe, error, dolo o violencia de ningún tipo y que las contraprestaciones establecidas en el mismo son las justas, por lo que es su libre voluntad celebrar este contrato de compraventa a término y obligarse de acuerdo con las siguientes:
				</li>
			</ol>
		</li>
	</ol>
	<div class="text-align-center section-header-spaced">CLAUSULAS</div>
	<div class="text-align-justify">
		<b>PRIMERA. &#8211; OBJETO.</b> - Que declaran, bajo protesta de decir verdad, que al amparo del presente “CONTRATO” celebran una compraventa a término por <span [class.focused]="focusedField == 'quantity.amount' || focusedField == 'quantity.defaultUnits'">{{ contractForm.quantity | massInUnit:'mTon':contractForm.quantity.defaultUnits:contractForm.quantity.amount || 'XXXX'}}</span> toneladas del “PRODUCTO” y que quienes firman se encuentran facultados para suscribirlo en su nombre y representación.
		<br>
		<b>SEGUNDA. &#8211; CALIDAD.</b> - El "VENDEDOR” se compromete a entregar el “PRODUCTO” al “COMPRADOR” dentro de los parámetros y especificaciones establecidos en el “ANEXO 1”. Las muestras serán tomadas en el momento y lugar de carga, mismas que serán identificadas y resguardadas. En caso de tener alguna discrepancia respecto a la calidad del “PRODUCTO” las “PARTES” acuerdan sujetarse a un análisis de un tercero certificado para definir dicha calidad, sometiéndose a los resultados.
		<br>
		<b>TERCERA. &#8211; PRECIO Y PAGO.</b> - El "COMPRADOR” se obliga a pagar a “EL VENDEDOR” el precio pactado del “PRODUCTO” conforme lo establecido en el “CONTRATO DE COMPRAVENTA” de la forma, números de cuenta y bancos indicados por “EL VENDEDOR”.
		<br>
		<b>CUARTA. &#8211; ANTICIPO.</b> - “LAS PARTES” acuerdan que el “COMPRADOR” pagará a “EL VENDEDOR”, un anticipo constituido por lo que resulte de multiplicar el valor total del contrato por el porcentaje determinado en el “ANEXO 1”, especificando el monto y fecha de pago. El anticipo se tomará a cuenta de pago en su equivalente a los últimos embarques del contrato y no podrá ser tomado antes de que esto suceda.  En caso de incumplimiento del contrato se tomará como pago el anticipo para resolver el incumplimiento y “EL VENDEDOR” podrá determinar y facturar al “COMPRADOR” otros cargos por pago de daños y/o perjuicios, entre otros en caso de que el precio de “EL PRODUCTO” baje “EL COMPRADOR” deberá pagar el importe que resulte de multiplicar la caída en el precio por las toneladas no pagadas.
		<br>
		<b>QUINTA. &#8211; INCUMPLIMIENTO DE PAGOS.</b> - En caso de una demora de pago se cobrarán los intereses (TIIE +6) * 1.5 en la moneda indicada. Tal cargo se muestra en el “ANEXO 1”.
		<br>
		<b>SEXTA. &#8211; ENTREGAS Y CONDICIONES DE CARGA.</b> - “EL VENDEDOR” se obliga a entregar el “PRODUCTO” a “EL COMPRADOR” en el lugar, plazo y/o programa señalado en el “ANEXO 1”. “LAS PARTES” acuerdan que cualquier modificación al lugar de entrega y/o cualquier otro dato que modifique los asentados en la presente cláusula, deberá ser formalizado por escrito con una anticipación mínima de 48 horas.
		<br>
		<b>SÉPTIMA. &#8211; INCUMPLIMIENTO DE RETIROS.</b> - En caso de que “EL COMPRADOR” por causas ajenas a “EL VENDEDOR” no cumpla con las <b>condiciones de retiro</b> establecidas en el “CONTRATO DE COMPRAVENTA” se obliga a cubrir a “EL VENDEDOR” el importe del “PRODUCTO” no retirado, dentro de las 24 horas posteriores al plazo vencido de retiro, y de no cubrirlo el “PRODUCTO” quedará a disposición del “VENDEDOR” para su venta.
		<br>
		<b>OCTAVA. &#8211; EMBARQUES.</b> - Para proceder con las cargas “EL COMPRADOR” se obliga a notificar por escrito con un plazo mínimo de 24 horas a “EL VENDEDOR” las instrucciones de embarque, información de unidades y operadores, quienes al llegar al lugar de carga se identificarán para corroborar su identidad, así como asegurar la limpieza y condiciones de las unidades para realizar las cargas. “EL VENDEDOR” se reserva el derecho de carga de no cumplirse las condiciones y limpieza de las unidades.
		<br>
		<b>NOVENA. &#8211; ALMACENAJE Y FUMIGACIÓN.</b> - “LAS PARTES” acuerdan que, en caso de no cumplir con el retiro total del producto, al vencimiento del plazo de retiro pactado, se cobrará un costo de almacenaje a “EL COMPRADOR” sobre el volumen de “PRODUCTO” no retirado por la cuota mensual estipulada en el “ANEXO 1” mismo que será facturado a “EL COMPRADOR” hasta que sea retirada la totalidad del “PRODUCTO”.
		<br>
		<b>DÉCIMA. &#8211; MERMA.</b> - El “COMPRADOR” reconocerá a el “VENDEDOR” la MERMA sobre el VOLUMEN del “PRODUCTO” comprado y no embarcado por causas ajenas a “EL VENDEDOR”. “El COMPRADOR” reconocerá las siguientes mermas:
		<ol class="letter-parenthesis-list">
			<i>
				<li><i>Merma metabólica</i> a razón de un 0.05% por mes de almacenamiento por pérdida de peso debido al metabolismo del grano almacenado hasta el décimo mes.</li>
				<li><i>Merma por perdida de humedad</i> a razón de 1.16% a partir de 14% de humedad. Más las que se estipulen en el “ANEXO 1”.</li>
			</i>
		</ol>
		<b>DÉCIMA PRIMERA. &#8211; MODIFICACIONES.</b> - “LAS PARTES” acuerdan que cualquier modificación en el presente contrato y/o cualquier otro dato que modifique los asentados en las presentes cláusulas, deberá ser formalizado por escrito por ambas partes de común acuerdo a fin de que surta efectos.
		<br>
		<b>DÉCIMA SEGUNDA. &#8211; VIGENCIA Y VALIDEZ.</b> - El presente contrato sólo será válido a partir de la fecha en que sea firmado y hasta en tanto las “PARTES” cumplan con sus obligaciones derivadas del presente.
		<br>
		<b>DÉCIMA TERCERA. &#8211; COMPETENCIA Y LEGISLACIÓN APLICABLE.</b> - En caso de controversia sobre la interpretación y cumplimiento del presente contrato, así como para todo aquello que no esté expresamente estipulado en el mismo, “LAS PARTES” se someten a las leyes aplicables y a los tribunales competentes del Estado de <u>Tamaulipas</u> renunciando expresamente a cualquier otra jurisdicción que, debido a sus domicilios presentes o futuros, o por cualesquiera otra, les corresponda o pudiera corresponderles.
		<br>
		Para efectos de lo anterior y para cumplimiento “LAS PARTES” firman por duplicado expresando su voluntad para celebrar el presente contrato, aceptando los términos y condiciones que se establecen.
		<br>
		<b>DÉCIMA CUARTA. &#8211; DIVISIBILIDAD.</b> - Si por cualquier motivo alguna de las cláusulas, párrafos o disposiciones del presente Contrato resultaré inválida o inejecutable y no fuere factible su cumplimiento, este incumplimiento no afectará ni alterará la fuerza, el alcance ni vigencia de las jaulas y/o demás cláusulas, párrafos o disposiciones, las que se interpretarán de tal manera que se mantenga la intención original de “LAS PARTES” al celebrar el presente Contrato.
		<br>
		<b>DÉCIMA QUINTA. - RESPONSABILIDAD LABORAL.</b> - Queda expresamente convenido por “LAS PARTES” que el presente Contrato es de naturaleza mercantil y no se deriva de misma responsabilidad laboral alguna, entre ellas, ni entre éstas y los trabajadores de la contraparte.
		<br>
		<b>DÉCIMA SEXTA.&#8211; SEGUROS.</b> - “LAS PARTES" acuerdan que el pago del seguro de la mercancía será según lo pactado en base a las condiciones de entrega que quedarán estipuladas en el “ANEXO 1" del presente instrumento.
		<br>
		<b>DÉCIMA SEPTIMA. &#8211; DOMICILIOS.</b> - Para todos los efectos del presente Contrato, “LAS PARTES” señalan como sus respectivos domicilios, los señalados en el “ANEXO 1” de este instrumento, por lo que todos los avisos, notificaciones y demás diligencias judiciales y extrajudiciales, que deban hacerse con motivo de este Contrato se realizarán a los domicilios antes señalados o en el último que hayan notificado por escrito cuando menos con 10 (diez) días hábiles de anticipación a la fecha en que deba surtir efectos el cambio.
		<br>
		<b>DÉCIMA OCTAVA. &#8211; CESIÓN DE DERECHOS.</b> - “LAS PARTES" no podrán ceder, gravar, transferir, modificar o traspasar sus derechos y obligaciones derivados del presente Contrato, sin el consentimiento previo y por escrito de la otra parte.
		<br>
		<b>DÉCIMA NOVENA. &#8211; JURISDICCIÓN.</b> - Para la interpretación y cumplimiento del presente Contrato, "LAS PARTES" se sujetan a las leyes del Estado de Tamaulipas y a la competencia de los Tribunales de la ciudad de Valle Hermoso, Tamaulipas, renunciando expresamente a cualquier otro fuero que pudiere corresponder en razón de sus domicilios presentes o futuros, o por cualquier otra índole.
	</div>
	<div class="signatures">
		<div class="party-signature">
			POR “EL VENDEDOR”:
			<div class="signature-line"></div>
			<span>ING. RUBÉN DARIO PUGA JUAREZ</span>
            <span>AGROPECUARIA LA CAPILLA DEL NORESTE,</span>
            <span>SA DE CV</span>
		</div>
		<div class="party-signature">
			POR “EL COMPRADOR”:
			<div class="signature-line"></div>
			<span [printableField]="'clientInfo.clientRep'" >{{ contractForm?.clientInfo?.clientRep || "(REPRESENTATIVE HERE)" }}</span>
            <span [printableField]="'clientInfo.name'" >{{ contractForm?.clientInfo?.name }}</span>
		</div>
	</div>
</div>

<div class="page-style anexo-1 page-standard-height">
	<p class="page-header">
		<b>
			<span class="company-name">AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV</span>
			<br>
			<span class="contract-version">CONTRATO DE COMPRAVENTA PRECIO FIJO</span>
		</b>
		<br>
		<span class="contract-id">Número de contrato <span class="emphasis"><span [printableField]="'id'" >{{contractForm.id ?? " "}}</span></span></span>
	</p>
	<p class="text-align-center page-title">“ANEXO 1”</p>
	<div class="party-info">
		<span class="party-title">VENDEDOR:</span>
		<span class="party-name">AGROPECUARIA LA CAPILLA DEL NORESTE, S.A. DE C.V.</span>
		<span>CALLE ZARAGOZA ENTRE 1ra y 2da</span>
		<span>VALLE HERMOSO, TAMAULIPAS, MX        C.P. 87500</span>
		<span>R.F.C.: ACN980211QC9</span>
		<span class="party-title">COMPRADOR:</span>
		<span class="party-name" [printableField]="'clientInfo.name'" >{{contractForm?.clientInfo?.name}}</span>
        <span [printableField]="'clientInfo.streetAddress'" >{{contractForm?.clientInfo?.streetAddress}}</span>
        <span>
            <span [printableField]="'clientInfo.city'" >{{contractForm?.clientInfo?.city}}</span>,
            <span [printableField]="'clientInfo.state'" >{{contractForm?.clientInfo?.state}}</span>, 
            <span [printableField]="'clientInfo.country'" >{{contractForm?.clientInfo?.country}}</span>        C.P. <span [printableField]="'clientInfo.zipCode'" >{{contractForm?.clientInfo?.zipCode}}</span></span>
        <span>R.F.C.: <span [printableField]="'clientInfo.rfc'" >{{contractForm?.clientInfo?.rfc}}</span></span>
	</div>
	<div class="contract-info">
		<div class="contract-info-row">
			<div>FECHA:</div>
			<div [printableField]="'date'" >{{contractForm?.date | date:'longDate':undefined:'es-MX'}}</div>
		</div>
		<div class="contract-info-row">
			<div>PRODUCTO:</div>
			<div [printableField]="'product'" >{{contractForm?.product?.id}}</div>
		</div>
		<div class="contract-info-row">
			<div>TIPO DE CARGA:</div>
			<div [printableField]="'loadType'" >{{contractForm?.loadType | selectFieldDisplay:contractType:'loadType' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>PRECIO:</div>
			<div><span [printableField]="'price.amount'" >
				{{contractForm?.price?.amount | currency}}</span> 
				({{contractForm?.price?.amount | truncate | numberNameSpanish}}
				{{contractForm?.currency | selectFieldDisplay:contractType:'currency' | async | currencySplit:0}}
				{{contractForm?.price?.amount % 1 * 100 | round}}/100 
				{{contractForm?.currency | selectFieldDisplay:contractType:'currency' | async | currencySplit:2}})
			</div>
		</div>
		<div class="contract-info-row">
			<div>DIVISA:</div>
			<div [printableField]="'currency'" >{{contractForm?.currency | selectFieldDisplay:contractType:'currency' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>TIPO DE CAMBIO:</div>
			<div [printableField]="'futurePriceInfo.exchangeRate'" >
				{{contractForm?.futurePriceInfo?.exchangeRate | exchangeRateField:contractType | async}}
			</div>
		</div>
		<div class="contract-info-row">
			<div>CANTIDAD:</div>
			<div>
                <span [printableField]="'quantity.amount'" >{{contractForm?.quantity?.amount}}</span> ({{contractForm?.quantity?.amount | numberNameSpanish}}) 
                <span [printableField]="'quantity.defaultUnits'" >{{utils.getUnitName(contractForm?.quantity?.defaultUnits) | translate | uppercase}}</span>
            </div>
		</div>
		<div class="contract-info-row">
			<div>UNIDAD DE MEDIDA:</div>
			<div [printableField]="'quantity.defaultUnits'" >{{utils.getUnitName(contractForm?.quantity?.defaultUnits) | translate | uppercase}}</div>
		</div>
		<div class="contract-info-row">
			<div>CALIDAD GARANTIZADA:</div>
			<div>Grado: U.S. <span [printableField]="'grade'" >{{contractForm?.grade || 'X'}}</span> OFICIAL</div>
		</div>
		<div class="contract-info-row">
			<div>HUMEDAD MÁXIMA:</div>
			<div [printableField]="'productInfo.moisture'" >{{ contractForm?.productInfo?.moisture ? (contractForm?.productInfo?.moisture | number:'.1') : "XX.X"}}%</div>
		</div>
		<div class="contract-info-row">
			<div>FORMA DE ENTREGA:</div>
			<div [printableField]="'deliveryType'" >{{contractForm?.deliveryType | selectFieldDisplay:contractType:'deliveryType' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>SEGURO:</div>
			<div [printableField]="'transportInsurance'" >{{contractForm?.transportInsurance | selectFieldDisplay:contractType:'transportInsurance' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>LUGAR DE ENTREGA:</div>
            <div [printableField]="'plants'" >
                <ng-container *ngFor="let address of contractForm.deliveryPlants; let last = last">
                    <span>{{address}}</span><ng-container *ngIf="!last">,</ng-container><br>
                </ng-container>
			</div>
		</div>
		<div class="contract-info-row">
			<div>PESOS:</div>
			<div [printableField]="'paymentTerms.origin'" >{{contractForm?.paymentTerms.origin | selectFieldDisplay:contractType:'origin' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>MERMAS:</div>
			<div [printableField]="'shrinkage'" >{{contractForm?.shrinkage | selectFieldDisplay:contractType:'shrinkage' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>PERIODO DE EMBARQUE:</div>
			<div class="period" [printableField]="'delivery_dates'" >{{contractForm?.delivery_dates?.begin | date:'dd-MMM-YY':undefined:'es-MX' | uppercase}}<b>AL</b>{{contractForm?.delivery_dates?.end | date:'dd-MMM-YY':undefined:'es-MX' | uppercase}}</div>
		</div>
		<div class="contract-info-row">
			<div>CONDICIONES DE RETIRO:</div>
			<div [printableField]="'loadConditions'"  class="white-space-wrap">{{contractForm?.loadConditions}}</div>
		</div>
		<div class="contract-info-row">
			<div>DEMORAS DE DESCARGAS:</div>
			<div [printableField]="'loadDelays'" >{{contractForm?.loadDelays | selectFieldDisplay:contractType:'loadDelays' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>ALMACENAJE Y FUMIGACIÓN:</div>
			<div [printableField]="'storageAndFumigation'" >{{contractForm?.storageAndFumigation || "NO APLICA"}}</div>
		</div>
		<div class="contract-info-row">
			<div>CONDICIONES DE PAGO:</div>
			<div [printableField]="'paymentWithdrawal'" >{{contractForm?.paymentWithdrawal | selectFieldDisplay:contractType:'paymentWithdrawal' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>DEMORAS EN PAGOS:</div>
			<div [printableField]="'paymentDelays'" >
				{{
					contractForm?.paymentDelays?.applies ? 
					"(TIIE + " + (contractForm?.paymentDelays?.x || "X") + ") * " + (contractForm?.paymentDelays?.y || "Y") 
					: "NO APLICA"
				}}
			</div>
		</div>
		<div class="contract-info-row">
			<div>TÉRMINOS DE PAGO:</div>
			<div [printableField]="'termsOfPayment'" >{{contractForm?.termsOfPayment | selectFieldDisplay:contractType:'termsOfPayment' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>ANTICIPOS:</div>
			<div [printableField]="'prepaid'"  class="white-space-wrap">{{contractForm?.prepaid}}</div>
		</div>
		<div class="contract-info-row">
			<div>FORMA DE PAGO:</div>
			<div [printableField]="'formOfPayment'" >{{contractForm?.formOfPayment | selectFieldDisplay:contractType:'formOfPayment' | async}}</div>
		</div>
		<div class="contract-info-row">
			<div>BANCOS Y CUENTAS DE PAGO:</div>
			<div class="banks-and-accounts-grid" [printableField]="'bankInfo'" >
                <div>
					<span>BANCO</span>
					<span>CUENTA</span>
					<span>CLABE INTERBANCARIA</span>
				</div>
                <div *ngFor="let bankInfo of contractForm.bankInfo">
                    <span>{{bankInfo.bank | uppercase}}</span>
                    <span>{{bankInfo.account}}</span>
                    <span>{{bankInfo.interBank}}</span>
                </div>
                <div *ngIf="contractForm.bankInfo.length == 0">--</div>
                
            </div>
		</div>
		<div class="contract-info-row">
			<div>EJECUTIVO DE VENTA:</div>
			<div [printableField]="'contractExecutive'" >{{contractForm?.contractExecutive?.name}}</div>
		</div>
	</div>
	<p>PARA CONSTANCIA DE LO CONVENIDO LAS PARTES FIRMAN EL PRESENTE CONTRATO</p>
	<div class="signatures">
		<div class="party-signature">
			POR “EL VENDEDOR”:
			<div class="signature-line"></div>
			<span>ING. RUBÉN DARIO PUGA JUAREZ</span>
            <span>AGROPECUARIA LA CAPILLA DEL NORESTE,</span>
            <span>SA DE CV</span>
		</div>
		<div class="party-signature">
			POR “EL COMPRADOR”:
			<div class="signature-line"></div>
			<span [class.focused]="focusedField == 'clientInfo.clientRep'">{{ contractForm?.clientInfo?.clientRep}}</span>
            <span [class.focused]="focusedField == 'clientInfo.name'">{{ contractForm.clientInfo?.name }}</span>
		</div>
	</div>
</div>
