<ng-container *transloco="let t; read: 'contracts.info'">
    <div class="title">
        <h1>{{(companyDoc$ | async)?.name}}</h1>
        <span>{{(companyDoc$ | async)?.address}}</span>
    </div>
    
    
    <div class="client-info">
        <img id='company-logo' [src]="logoUrl">
        <div id="contract-details">
            <div id='farmer-name'>{{ t("Client Name") | uppercase }}: {{ data.contract.clientName }}</div>
            <div id='contract-id'>{{ t("Contract") }} {{ data.contract.id }}</div>
            <div id='date'>{{ t("Date") | uppercase }}: {{ date | date:'fullDate'}}</div>
        </div>
    </div>
    
    <table id="liquidation-table">
        <colgroup>
            <col [lang]="language">
            <col [lang]="language">
            <!-- <col [lang]="language"> -->
            <col [lang]="language">
            <col [lang]="language">
            <col [lang]="language">
            <col [lang]="language">
            <col [lang]="language">
            <col [lang]="language">
            <col [lang]="language">
        </colgroup>
        <tr>
            <th rowspan="2">{{ t('Date') }}</th>
            <th rowspan="2">{{ t('Ticket') }} #</th>
            <!-- <th rowspan="2">{{ t('Contract') }}</th> -->
            <th rowspan="1" colspan="3">
                {{ t('Weight') }}<br>
                <app-table-header-unit-select [displayUnits]="data.displayUnits" fieldname="weight"></app-table-header-unit-select>
            </th>
            <th rowspan="2">{{ t('Moisture') }} %</th>
            <th rowspan="2">
                {{ t('Client Weight') }}<br>
                <app-table-header-unit-select [displayUnits]="data.displayUnits" fieldname="original_weight"></app-table-header-unit-select>
            </th>
            <th rowspan="2">
                {{ t('Price') }}<br>
                <app-table-header-unit-select [displayUnits]="data.displayUnits" fieldname="price" [isPrice]="true"></app-table-header-unit-select>
            </th>
            <th rowspan="2">{{ t('Net to Pay') }} ($)</th>
        </tr>
        <tr>
            <th>{{ t('Gross') }}</th>
            <th>{{ t('Tare') }}</th>
            <th>{{ t('Net') }}</th>
        </tr>
        <tr class="body" *ngFor="let ticket of data.selectedTickets">
            <td class="text-center">{{ ticket.dateOut | date }}</td>
            <td class="text-center">{{ ticket.displayId }}</td>
            <!-- <td class="text-center">{{ data.contract.id }}</td> -->
            <td class="text-right">{{ ticket.gross | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class="text-right">{{ ticket.tare | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class="text-right">{{ ticket.net | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class="text-right">{{ ticket.moisture | number:'1.1' }}</td>
            <td class="text-right">{{ ticket.original_weight | massInUnit:data.displayUnits.get('original_weight') | number:'1.0-3' }}</td>
            <td class="text-right">{{ data.contract.price | pricePerUnit:data.displayUnits.get('price'):data.contract.quantity | currency:'USD':'$':'1.4' }}</td>
            <td class="text-right">{{ ticket.netToPay | currency:'USD':'$':'1.3' }}</td>
        </tr>
        <tr class="totals">
            <td class="text-center">{{ t("Totals") | uppercase }}</td>
            <td></td>
            <!-- <td></td> -->
            <td>{{ data.totals.gross | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td>{{ data.totals.tare | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td>{{ data.totals.net | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td></td>
            <td>{{ data.totals.adjustedWeight | massInUnit:data.displayUnits.get('original_weight') | number:'1.0-3' }}</td>
            <td></td>
            <td>{{ data.totals.netToPay | currency:'USD':'$':'1.3-3' }}</td>
        </tr>
    </table>
</ng-container>
