<div>
  <ion-header>
    <ion-item>Select Status:</ion-item>
  </ion-header>
  <ion-list>
    <ion-radio-group [(ngModel)]="status">
      <ion-item>
        <ion-label>Active</ion-label>
        <ion-radio slot="start" value="active"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sold</ion-label>
        <ion-radio slot="start" value="sold"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Financing</ion-label>
        <ion-radio slot="start" value="financing"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Cancelled</ion-label>
        <ion-radio slot="start" value="cancelled"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button class="status-select-done" (click)="submit()">Done</ion-button>
</div>
