
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
mat-dialog-content {
    display: flex;
    flex-direction: column;
    min-width: 425px;
    width: 30vw;
    max-width: 500px;
    min-height: 370px;
}

form {
    width: 100%;
}

mat-drawer-container {
    flex: 1 0 auto;
    background-color: unset;
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
    mat-select-list {
        background-color: var(--ion-color-light);
    };
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
mat-option, .mat-list-item  {
    font-size: 1em;
}
.align-text-icon {
    display: flex;
    align-items: center;
    .align-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25em;
    }
}

::ng-deep .mat-grid-tile-content:has(ion-button) {
    align-items: flex-start;
    margin-left: 10px;
    
    ion-button {
        height: 45px;
    }
}

mat-checkbox {
    top: -10px;
}

#info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary-contrast) !important;
    border-radius: 5px 5px 0 0;
    height: 30px;
    padding: 10px 15px;
    margin-top: 5px;
}
#inventory-info ::ng-deep {
    background-color: var(--ion-color-light);
    border-radius: 5px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 225px;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-appearance-fill .mat-form-field-flex,
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
        background-color: white;
    }
    
    ion-button {
        margin: 20px;
        text-transform: none;
    }
}
.info {
    padding: 20px 20px 0 20px;
}

div:has(> mat-icon) {
    display: flex;
    justify-content: center;

    mat-icon {
        height: 225px;
        width: 225px;
        font-size: 225px;
        color: rgba(gray, 10%);
    }
}

mat-grid-tile:has(button) {
    button {
        align-self: flex-end;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

// Number inputs---------------------------------------

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}