
<h2 mat-dialog-title>Set Invoice Items</h2>

<mat-dialog-content>
	<form [formGroup]="invoiceItemForm">
		<mat-grid-list cols="7" rowHeight="70px">
			<mat-grid-tile colspan="7">
				<mat-form-field appearance="fill">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" [matAutocomplete]="auto">
					<mat-icon matSuffix>
						arrow_drop_down
					</mat-icon>
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option (click)="settingNew=true">
							<span class="add-option">
								Add Item
								&nbsp;
								<mat-icon>add_box</mat-icon>
							</span>
						</mat-option>
						<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
							{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</mat-grid-tile>
	
			<mat-grid-tile colspan="4">
				<mat-form-field appearance="fill">
					<mat-label>Price</mat-label>
					<span matPrefix>$ &nbsp;</span>
					<input matInput formControlName="price" type="number">
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile colspan="3">
				<mat-checkbox color="primary" formControlName="affectsInventory">Affects Inv.</mat-checkbox>
			</mat-grid-tile>

			<mat-grid-tile colspan="7" rowspan="3" class="inventory-info">
				<mat-grid-tile-header class="info-header">Inventory Info.</mat-grid-tile-header>

				<div class="info-list">
					<mat-grid-list cols="2" rowHeight="50px" class="info-grid">
						<mat-grid-tile>
							1
						</mat-grid-tile>
						<mat-grid-tile>
							2
						</mat-grid-tile>
						<mat-grid-tile>
							3
						</mat-grid-tile>
						<mat-grid-tile>
							4
						</mat-grid-tile>
					</mat-grid-list>

					<mat-grid-list cols="2" rowHeight="50px" class="info-grid">
						<mat-grid-tile>
							1
						</mat-grid-tile>
						<mat-grid-tile>
							2
						</mat-grid-tile>
						<mat-grid-tile>
							3
						</mat-grid-tile>
						<mat-grid-tile>
							4
						</mat-grid-tile>
					</mat-grid-list>

					<mat-grid-list cols="2" rowHeight="50px" class="info-grid">
						<mat-grid-tile>
							1
						</mat-grid-tile>
						<mat-grid-tile>
							2
						</mat-grid-tile>
						<mat-grid-tile>
							3
						</mat-grid-tile>
						<mat-grid-tile>
							4
						</mat-grid-tile>
					</mat-grid-list>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button color="primary" [mat-dialog-close]="null">Close</button>
	<button mat-button color="primary" [disabled]="invoiceItemForm.invalid" [mat-dialog-close]="null">Confirm</button>
</mat-dialog-actions>
