
<h2 mat-dialog-title class="align-text-icon" >
	<button mat-icon-button class="align-icon" (click)="drawer.toggle()" [disabled]="!itemSelected()">
		<mat-icon>menu</mat-icon>
	</button>
	&nbsp;
	{{ "invoices."+"Set Invoice Items" | transloco }}
</h2>

<mat-dialog-content *transloco="let t; read: 'invoices'">
	<mat-drawer-container>
		<mat-drawer #drawer [disableClose]="!itemSelected()" mode="over" opened>
			<mat-selection-list #selectList [multiple]="false" (selectionChange)="selectItem($event)">
				<mat-list-option (click)="addItem()" [value]="currentItem">
					<span class="align-text-icon">
						{{ t("Add Item") }} &nbsp; <mat-icon class="align-icon">add_box</mat-icon>
					</span>
				</mat-list-option>
				<mat-list-option *ngFor="let item of itemList" [value]="item">
					<ng-template [ngIf]="item.name !== ''" [ngIfElse]="noName">{{ item.name }}</ng-template>
					<ng-template #noName><ion-text color="danger">---</ion-text></ng-template>
				</mat-list-option>
			</mat-selection-list>
		</mat-drawer>
		<mat-drawer-content>
			<ng-template [ngIf]="itemSelected()">
				<form #itemForm="ngForm">
					<mat-grid-list cols="10" rowHeight="70px" gutterSize="5px">
						<mat-grid-tile colspan="8">
							<mat-form-field appearance="fill">
								<mat-label>{{ t("Name") }}</mat-label>
								<input
									matInput
									#name="ngModel"
									[(ngModel)]="currentItem.name"
									name="name"
									required
								>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile colspan="2">
							<ion-button
								(click)="deleteItem()"
								color="danger"
								[matTooltip]="t('Delete Item')"
								matTooltipClass="tooltip-primary-solid"
								matTooltipPosition="right"
								matTooltipShowDelay="1000"
							>
								<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
							</ion-button>
						</mat-grid-tile>
						<mat-grid-tile colspan="5">
							<mat-form-field appearance="fill">
								<mat-label>{{ t("Price") }}</mat-label>
								<span matPrefix>$ &nbsp;</span>
								<input matInput [(ngModel)]="currentItem.price" type="number" name="price">
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile colspan="5">
							<mat-checkbox color="primary" [(ngModel)]="currentItem.affectsInventory" name="affectsInventory">
								{{ t("Affects Inventory") }}
							</mat-checkbox>
						</mat-grid-tile>
					</mat-grid-list>
					<ng-template [ngIf]="currentItem.affectsInventory" [ngIfElse]="noAffect">
						<div id="info-header">
							{{ t("Inventory Info") }}
							<button mat-icon-button type="button"
								(click)="addInfo()"
								[matTooltip]="t('Add Inventory Info')"
								matTooltipClass="tooltip-primary-solid"
								matTooltipPosition="right"
								matTooltipShowDelay="1000"
							>
								<mat-icon>add_box</mat-icon>
							</button>
						</div>
						<div id="inventory-info">
							<ng-container *ngFor="let item of currentItem.inventoryInfo.info; let index = index; let first = first">
								<mat-divider *ngIf="!first"></mat-divider>
								<div class="info">
									<mat-grid-list cols="10" gutterSize="20px" rowHeight="75px">
										<mat-grid-tile colspan="6">
											<mat-form-field appearance="fill">
												<mat-label>{{ t("Product") }}</mat-label>
												<mat-select
													[(ngModel)]="item.product"
													[disableOptionCentering]="true"
													name="product_{{ index }}"
													required
												>
													<mat-option *ngFor="let product of productList" [value]="product">{{ product }}</mat-option>
												</mat-select>
											</mat-form-field>
										</mat-grid-tile>
										<mat-grid-tile colspan="3">
											<mat-form-field appearance="fill">
												<mat-label>{{ t("Quantity") }}</mat-label>
												<input
													matInput
													[(ngModel)]="item.quantity"
													name="quantity_{{ index }}"
													type="number"
													required
												/>
												<span matSuffix>lbs</span>
											</mat-form-field>
										</mat-grid-tile>
										<mat-grid-tile>
											<button mat-icon-button type="button"
												color="warn"
												(click)="deleteInfo(index)"
												[matTooltip]="t('Delete Inventory Info')"
												matTooltipClass="tooltip-primary-solid"
												matTooltipPosition="right"
												matTooltipShowDelay="1000"
											>
												<mat-icon>delete</mat-icon>
											</button>
										</mat-grid-tile>
									</mat-grid-list>
									<mat-grid-list cols="10" gutterSize="20px" rowHeight="75px">
										<mat-grid-tile colspan="5">
											<mat-form-field appearance="fill">
												<mat-label>{{ t("Plant") }}</mat-label>
												<mat-select #plant
													[(ngModel)]="item.plant"
													[disableOptionCentering]="true"
													name="plant_{{ index }}"
													required
												>
													<mat-option *ngFor="let plant of plantNameList" [value]="plant">{{ plant }}</mat-option>
												</mat-select>
											</mat-form-field>
										</mat-grid-tile>
										<mat-grid-tile colspan="4">
											<mat-form-field appearance="fill">
												<mat-label>{{ t("Tank") }}</mat-label>
												<mat-select
													[(ngModel)]="item.tank"
													[disabled]="plant.value == ''"
													[disableOptionCentering]="true"
													name="tank_{{ index }}"
													required
												>
													<mat-option *ngFor="let tank of getTankList(index)" [value]="tank">{{ tank }}</mat-option>
												</mat-select>
											</mat-form-field>
										</mat-grid-tile>
									</mat-grid-list>
								</div>
							</ng-container>
						</div>
					</ng-template>
					<ng-template #noAffect>
						<div>
							<mat-icon>block</mat-icon>
						</div>
					</ng-template>
				</form>
			</ng-template>
		</mat-drawer-content>
	</mat-drawer-container>
</mat-dialog-content>

<mat-dialog-actions *transloco="let t; read: 'actions'">
	<button mat-button color="primary" [mat-dialog-close]="null">{{ t("Cancel") }}</button>
	<button mat-button color="primary" [mat-dialog-close]="itemList" [disabled]="!formValid()">{{ t("Save") }}</button>
</mat-dialog-actions>
