
:host {
    display: block;
}

th {
    overflow-wrap: none;
    min-width: 70px;
}

#id-column {
    max-width: 1fr;
}

#clientName-column {
    max-width: 1fr;
}

#currentDelivered-column {
    max-width: 1fr;
}

#date-column {
    max-width: 1fr;
}

#delivery_dates-column {
    max-width: 1fr;
}

#grade-column {
    max-width: 1fr;
}

#loads-column {
    max-width: 1fr;
}

#pricePerBushel-column {
    max-width: 1fr;
}

#product-column {
    max-width: 1fr;
}

#quantity-column {
    max-width: 1fr;
}

#status-column {
    max-width: 1fr;
}

#transport-column {
    max-width: 1fr;
}