
<app-table 
	[rowAction]="openContract"
	[displayFormat]="displayFormat"
	[collRef]="collRef"
	[steps]="steps"
	[fixedHeight]="fixedHeight"
>
	<ng-template #headers>
		<th *ngFor="let column of displayColumns"
			[style.width]="column.width || defaultWidth.get(column.fieldName) || '1fr'"
			[style.min-width]="column.minWidth || defaultMinWidth.get(column.fieldName) || '80px'"
			[style.max-width]="column.maxWidth || defaultMaxWidth.get(column.fieldName) || '250px'"
			nowrap
		>
			<button
				[class.selected]="sortFieldName === column.fieldName"
				(click)="handleSort(column.fieldName)"
			>
				<ng-container
					*ngTemplateOutlet="
						fieldTemplate(column);
						context: { isHeader: true }
					"
				></ng-container>
				<mat-icon [class.flipped]="sortFieldName === column.fieldName && sortDirection === 'asc'">
					arrow_downward
				</mat-icon>
			</button>
		</th>
	</ng-template>
	<ng-template #rows let-row>
		<td *ngFor="let column of displayColumns"
			[style.width]="column.width || ''"
			[style.min-width]="column.minWidth || defaultMinWidth.get(column.fieldName) || '80px'"
			[style.max-width]="column.maxWidth || defaultMaxWidth.get(column.fieldName) || '250px'"
		>
			<ng-container 
				*ngTemplateOutlet="
					fieldTemplate(column);
					context: { $implicit: row, isHeader: false }
				"
			></ng-container>
		</td>
	</ng-template>
</app-table>


<ng-template #clientName let-row let-isHeader="isHeader">
	{{ isHeader ? 'Client' : (row.clientName | titlecase) }}
</ng-template>

<ng-template #currentDelivered let-row let-isHeader="isHeader">
	{{ isHeader ? 'Delivered' : row.currentDelivered | number }}
</ng-template>

<ng-template #date let-row let-isHeader="isHeader">
	{{ isHeader ? 'Date' : (row.date | date:( formatOptions?.dateFormat || formatOptions?.defaultDateFormat || "mediumDate") )}}
</ng-template>

<ng-template #delivery_dates let-row let-isHeader="isHeader">
	{{ isHeader ? 'Delivery' : ( row.delivery_dates.begin | date:( formatOptions?.deliveryDatesFormat || formatOptions?.defaultDateFormat || "shortDate" ))
	 + ' - ' + 
	(row.delivery_dates.end | date:(formatOptions?.deliveryDatesFormat || formatOptions?.defaultDateFormat || "shortDate")) }}
</ng-template>

<ng-template #grade let-row let-isHeader="isHeader">
	{{ isHeader ? 'Grade' : row.grade }}
</ng-template>

<ng-template #id let-row let-isHeader="isHeader">
	{{ isHeader ? 'ID' : row.id }}
</ng-template>

<ng-template #loads let-row let-isHeader="isHeader">
	{{ isHeader ? 'Loads' : (row.loads | number) }}
</ng-template>

<ng-template #pricePerBushel let-row let-isHeader="isHeader">
	{{ isHeader ? 'Price ( $ / Bu )' : (row.pricePerBushel | currency) }}
</ng-template>

<ng-template #product let-row let-isHeader="isHeader">
	{{ isHeader ? 'Product' : (row.productInfo.name | titlecase) }}
</ng-template>

<ng-template #quantity let-row let-isHeader="isHeader">
	{{ isHeader ? 'Bushels' : (row.quantity | number) }}
</ng-template>

<ng-template #status let-row let-isHeader="isHeader">
	<span class="status {{ isHeader ? '' : (row.status | lowercase) }}">
		{{ isHeader ? 'Status' : row.status }}
	</span>
</ng-template>

<ng-template #transport let-row let-isHeader="isHeader">
	{{ isHeader ? 'Transport' : (row.transport | titlecase) }}
</ng-template>