
.dialog {
    // display: flex;
    // flex-direction: column;
    // height: 400px - (24px * 2);
}

mat-dialog-content {

}

.dropzone {
	align-self: center;
	height: 175px;
	width: 385px;
	background-color: var(--ion-color-light);

	display: flex;
	justify-content: center;

	h3 {
		margin: 0;
		padding: 0;
		font-size: 1.1em;
		font-weight: 500;
	}
	p {
		font-size: 0.85em;
	}

	ngx-dropzone-preview {
		position: relative;
		display: flex;
		border-radius: 12px !important;
		// background-image: none !important;
		// background-color: var(--ion-color-primary-light);
		// border-style: solid;
		// border-color: var(--ion-color-primary);

		background: 
			linear-gradient(70deg, 
				#325c30 10%,
				#437b40, 
				#4d8c4a, 
				#579e55, 
				#61ad5e, 
				#76b975, 
				#8dc58d, 
				#acd5ad, 
				#cce5cc 85%
			);

		ngx-dropzone-label {
			position: absolute;
			align-self: center;
			color: var(--ion-color-primary-contrast);
			font-weight: 500;
		}

		&:hover,
		&:focus {
			filter: brightness(0.92);
		}
	}
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}