<ng-container *transloco="let t; read: 'inventory.product'">
    <h2 mat-dialog-title>{{ t('Set Discount Table') }}</h2>
    
    <mat-dialog-content>
        <form #tableForm="ngForm">
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-label>{{ t('Field Name') }}</mat-label>
                    <!-- <mat-select [(ngModel)]="table.fieldName" (selectionChange)="setName($event.value)" name="fieldName" required>
                        <mat-option *ngFor="let discountField of discountFieldsList" [value]="discountField">{{ discountField }}</mat-option>
                    </mat-select> -->
                    <input matInput type="text" [matAutocomplete]="discountFieldNameAuto" [(ngModel)]="table.fieldName" name="fieldName" required>
                    <mat-autocomplete #discountFieldNameAuto="matAutocomplete" (optionSelected)="setName($event)">
                        <mat-option *ngFor="let discountField of discountFieldsList" [value]="discountField">{{ discountField }}</mat-option>
                    </mat-autocomplete>
                    <mat-error>{{ t('Required') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{ t('Name') }}</mat-label>
                    <input matInput [(ngModel)]="table.name" type="text" name="name" required>
                    <mat-error>{{ t('Required') }}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>{{ standardConfig ? t("Additional Headers") : t("Headers") }}</mat-label>
                <mat-chip-list #chipList
                    class="mat-chip-list-stacked"
                    cdkDropList
                    cdkDropListOrientation="vertical"
                    (cdkDropListDropped)="drop($event)"
                    multiple
                >
                    <mat-chip
                        cdkDrag
                        *ngFor="let header of table.headers"
                        (removed)="remove(header)"
                        selected
                        [mat-menu-trigger-for]="matMenu"
                    >
                        {{ header.name === 'low' || header.name === 'high' || header.name === 'discount' ? t(header.name) : header.name }}
                        <span *ngIf="header.type">&nbsp;({{ t(header.type) }})</span>
                        <button matChipRemove *ngIf="header.name!=='discount'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <mat-menu #matMenu>
                            <button *ngIf="header.type" mat-menu-item (click)="resetHeaderType(header)">
                                {{ t("Unmark Discount") }}
                            </button>
                            <button *ngIf="header.type !== 'weight-discount'" mat-menu-item (click)="header.type='weight-discount'">
                                {{ t("Mark as Weight Discount") }}
                            </button>
                            <button *ngIf="header.type !== 'price-discount'" mat-menu-item (click)="header.type='price-discount'">
                                {{ t("Mark as Price Discount") }}
                            </button>
                        </mat-menu>
                    </mat-chip>
                </mat-chip-list>
                <input [placeholder]="t('New header') + '...'"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)"
                >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ t("Unit for Table") }}</mat-label>
                <mat-select [(ngModel)]="table.unit" name="unit">
                    <mat-option *ngFor="let unit of UNIT_NAME_LIST | keyvalue" [value]="unit.key">{{ unit.value }} ({{ unit.key}})</mat-option>
                </mat-select>
            </mat-form-field>
    
            <section *ngIf="!editing">
                <mat-divider></mat-divider>
                <mat-checkbox
                    class="default-layout-checkbox"
                    [(ngModel)]="standardConfig"
                    name="standardConfig"
                >
                    {{ t('Standard Discount Configuration') }}
                </mat-checkbox>
                <div class="form-field-group" *ngIf="standardConfig">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('Min') }}</mat-label>
                        <input matInput [(ngModel)]="min" type="number" name="min" required>
                        <mat-error>{{ t('Required') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('Max') }}</mat-label>
                        <input matInput [(ngModel)]="max" type="number" name="max" required>
                        <mat-error>{{ t('Required') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="grid-column: span 2">
                        <mat-label>{{ t('Step') }}</mat-label>
                        <input matInput [(ngModel)]="step" type="number" name="step" required>
                        <mat-error>{{ t('Required') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('Discount Start') }}</mat-label>
                        <input matInput [(ngModel)]="discountStart" type="number" name="discount" required>
                        <mat-error>{{ t('Required') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>{{ t('Discount Step') }}</mat-label>
                        <input matInput [(ngModel)]="discountStep" type="number" name="discountStep">
                        <mat-error>{{ t('Required') }}</mat-error>
                    </mat-form-field>
                </div>
            </section>
        </form>
    </mat-dialog-content>
    
    <mat-dialog-actions *transloco="let a; read: 'actions'">
        <button mat-flat-button color="primary" mat-dialog-close>{{ a('Cancel') }}</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="table" [disabled]="tableForm.invalid" (click)="generateDiscountData()">{{ editing ? a("Update") : a("Generate")}}</button>
    </mat-dialog-actions>
</ng-container>
    