
$lightlightgray: rgb(230, 230, 230);

.title {
    text-align: center;
    h1 {
        line-height: 0.8em;
    }
}

#company-logo {
    max-width: 20%;
}

.client-info {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    
    #contract-details {
        display: inline-block;

        // #farmer-name {
        //     background-color: lightgreen;
        // }

        // #contract-name {
        //     background-color: lightgreen;
        // }

        // #date {
        //     background-color: yellow;
        // }
    }
}

#liquidation-table {
    font-size: xx-small;
    line-height: 1.5em;
    table-layout: fixed;
    width: 100%;

    th, td {
        border: black solid 1px;
        padding: 0px 2px;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
    }

    .one-fr {
        width: 42.66px;
    }
    .one-and-half-fr {
        width: 64px;
    }
    .two-fr {
        width: 85.33px;
    }
    .four-and-half-fr {
        width: 192px;
    }

    .total-row {
        font-weight: bold;
        border: none !important;
    }

    .center {
        text-align: center;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }

    th[lang="en"], td {
        overflow-wrap: break-word;
    }
}

.even {
    background-color: $lightlightgray;
}

.odd {
    background-color: white;
}

@media print {
    #liquidation-table {
        font-size: 1vw;

        col {
            min-width: min-content;
        }
    }
}

@media (orientation: portrait) {
    #liquidation-table col {
        width: auto !important;
    }
}

.portrait :host #liquidation-table col {
    width: auto !important;
}

.header-with-unit-select-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 8px;

    app-table-header-unit-select {
        width: 25%;
    }
}
