
<ng-container *transloco="let t, read: 'contracts.info'">
    <div id='title'>
        <h1>ACN AGRIPRODUCTS LLC</h1>
        <span id='address'>1512 Rancho Toluca Rd Progreso TX 78597</span>
    </div>
    
    
    <div class="client-info">
        <img id='company-logo' src='https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Fcompanylogoonly.png?alt=media&token=cd8bbf25-c1ae-4880-b883-6cfb8f12f9bb'>
        <div id="data.contract-details">
            <div id='farmer-name'>FARMER NAME: {{ data.contract.clientName }}</div>
            <div id='data.contract-id'>Contract {{ data.contract.id }}</div>
            <div id='date'>DATE: {{ date | date:'fullDate'}}</div>
        </div>
    </div>
    
    <table id="liquidation-table">
        <colgroup>
            <col class="one-fr"> <!-- INBOUND DATE -->
            <col class="one-fr"> <!-- TICKET # -->
            <col class="one-fr"> <!-- WEIGHT: GROSS -->
            <col class="one-fr"> <!-- WEIGHT: TARE -->
            <col class="one-fr"> <!-- WEIGHT: NET -->
            <col class="one-fr"> <!-- MOISTURE: % -->
            <col class="one-fr"> <!-- MOISTURE: CWT -->
            <col class="one-fr"> <!-- DRYING: % -->
            <col class="one-fr"> <!-- DRYING: CWT -->
            <col class="one-fr"> <!-- DAMAGE: % -->
            <col class="one-fr"> <!-- DAMAGE: CWT -->
            <col class="one-and-half-fr"> <!-- ADJUSTED WEIGHT -->
            <col class="one-fr"> <!-- PRICE -->
            <col class="two-fr" 
                *ngIf="data.totals.priceDiscounts.infested 
                    || data.totals.priceDiscounts.musty 
                    || data.totals.priceDiscounts.sour 
                    || data.totals.priceDiscounts.weathered 
                    || data.totals.priceDiscounts.inspection"> <!-- TOTAL -->
            <col class="one-fr" *ngIf="data.totals.priceDiscounts.infested"> <!-- INFESTED -->
            <col class="one-fr" *ngIf="data.totals.priceDiscounts.musty"> <!-- MUSTY -->
            <col class="one-fr" *ngIf="data.totals.priceDiscounts.sour"> <!-- SOUR -->
            <col class="one-fr" *ngIf="data.totals.priceDiscounts.weathered"> <!-- BADLY WEATHERED -->
            <col class="one-fr" *ngIf="data.totals.priceDiscounts.inspection"> <!-- INSPECTION -->
            <col class="two-fr">  <!-- NET TO PAY -->
        </colgroup>
        <tr>
            <th [lang]="language" rowspan="2">{{ t('Inbound Date') | uppercase }}</th>
            <th [lang]="language" rowspan="2">{{ t('Ticket #') | uppercase }}</th>
            <th [lang]="language" colspan="3">
                {{ t('Weight') | uppercase }}
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'weight' }"></ng-container>
            </th>
            <th [lang]="language" colspan="2">{{ t('Moisture') | uppercase }}</th>
            <th [lang]="language" colspan="2">{{ t('Drying') | uppercase }}</th>
            <th [lang]="language" colspan="2">{{ t('Damage') | uppercase }}</th>
            <th [lang]="language" rowspan="2">
                {{ t('Adjusted Weight') | uppercase }}
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'adjustedWeight' }"></ng-container>
            </th>
            <th [lang]="language" rowspan="2">
                {{ t('Price') | uppercase }}
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'price', isPrice: true }"></ng-container>
            </th>
            <th [lang]="language" rowspan="2" 
                *ngIf="data.totals.priceDiscounts.infested 
                    || data.totals.priceDiscounts.musty 
                    || data.totals.priceDiscounts.sour 
                    || data.totals.priceDiscounts.weathered 
                    || data.totals.priceDiscounts.inspection"
            >{{ t('Total ($)') | uppercase }}</th>
            <th [lang]="language" rowspan="2" *ngIf="data.totals.priceDiscounts.infested">{{ t('Infested') | uppercase }}</th>
            <th [lang]="language" rowspan="2" *ngIf="data.totals.priceDiscounts.musty">{{ t('Musty') | uppercase }}</th>
            <th [lang]="language" rowspan="2" *ngIf="data.totals.priceDiscounts.sour">{{ t('Sour') | uppercase }}</th>
            <th [lang]="language" rowspan="2" *ngIf="data.totals.priceDiscounts.weathered">{{ t('Weathered') | uppercase }}</th>
            <th [lang]="language" rowspan="2" *ngIf="data.totals.priceDiscounts.inspection">{{ t('Inspection') | uppercase }}</th>
            <th [lang]="language" rowspan="2">{{ t('Net to Pay ($)') | uppercase }}</th>
    
        </tr>
        <tr>
            <th>{{ t('Gross') | uppercase }}</th>
            <th>{{ t('Tare') | uppercase }}</th>
            <th>{{ t('Net') | uppercase }}</th>
            <th>{{ t('%') }}</th>
            <th>
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'moisture' }"></ng-container>
            </th>
            <th>{{ t('%') }}</th>
            <th>
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'dryWeight' }"></ng-container>
            </th>
            <th>{{ t('%') }}</th>
            <th>
                <ng-container *ngTemplateOutlet="headerUnits; context: { $implicit: 'damagedGrain' }"></ng-container>
            </th>
        </tr>
        <tr *ngFor="let ticket of data.selectedTickets; even as even">
            <td [class.odd]='!even' [class.even]='even' class='center'>{{ ticket.dateIn | date:'shortDate' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='center'>{{ ticket.displayId }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.gross | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.tare | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.net | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.moisture ?? 0 | number:'1.1' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.weightDiscounts.moisture | massInUnit:data.displayUnits.get('moisture') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.dryWeightPercent ?? 0 | number:'1.1' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.weightDiscounts.dryWeightPercent | massInUnit:data.displayUnits.get('dryWeight') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.damagedGrain ?? 0 | number:'1.1' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.weightDiscounts.damagedGrain | massInUnit:data.displayUnits.get('damagedGrain') | number:'1.0-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ (ticket.net | massInUnit:data.displayUnits.get('adjustedWeight')) - (ticket.weightDiscounts | weightDiscounts| massInUnit:data.displayUnits.get('adjustedWeight')) | number:'1.0-3' }}</td> <!-- ADJUSTED WEIGHT -->
            <td [class.odd]='!even' [class.even]='even' class='right'>{{ (data.contract.price | pricePerUnit:data.displayUnits.get('price'):data.contract.quantity) | currency:'USD':'$':'1.4' }}</td> <!-- PRICE -->
            <td [class.odd]='!even' [class.even]='even' class='right' 
                *ngIf="data.totals.priceDiscounts.infested 
                    || data.totals.priceDiscounts.musty 
                    || data.totals.priceDiscounts.sour 
                    || data.totals.priceDiscounts.weathered 
                    || data.totals.priceDiscounts.inspection"
            >{{ (data.contract.price | pricePerUnit:'lbs':data.contract.quantity) * ((ticket.net | massInUnit) - (ticket.weightDiscounts | discounts)) | currency:'USD':'$':'1.3-3' }}</td> <!-- TOTAL -->
            <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="data.totals.priceDiscounts.infested">{{ ticket.priceDiscounts.infested | currency:'USD':'$':'1.2-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="data.totals.priceDiscounts.musty">{{ ticket.priceDiscounts.musty | currency:'USD':'$':'1.2-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="data.totals.priceDiscounts.sour">{{ ticket.priceDiscounts.sour | currency:'USD':'$':'1.2-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="data.totals.priceDiscounts.weathered">{{ ticket.priceDiscounts.weathered | currency:'USD':'$':'1.2-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="data.totals.priceDiscounts.inspection">{{ ticket.priceDiscounts.inspection | currency:'USD':'$':'1.2-3' }}</td>
            <td [class.odd]='!even' [class.even]='even' class='right'>
                {{ (data.contract.price | pricePerUnit:'lbs':data.contract.quantity) * ((ticket.net | massInUnit) - (ticket.weightDiscounts | discounts)) 
                    - (ticket.priceDiscounts | discounts
                        :ticket.priceDiscounts.infested
                        :ticket.priceDiscounts.musty
                        :ticket.priceDiscounts.sour
                        :ticket.priceDiscounts.weathered
                        :ticket.priceDiscounts.inspection
                      ) | currency:'USD':'$':'1.3-3' 
                }}
            </td> <!-- NET TO PAY -->
        </tr>
        <tr>
            <td class='total-row center'>TOTALS:</td>
            <td class='total-row right'></td>
            <td class='total-row right'>{{ data.totals.gross | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class='total-row right'>{{ data.totals.tare | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class='total-row right'>{{ data.totals.net | massInUnit:data.displayUnits.get('weight') | number:'1.0-3' }}</td>
            <td class='total-row right'></td>
            <td class='total-row right'>{{ data.totals.weightDiscounts.moisture | massInUnit:data.displayUnits.get('moisture') | number:'1.0-3' }}</td>
            <td class='total-row right'></td>
            <td class='total-row right'>{{ data.totals.weightDiscounts.dryWeight | massInUnit:data.displayUnits.get('dryWeight') | number:'1.0-3' }}</td>
            <td class='total-row right'></td>
            <td class='total-row right'>{{ data.totals.weightDiscounts.damagedGrain | massInUnit:data.displayUnits.get('damagedGrain') | number:'1.0-3' }}</td>
            <td class='total-row right'>{{ data.totals.adjustedWeight | massInUnit:data.displayUnits.get('adjustedWeight') | number:'1.0-3' }} </td>
            <td class='total-row right'></td>
            <td class='total-row right' 
                *ngIf="data.totals.priceDiscounts.infested 
                    || data.totals.priceDiscounts.musty 
                    || data.totals.priceDiscounts.sour 
                    || data.totals.priceDiscounts.weathered 
                    || data.totals.priceDiscounts.inspection"
            >{{ data.totals.beforeFinalDiscounts | currency:'USD':'$':'1.3-3' }}</td>
            <td class='total-row right' *ngIf="data.totals.priceDiscounts.infested">{{ data.totals.priceDiscounts.infested | currency:'USD':'$':'1.2-3' }}</td>
            <td class='total-row right' *ngIf="data.totals.priceDiscounts.musty">{{ data.totals.priceDiscounts.musty | currency:'USD':'$':'1.2-3' }}</td>
            <td class='total-row right' *ngIf="data.totals.priceDiscounts.sour">{{ data.totals.priceDiscounts.sour | currency:'USD':'$':'1.2-3' }}</td>
            <td class='total-row right' *ngIf="data.totals.priceDiscounts.weathered">{{ data.totals.priceDiscounts.weathered | currency:'USD':'$':'1.2-3' }}</td>
            <td class='total-row right' *ngIf="data.totals.priceDiscounts.inspection">{{ data.totals.priceDiscounts.inspection | currency:'USD':'$':'1.2-3' }}</td>
            <td class='total-row right'>{{ data.totals.netToPay | currency:'USD':'$':'1.3-3' }}</td>
        </tr>
    </table>

    <ng-template #headerUnits let-fieldname let-isPrice="isPrice">
        <div class="header-units">
            <span class="unit-label"> ( {{ isPrice ? "$/" : "" }}{{ data.displayUnits.get(fieldname) | uppercase }} )</span>
            <span class="unit-select">
                ( 
                    <mat-form-field [style.max-width.%]="25">
                    <mat-select
                        [value]="data.displayUnits.get(fieldname)"
                        (valueChange)="data.displayUnits.set(fieldname, $event)"
                    >
                        <mat-option *ngFor="let unit of units" [value]="unit">
                            {{ (isPrice ? ("$/" + unit) : unit) | uppercase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                 )
            </span>
        </div>
    </ng-template>
</ng-container>

