
$lightlightgray: rgb(230, 230, 230);

:host {
    display: block;
    height: auto; //203.2mm;
    background-color: white;
    margin: 1em;
    
    // width: 10in; //266.7mm;
    // outline: black solid 1px;
    // padding: 12.7mm;
    // box-shadow: -0.5em 0.5em 0.25em gray;
}

table {
    font-size: xx-small;
    line-height: 1.5em;
    table-layout: fixed;
    width: 100%;

    th, td {
        border: black solid 1px;
        padding: 0px 2px;
        hyphens: auto;
    }

    .one-fr {
        width: 42.66px;
    }

    .one-and-half-fr {
        width: 64px;
    }

    .two-fr {
        width: 85.33px;
    }

    .four-and-half-fr {
        width: 192px;
    }

    .total-row {
        font-weight: bold;
        border: none !important;
    }

    .center {
        text-align: center;
    }
    
    .left {
        text-align: left;
    }
    
    .right {
        text-align: right;
    }
}

.client-info {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    
    #contract-details {
        display: inline-block;

        // #farmer-name {
        //     background-color: lightgreen;
        // }

        // #contract-name {
        //     background-color: lightgreen;
        // }

        // #date {
        //     background-color: yellow;
        // }
    }
}

.header {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.title {
    text-align: center;
    h1 {
        line-height: 0.8em;
    }
}

#company-logo {
    max-width: 20%;
}

.even {
    background-color: $lightlightgray;
}

.odd {
    background-color: white;
}
