<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['contract-info', (contract.ref.parent.id == 'purchaseContracts' ? 'purchase': 'sales'), contract.ref.id]">Contract {{contract.id}}</a>
    </mat-card-title>
    <span>{{contract.currentDelivered | massInUnit:'mTon' | number:'0.2-2' }} / {{contract.quantity | massInUnit:'mTon' | number:'0.2-2'}} MTon</span>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-line-chart
      *ngIf="chartData"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Date"
      yAxisLabel="MTons"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [referenceLines]="refLines"
      [showRefLines]="true"
      [scheme]="colorScheme">
    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>