<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['contract-info', (contract.ref.parent.id == 'purchaseContracts' ? 'purchase': 'sales'), contract.ref.id]">Contract {{contract.id}}</a>
    </mat-card-title>
    <span>{{contract.quantity.getMassInUnit('mTon')}}</span>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-line-chart
      *ngIf="chartData"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Date"
      yAxisLabel="MTons"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true">
    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>