<app-header-toolbar titulo="Contract"></app-header-toolbar>

<ion-content [fullscreen]="true" class="ion-padding-vertical">
  <div id="container">
    <div class="container-contracts current-contract">
      <div class="title-contract">
        <h2>Current Contract</h2>
      </div>
      <div class="content-item-contract">
        <h3 class="subtitle-contract ion-color-tertiary">
          <span>Sale</span>
        </h3>
        <div class="content-card-contract">
          <ion-card cursor matRipple (click)="openModal()" class="item-contract ion-no-margin"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
            <ion-card-header>
              <ion-card-subtitle>Driscoll Grain Cooperative Inc.</ion-card-subtitle>
              <ion-card-title color="primary">Contract 287</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Product: </span>
                    <b>Sorghum</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Price: </span>
                    <b>{{4310 | currency:'$'}} per Bushel</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>60892.86/98214.30 Buhsels </span>
                  </p>
                </div>
              </div>
              <div class="content-range-contract">
                <ion-range class="ion-no-padding" pin min="1000" value="1850" max="2000" step="100" snaps="true"
                  color="tertiary">
                </ion-range>
                <div class="item-percentage">
                  <p class="item-text-percentage">
                    <b>80%</b>
                  </p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <div class="content-item-contract">
        <h3 class="subtitle-contract ion-color-tertiary">
          <span>Purchase</span>
        </h3>
        <div class="content-card-contract">
          <ion-card cursor matRipple (click)="openModal()" class="item-contract ion-no-margin"
            *ngFor="let item of [1,1,1,1,1]">
            <ion-card-header>
              <ion-card-subtitle>Driscoll Grain Cooperative Inc.</ion-card-subtitle>
              <ion-card-title color="primary">Contract 287</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Product: </span>
                    <b>Sorghum</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Price: </span>
                    <b>{{4310 | currency:'$'}} per Bushel</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>60892.86/98214.30 Buhsels </span>
                  </p>
                </div>
              </div>
              <div class="content-range-contract">
                <ion-range class="ion-no-padding" pin min="1000" value="1850" max="2000" step="100" snaps="true"
                  color="tertiary">
                </ion-range>
                <div class="item-percentage">
                  <p class="item-text-percentage">
                    <b>80%</b>
                  </p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <div class="content-item-contract">
        <h3 class="subtitle-contract ion-color-tertiary">
          <span>New Contract</span>
        </h3>
        <div class="content-card-contract">
          <ion-card cursor matRipple (click)="openModal()" class="item-contract ion-no-margin"
            *ngFor="let item of [1,1]">
            <ion-card-header>
              <ion-card-subtitle>Driscoll Grain Cooperative Inc.</ion-card-subtitle>
              <ion-card-title color="primary">Contract 287</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Product: </span>
                    <b>Sorghum</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>Price: </span>
                    <b>{{4310 | currency:'$'}} per Bushel</b>
                  </p>
                </div>
              </div>
              <div class="item-contract">
                <div class="item-text-contract">
                  <p>
                    <span>60892.86/98214.30 Buhsels </span>
                  </p>
                </div>
              </div>
              <div class="content-range-contract">
                <ion-range class="ion-no-padding" pin min="1000" value="0" max="2000" step="100" snaps="true"
                  color="tertiary">
                </ion-range>
                <div class="item-percentage">
                  <p class="item-text-percentage">
                    <b>0%</b>
                  </p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>