<ion-header>
    <app-header-toolbar titulo="Contract"></app-header-toolbar>
    <ion-toolbar class="ion-align-items-stretch">
        <ion-segment class="ion-justify-content-start" value="0"
            (ionChange)="changedContractType($event)">
            <ion-segment-button *ngFor="let tab of tabData; let index = index" [value]="index">
                <ion-label>{{tab.label}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-toolbar *ngIf="tabData?.[tabIndex].type == table">
        <ion-segment class="ion-justify-content-start" value="active,closed,pending,cancelled"
            (ionChange)="segmentChanged($event)">
            <ion-segment-button value="active,closed,pending,cancelled">
                <ion-label>All</ion-label>
            </ion-segment-button>
            <ion-segment-button value="active">
                <ion-label>Active</ion-label>
            </ion-segment-button>
            <ion-segment-button value="closed">
                <ion-label>Closed</ion-label>
            </ion-segment-button>
            <!-- <ion-segment-button value="new">
        <ion-label>New Contract</ion-label>
      </ion-segment-button> -->
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="">
    <ng-container *ngTemplateOutlet="tabData?.[tabIndex].type; context: {$implicit: tabData?.[tabIndex]}"></ng-container>
</ion-content>

<ng-template #cards let-tabData>
    <div *ngFor="let data of tabData.data" class="card-content-segment">
        <app-section-title [title]="data.title"></app-section-title>
        <div class="card-grid">
            <app-delivered-chart-card *ngFor="let contract of data.contracts[0] | async | filterContracts" [contract]="contract"></app-delivered-chart-card>
        </div>
    </div>
</ng-template>

<ng-template #tableTemplate let-tabData>
    <div class="content">
        <div class="header-filter">
            <ion-searchbar placeholder="search" [formControl]="searchIinput"></ion-searchbar>
            <ion-button color="dark" (click)='newContractButton()'>
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-text>New</ion-text>
            </ion-button>
            <!-- <ion-button fill="outline" color="primary" (click)="openFilter($event)">
            <ion-icon name="filter" slot="start"></ion-icon>
            <ion-text>Filter</ion-text>
        </ion-button> -->
        </div>
        <ion-card class="table-header grid-item ion-hide-md-down">
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('id')">
                <div class="item-text-header item-text-number-header">
                    <ion-text>N°</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'id' && !assending" name="funnel-outline" color="primary">
                    </ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('client')">
                <div class="item-text-header">
                    <ion-text>Customer</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'client' && !assending" name="funnel-outline"
                        color="primary"></ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" matTooltip="Contract Date">
                <div class="item-text-header item-icon-hide-hover">
                    <ion-text>Date</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'id' && !assending" name="funnel-outline" color="primary">
                    </ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('status')">
                <div class="item-text-header">
                    <ion-text>State</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'status' && !assending" name="funnel-outline"
                        color="primary"></ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('product')" matTooltip="Product">
                <div class="item-text-header">
                    <ion-text>Product</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'product' && !assending" name="funnel-outline"
                        color="primary"></ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('quantity')">
                <div class="item-text-header item-icon-hide-hover">
                    <ion-text>Delivered</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'quantity' && !assending" name="funnel-outline"
                        color="primary"></ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" class="item-icon-hide-hover" (click)="sortList('quantity')">
                <div class="item-text-header item-icon-hide-hover">
                    <ion-text>Bushels</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'quantity' && !assending" name="funnel-outline"
                        color="primary"></ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none" matTooltip="Price per Bushel" (click)="sortList('price')">
                <div class="item-text-header item-icon-hide-hover">
                    <ion-text>Price</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'price' && !assending" name="funnel-outline" color="primary">
                    </ion-icon>
                </div>
            </ion-item>
            <ion-item lines="none">
                <div class="item-text-header item-icon-hide-hover">
                    <ion-text>Total</ion-text>
                    <ion-icon
                        [class.active-arrow]="sortField == 'total' && !assending" name="funnel-outline" color="primary">
                    </ion-icon>
                </div>
            </ion-item>
            <!-- <ion-item lines="none">
            <div class="item-text-header">
                <ion-text>Manage</ion-text>
            </div>
        </ion-item> -->
        </ion-card>
        
        <ion-card class="table-body">
            <!-- (contextmenu)="openOptions($event)" -->
            <!-- <ion-virtual-scroll approxItemHeight="320px" [items]="dataList"> -->
            <ng-container *ngFor="let contractsPromise of tabData.data[0].contracts"> 
                <div *ngFor="let contract of contractsPromise | async">
                    <div (contextmenu)="openOptions($event)" class="grid-item item-table">
                        <ion-item lines="none">
                            <ion-text color="dark" class="item-text-number">{{contract.id}}</ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text color="primary" class="item-text-customer">
                                {{
                                contract.clientName | titlecase | slice:0:25
                                }}
                                <span *ngIf="contract.clientName.length>25">...</span>
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text>{{contract.date | date}}</ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-status" [class.pending]="contract.status === 'pending'"
                                [class.active]="contract.status === 'active'" [class.close]="contract.status === 'closed'"
                                [class.cancel]="contract.status === 'cancelled'">{{contract.status}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-text-price" color="dark">
                                {{contract.product.id | titlecase}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-text-price" color="dark"
                                [matTooltip]="getDeliveredTooltip(contract)"
                                matTooltipClass="multiline-tooltip">
                                {{contract.currentDelivered.getBushelWeight(contract.productInfo).toFixed(2)}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-text-price" color="dark"
                                [matTooltip]="getQuantityTooltip(contract)"
                                matTooltipClass="multiline-tooltip">
                                {{contract.quantity.getBushelWeight(contract.productInfo).toFixed(2)}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-text-price" color="dark">
                                {{contract.pricePerBushel | currency:'$'}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-text class="item-text-price" color="dark">
                                {{contract.quantity.getBushelWeight(contract.productInfo) * contract.pricePerBushel | currency:'$'}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none" class="ion-hide-md-down">
                            <div class="content-button">
                                <ion-buttons>
                                    <ion-button color="medium" slot="end" (click)='openContractOptions($event, contract)'>
                                        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </div>
                        </ion-item>
                    </div>
                </div>
            <!-- </ion-virtual-scroll> -->
            </ng-container>
        </ion-card>
    </div>
    <ion-infinite-scroll #infiniteScroll threshold="200px" (ionInfinite)="infiniteContracts($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ng-template>