
<h2 mat-dialog-title>Client Selector</h2>
<mat-dialog-content>
  <mat-selection-list #client [(ngModel)]="clientSelected" [multiple]="false" cdkVirtualScrollingElement>
    <mat-list-option *ngIf="canCreateUser" value="new">+ New client</mat-list-option>
    <cdk-virtual-scroll-viewport itemSize="48">
      <mat-list-option *cdkVirtualFor="let client of clientsList" [value]="client">
        {{client.name}}
      </mat-list-option>
    </cdk-virtual-scroll-viewport>
  </mat-selection-list>
</mat-dialog-content><br>
<mat-dialog-actions>
  <div id="bottom-flex">
    <mat-form-field>
      <input matInput placeholder="Search name..." [(ngModel)]="searchString" (ngModelChange)="onSearchFieldChange($event)">
    </mat-form-field>
    <button mat-stroked-button [mat-dialog-close]="clientSelected" [disabled]="!clientSelected">Select</button>
  </div>
</mat-dialog-actions>