<app-header-toolbar titulo="New Export Invoice"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="ion-content-div">
    <div class="header-title">
      <ion-title class=" title-content">Select tickets</ion-title>
      <ion-searchbar placeholder="Search tickets"></ion-searchbar>
    </div>
    <div class="content-main" *ngIf="ticketList">
      <ion-card (click)="set(ticket)" class="item-card" [class.active-card]="selectedTickets.has(ticket)"
        *ngFor="let ticket of ticketList; let i = index" >
        <!-- [class.active-card]="item <= 3" -->
        <ion-card-header>
          <ion-card-title color="dark">Ticket {{ticket.id}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="ion-no-margin">{{ticket.clientName}}</p>
          <p>{{ticket.dateOut | date:"longDate"}}</p>
          <p>Yellow Corn</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="content-action" [class.show-buttom]="selectedTickets.size > 0">
      <ion-card class="panel-action">
        <ion-card-content>
          <div class="content-panel-button">
            <ion-button fill="clear" color="secondary" routerLink="/dashboard/invoices" (click)="selectedTickets.clear()">Cancel</ion-button>
            <div class="panel-list">
              <ion-item color="dark" lines="none">
                <ion-label *ngFor="let item of selectedTickets; let last = last">{{item.id}} {{ last ? "" : ', ' }}</ion-label>
              </ion-item>
              <ion-button routerLink="/dashboard/invoices/confirm-invoice" [state]="selectedTickets">Next</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>