<ion-list>
  <ion-item lines='none' button (click)='openContractEdit()'>
    View
    <ion-icon slot='end' name="document-text-outline"></ion-icon>
  </ion-item>
  <ng-container *ngIf="contract.status == 'pending'">
    <ion-item lines="none" button (click)='acceptContract()'>
      Accept
      <ion-icon slot='end' name="checkmark-outline"></ion-icon>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="contract.status != 'closed' || contract.pdfReference != null">
    <ion-item lines="none" button (click)="signedContract()">
      File
      <ion-icon slot='end' name="cloud-upload-outline"></ion-icon>
    </ion-item>
  </ng-container>
  <ng-container  *ngIf="contract.status == 'active'">
    <ion-item lines="none" button (click)='closeContract()'>
      Close
      <ion-icon slot='end' name="checkmark-outline"></ion-icon>
    </ion-item>
  </ng-container>
  
</ion-list>