<ion-list>
  <ion-item lines='none' button (click)='openContractEdit()'>
    View
    <ion-icon slot='end' name="document-text-outline"></ion-icon>
  </ion-item>
  <ion-item lines='none' button>
    Print
    <ion-icon slot='end' name='print-outline'></ion-icon>
  </ion-item>
  <ng-container *ngIf="contract.status == 'pending'">
    <ion-item lines="none" button (click)='acceptContract()'>
      Accept
      <ion-icon slot='end' name="checkmark-outline"></ion-icon>
    </ion-item>
  </ng-container>
  <ng-container  *ngIf="contract.status == 'active'">
    <ion-item lines="none" button (click)='closeContract()'>
      Close
      <ion-icon slot='end' name="checkmark-outline"></ion-icon>
    </ion-item>
  </ng-container>

  <app-contract-printable
    class='printable'
    id='printable-doc'
    [contractForm]="contract"
    ></app-contract-printable>
  
</ion-list>