<ion-header>
  <ion-toolbar>
    <ion-title>New Warehouse Receipts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="warehouseReceiptForm">

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" type="number" min="1">
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" type="number" >
      <mat-error >ID Already Exists</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Starting Date</mat-label>
      <input matInput formControlName="startDate" [matDatepicker]="picker" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Grain</mat-label>
      <mat-select formControlName="grain">
        <mat-option *ngFor="let product of productList" [value]="product.name">{{ product.name }}</mat-option>
      </mat-select>
      <mat-error>Please Choose a Grain</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Bushels</mat-label>
      <input matInput formControlName="bushels" type="number" step="5000" min="5000">
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Future Price</mat-label>
      <input matInput formControlName="futurePrice" type="number">
      <mat-error>Please Input a Future Price</mat-error>
    </mat-form-field>

    <div class="action-bar">
      <ion-button (click)="cancel()">Cancel</ion-button>
      <ion-button id="confirm-button" (click)="confirm()" [disabled]="warehouseReceiptForm.invalid">Confirm</ion-button>
    </div>
  </form>
</ion-content>
