<ion-card class="wr-card">
	<div class="wr-group">
		<div class="info-section">
			<div class="group-info">
				<div class="info">
					<ion-text>Date: {{ wrGroup.creationDate | date }}</ion-text>
					<ion-text>ID Range: {{ idRange }}</ion-text>
					<ion-text>Quantity: {{ wrGroup.totalBushelQuantity | number}}</ion-text>
					<ion-text>Product: {{ wrGroup.product }}</ion-text>
				</div>

				<div class="group-status">
					<ion-text class="status-text" [ngClass]="wrGroup.status.toLocaleLowerCase()">{{ wrGroup.status }}</ion-text>
				</div>
			</div>

			<hr>

			<div class="group-stats">
				<ion-text>Statistics: </ion-text>
			</div>
		</div>

		<div class="contract-section">
			<div class="contract" id="purchase-contract" [class.contract-signed]="wrGroup.purchaseContract">
				<div class="contract-header">
					<ion-text class="label">Purchase Contract</ion-text>

					<ion-text class="status-text" [ngClass]="wrGroup.purchaseContract?.status.toLocaleLowerCase()">
						{{ wrGroup.purchaseContract?.status ?? "NONE" }}
					</ion-text>

					<button mat-icon-button matTooltip="Set Contract" (click)="setContract(wrGroup.purchaseContract, true)">
						<mat-icon>more_vert</mat-icon>
					</button>
				</div>

				<ng-template [ngIf]="wrGroup.purchaseContract">
					<div class="contract-info">
						<ion-text>ID: {{ wrGroup.purchaseContract.id }}</ion-text>
						<ion-text>Date: {{ wrGroup.purchaseContract.startDate | date }}</ion-text>
						<ion-text>Future Price: {{ wrGroup.purchaseContract.futurePrice | currency }}</ion-text>
						<ion-text>Base Price: {{ wrGroup.purchaseContract.basePrice | currency }}</ion-text>
					</div>
				</ng-template>
			</div>

			<div class="contract" id="sale-contract" [class.contract-signed]="wrGroup.saleContract">
				<div class="contract-header">
					<ion-text class="label">Sale Contract</ion-text>

					<ion-text class="status-text" [ngClass]="wrGroup.saleContract?.status.toLocaleLowerCase()">
						{{ wrGroup.saleContract?.status ?? "NONE" }}
						<span *ngIf="hasPaid()">
							{{ hasPaid() }}/6
						</span>
					</ion-text>

					<button mat-icon-button matTooltip="Set Contract" (click)="setContract(wrGroup.saleContract, false)">
						<mat-icon>more_vert</mat-icon>
					</button>

				</div>

				<ng-template [ngIf]="wrGroup.saleContract">
					<div class="contract-info">
						<ion-text>ID: {{ wrGroup.saleContract.id }}</ion-text>
						<ion-text>Date: {{ wrGroup.saleContract.startDate | date }}</ion-text>
						<ion-text>Future Price: {{ wrGroup.saleContract.futurePrice | currency }}</ion-text>
						<ion-text>Base Price: {{ wrGroup.saleContract.basePrice | currency }}</ion-text>
					</div>
				</ng-template>
			</div>
		</div>
	</div>

	<div class="expandable-wr-list">
		<div class="table-row table-header">
			<ion-text>ID</ion-text>
			<ion-text>Start Date</ion-text>
			<ion-text>Product</ion-text>
			<ion-text>Bushel Qty</ion-text>
			<ion-text>Plant</ion-text>
			<ion-text>Paid</ion-text>
		</div>
		<div class="table-row" [class.even]="!odd" *ngFor="let warehouseReceipt of wrList; let odd = odd">
			<ion-text>{{ warehouseReceipt.id }}</ion-text>
			<ion-text>{{ warehouseReceipt.startDate | date }}</ion-text>
			<ion-text>{{ warehouseReceipt.product }}</ion-text>
			<ion-text>{{ warehouseReceipt.bushelQuantity | number }}</ion-text>
			<ion-text>{{ warehouseReceipt.plant }}</ion-text>
			<ion-text>{{ warehouseReceipt.isPaid }}</ion-text>
		</div>
	</div>

	<div class="expansion-bar">
		<hr>
		<ion-icon matTooltip="Toggle Warehouse Receipt List" (click)="toggleExpandable($event)" name="arrow-down-outline"></ion-icon>
		<hr>
	</div>
</ion-card>
