<app-header-toolbar titulo="Confirm Invoice Information"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="content-main">
    <div class="content">
      <form>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Customer data
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-card-subtitle>Address</ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>

              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="5">
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </form>
    </div>

    <div class="content">
      <ion-card *ngFor="let productGroup of groups | keyvalue">
        <ion-card-header>
          <ion-card-title>{{productGroup.key}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let client of productGroup.value | keyvalue">
            <h3>{{client.key}}</h3>
            <div *ngFor="let group of client.value | keyvalue">
              <ion-card-subtitle>{{group.key}}</ion-card-subtitle>
              <div
                cdkDropList
                [id]="productGroup.key + '-' + client.key + '-' + group.key"
                [cdkDropListData]="group.value.tickets"
                [cdkDropListConnectedTo]="getConnectedProductGroupList(productGroup.key, client.key, group.key)"
                class="ticket-list"
                (cdkDropListDropped)="drop($event)">
                <div class="ticket-box" *ngFor="let ticket of group.value.tickets" cdkDrag>{{ticket.id}}</div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="content-panel" *ngIf="false">
      <app-printable-invoice
        [seller]="invoice.seller"
        [buyer]="invoice.buyer"
        [id]="invoice.id"
        [date]="invoice.date" 
        [items]="invoice.items"
        [total]="invoice.total"
      ></app-printable-invoice>
    </div>
    <div class="content-action">
      <ion-card class="panel-action">
        <ion-card-content>
          <div class="content-panel-button">
            <ion-button routerLink="/dashboard/invoices/new" routerDirection="back" fill="clear" color="secondary">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <div class="panel-list">
              <ion-item color="dark" lines="none">
                <ion-label *ngFor="let item of selectedTickets; let last = last">{{item.id}} {{ last ? "" : ', ' }}</ion-label>
              </ion-item>
              <ion-button routerLink="/ticket/sksks">Generate</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>