<app-header-toolbar [titulo]="'invoices.'+'Confirm Invoice Information' | transloco"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="content-main" *transloco="let t; read: 'invoices'">
    <div class="form-content">
      <div class="content">
        <ion-card *ngIf="invoice">
          <ion-card-header>
            <ion-card-title>
              {{ t("Seller data") }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Name") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.name">
                  </mat-form-field>
                </ion-col>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Phone") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.phone">
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-card-subtitle>{{ t("Address") }}</ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Street") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.street">
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("City") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.city">
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.zip">
                  </mat-form-field>
                </ion-col>
                <ion-col size="5">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("State") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.seller.state">
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              {{ t("Customer data") }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Customer") }}</mat-label>
                    <mat-select (selectionChange)="exportClientChange($event)">
                      <mat-option *ngFor="let client of exportClients | async" [value]="client">{{client.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Name") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.name">
                  </mat-form-field>
                </ion-col>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Phone") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.phone">
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-card-subtitle>{{ t("Address") }}</ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Street") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.street">
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("City") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.city">
                  </mat-form-field>
                </ion-col>
                <ion-col size="2">
                  <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.zip">
                  </mat-form-field>
                </ion-col>
                <ion-col size="4">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("State") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.state">
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Country") }}</mat-label>
                    <input autocomplete="off" data-lpignore="true" matInput [(ngModel)]="invoice.buyer.country">
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Other") }}</mat-label>
                    <textarea matInput [(ngModel)]="invoice.buyer.other"></textarea>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ t("Incoterm") }}:</mat-label>
                    <mat-select [(ngModel)]="invoice.incoterm">
                      <mat-option value="">{{ t("None") }}</mat-option>
                      <mat-option value="DAP">{{ t("Delivery at Place") }}</mat-option>
                      <mat-option value="EXW">{{ t("EX Works") }}</mat-option>
                      <mat-option value="FOB">{{ t("Free On Board") }}</mat-option>
                      <mat-option value="Delivery">{{ t("Delivery") }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="content">
        <ion-card *ngFor="let productGroup of groups | keyvalue">
          <ion-card-header>
            <ion-card-title>{{productGroup.key}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let client of productGroup.value | keyvalue">
              <ng-container *ngFor="let contractID of client.value | keyvalue">
                <h3>{{client.key}}</h3>
                <div class="group-area" *ngFor="let group of contractID.value | keyvalue">
                  <div class="list-title">
                    <span class="list-title-text">
                      <ion-card-subtitle>{{group.key}}</ion-card-subtitle>
                      <span>{{group.value.totalWeight}} lbs | {{getMetricTonTotal(group.value.tickets) | number:"0.3"}} mTon</span>
                    </span>
                    <span>
                      <mat-form-field>
                        <mat-label>{{ t("Price") }}</mat-label>
                        <span matPrefix>$</span>
                        <input matInput [(ngModel)]="group.value.price" [disabled]="invoiceCreated">
                      </mat-form-field>
                    </span>
                    <button class="list-action-bar" mat-icon-button (click)="deleteGroup(productGroup.key, client.key, contractID.key, group.key)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <div
                    cdkDropList
                    [id]="productGroup.key + '-' + client.key + '-' + contractID.key + '-' + group.key"
                    [cdkDropListData]="group.value.tickets"
                    [cdkDropListConnectedTo]="getConnectedProductGroupList(productGroup.key, client.key, contractID.key, group.key)"
                    class="ticket-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="ticket-box" *ngFor="let ticket of group.value.tickets" cdkDrag [cdkDragData]="ticket">
                      <span>{{ticket.id}}</span>
                      <span>{{ticket.driver}}</span>
                      <span>{{ticket.plates}}</span>
                      <span>{{ticket.net | massInUnit:"lbs"}} lbs | {{ticket.net | massInUnit:'mTon' | number:"0.3"}} mTon</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  
    <div id="printable-documents" class="content-panel" *ngIf="invoiceCreated">
      <app-printable-invoice
        [seller]="invoice.seller"
        [buyer]="invoice.buyer"
        [id]="invoice.id"
        [date]="invoice.date" 
        [items]="invoice.items"
        [total]="invoice.total"
        [isExportInvoice]="invoice.isExportInvoice"
        [exportInfo]="invoice.exportInfo"
        [incoterm]="invoice.incoterm"
        [documentName]="invoice.printableDocumentName"
      ></app-printable-invoice>

      <div id="second-print-page" *ngFor="let product of groups | keyvalue">
        <div class="second-print-page-header">
          <span>{{product.key}}</span>
          <span>{{today | date:'MM-dd-yy'}}</span>
        </div>
        <div class="grain-relation-section" *ngFor="let client of product.value | keyvalue">
          <ng-container *ngFor="let contractID of client.value | keyvalue">
            <h1>{{client.key}}</h1>
            <div *ngFor="let group of contractID.value | keyvalue; let last = last">
              <div class="relation-grid">
                <span>{{group.value.price | currency}}</span>
                <div class="plates-column">
                  <span *ngFor="let ticket of group.value.tickets">{{ticket.plates}} - {{ticket.getNet().getMassInUnit('mTon') | number:"0.3"}} mTon</span>
                </div>
                <div class="right-row">
                  <span>{{getMetricTonTotal(group.value.tickets) | number:"0.3"}} mTon</span>
                  <span>{{group.value.transport.name}}</span>
                  <span>{{group.value.transport.caat}}</span>
                </div>
              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="page-break"></div>


      <ng-container *ngFor="let docs of printTicketDocs">
        <app-printable-ticket
          [ticket]="docs[0]"
          [contract]="docs[1]"
          [transport]="docs[2]"
          [client]="docs[3]">
        </app-printable-ticket>
      </ng-container>
    </div>
  </div>

  <div class="white-space-114"></div>
  <div class="content-action" *transloco="let t; read: 'actions'">
      <ion-card class="panel-action">
        <ion-card-content>
          <div class="content-panel-button">
            <ion-button routerLink="/dashboard/invoices/new" routerDirection="back" fill="clear" color="secondary">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <div class="panel-list">
              <ion-item color="dark" lines="none">
                <ion-label *ngFor="let item of selectedTickets; let last = last">{{item.id}} {{ last ? "" : ', ' }}</ion-label>
              </ion-item>
              <button
                mat-flat-button
                color="primary"
                (click)="generateInvoice()"
                *ngIf="!invoiceCreated"
                >{{ t("Generate") }}
              </button>
              <button
                (click)="submit()"
                mat-flat-button
                color="primary"
                *ngIf="invoiceCreated"
                >{{ t("Submit") }}
              </button>
              <button
                hidden
                #printButton
                id="print-button"
                *ngIf="invoiceCreated"
                ngxPrint
                printSectionId="printable-documents"
                [useExistingCss]="true"
                >{{ t("Print") }}
              </button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>