<ion-header>
  <ion-toolbar>
    <ion-title>Confirm invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-main">
    <div class="content-form">
      <form>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Customer data
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-card-subtitle>Address</ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <mat-form-field appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>Exterior</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>Interior</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>

              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="4">
                  <mat-form-field appearance="fill">
                    <mat-label>Neighborhood</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="3">
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </form>
    </div>

    <div class="content-panel" *ngIf="false">
      <div class="content-items-tickets">
        <ion-card class="item-ticket" lines="none" *ngFor="let item of [1,1,1,1,1,1]">
          <ion-card-header>
            <h2>Ticket 1772</h2>
          </ion-card-header>
          <ion-card-content>
            <p class="item-name">{{'Yellow Corn' | uppercase}}</p>
            <p>754WU9 - 37.948</p>
            <p>753WU9 - 40.025</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="content-items">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Summary</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-text slot="start">Subtotal</ion-text>
              <ion-text slot="end">$ 2,263.00</ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-text slot="start">Total</ion-text>
              <ion-text slot="end">$ 2,263.00</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="content-action">
      <ion-card class="panel-action">
        <ion-card-content>
          <div class="content-panel-button">
            <ion-button routerLink="/dashboard/invoices/new" routerDirection="back" fill="clear" color="secondary">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <div class="panel-list">
              <ion-button routerLink="/ticket/sksks">Generate</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>