<ng-container *transloco="let t, read: 'directory'">
	<h2 mat-dialog-title>{{t('Edit Contact')}}</h2>
	
	<mat-dialog-content>
		<form #contactForm="ngForm">
			<mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
				<mat-grid-tile colspan="12">
					<mat-form-field appearance="fill">
						<mat-label>{{t('Name')}}</mat-label>
						<input matInput required [(ngModel)]="data.name" name="name">
						<mat-error>{{t('Name is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="12">
					<div class="chip-row">
						<mat-chip-list multiple [(ngModel)]="data.tags" name="tags">
							<mat-chip value="client" #c="matChip" (click)="chipToggle(c, 'client')">Client</mat-chip>
							<mat-chip value="trucker" #tc="matChip" (click)="chipToggle(tc, 'trucker')">Trucker</mat-chip>
							<mat-spinner [diameter]="20" *ngIf="!otherTags"></mat-spinner>
							<mat-chip *ngFor="let tag of otherTags" [value]="tag" #oc="matChip" (click)="chipToggle(oc, tag)">{{tag | titlecase}}</mat-chip>
						</mat-chip-list>
						<button mat-icon-button (click)="newTagDialog()"><mat-icon>add</mat-icon></button>
					</div>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="12">
					<mat-form-field appearance="fill">
						<mat-label>{{t('Street Address')}}</mat-label>
						<input matInput [(ngModel)]="data.streetAddress" name="streetAddress">
						<mat-error>{{t('Street Address is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="4">
					<mat-form-field appearance="fill">
						<mat-label>{{t('City')}}</mat-label>
						<input matInput [(ngModel)]="data.city" name="city">
						<mat-error>{{t('City is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="4">
					<mat-form-field appearance="fill">
						<mat-label>{{t('State')}}</mat-label>
						<input matInput [(ngModel)]="data.state" name="state">
						<mat-error>{{t('State is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="2">
					<mat-form-field appearance="fill">
						<mat-label>{{t('Zip Code')}}</mat-label>
						<input matInput [(ngModel)]="data.zipCode" name="zipCode">
						<mat-error>{{t('Zip code is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="2">
					<mat-form-field appearance="fill">
						<mat-label>{{t('Country')}}</mat-label>
						<input matInput [(ngModel)]="data.country" name="country">
						<mat-error>{{t('Country is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="12" *ngIf="data.tags | includes:'trucker'">
					<mat-form-field appearance="fill">
						<mat-label>{{t('CAAT')}}</mat-label>
						<input matInput [(ngModel)]="data.caat" name="caat">
						<mat-error>{{t('CAAT is')}} <strong>{{t('required')}}</strong></mat-error>
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="6">
					<mat-form-field appearance="fill">
						<mat-label>{{t('RFC')}}</mat-label>
						<input matInput [(ngModel)]="data.rfc" name="rfc">
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="6">
					<mat-form-field appearance="fill">
						<mat-label>{{t('CURP')}}</mat-label>
						<input matInput [(ngModel)]="data._curp" name="curp">
					</mat-form-field>
				</mat-grid-tile>
	
				<!-- <mat-grid-tile colspan="6">
					<mat-form-field appearance="fill">
						<mat-label>Notarial Act</mat-label>
						<input matInput [(ngModel)]="data.notarialAct" name="rfc">
					</mat-form-field>
				</mat-grid-tile>
	
				<mat-grid-tile colspan="6">
					<mat-form-field appearance="fill">
						<mat-label>RFC</mat-label>
						<input matInput [(ngModel)]="data.rfc" name="rfc">
					</mat-form-field>
				</mat-grid-tile> -->
	
			</mat-grid-list>
	
			<div>
				<mat-grid-list cols="9" rowHeight="70px">
					<mat-grid-tile colspan="9">
						<mat-grid-tile-header>{{t('Primary Contact')}}:</mat-grid-tile-header>
					</mat-grid-tile>
				</mat-grid-list>
	
				<mat-grid-list
					id="primary-metacontact" 
					cols="9" 
					rowHeight="70px" 
					gutterSize="10px" 
					*ngFor="let contact of data.metacontacts | primary:'isPrimary':primaryMetaContact():data.metacontacts.length; let index = index; let last = last"
					[class.underline]="!last">
					<mat-grid-tile colspan="9">
						<button 
							mat-icon-button 
							matTooltip="Make Primary" 
							*ngIf="!contact.isPrimary"
							(click)="promoteToPrimary(contact)"><mat-icon>publish</mat-icon></button>
						<mat-form-field appearance="fill">
							<mat-label>{{t('Name')}}</mat-label>
							<input matInput [(ngModel)]="contact.name" [ngModelOptions]="{standalone: true}">
							<mat-error>{{t('Name is')}} <strong>{{t('required')}}</strong></mat-error>
						</mat-form-field>
						<button 
							mat-icon-button 
							matTooltip="delete" 
							*ngIf="data.metacontacts.length > 1"
							(click)="removeMetacontact(index)"><mat-icon>delete</mat-icon></button>
					</mat-grid-tile>
	
					<mat-grid-tile colspan="3">
						<mat-form-field appearance="fill">
							<mat-label>{{t('Phone Number')}}</mat-label>
							<input matInput [(ngModel)]="contact.phone" [ngModelOptions]="{standalone: true}">
							<mat-error>{{t('Phone number is')}} <strong>{{t('required')}}</strong></mat-error>
						</mat-form-field>
					</mat-grid-tile>
	
					<mat-grid-tile colspan="6">
						<mat-form-field appearance="fill">
							<mat-label>{{t('Email')}}</mat-label>
							<input matInput [(ngModel)]="contact.email" [ngModelOptions]="{standalone: true}">
							<mat-error>{{t('Email is')}} <strong>{{t('required')}}</strong></mat-error>
						</mat-form-field>
					</mat-grid-tile>
				</mat-grid-list>

				<button mat-flat-button (click)="createNewMetacontact()" color="primary" id="new-metacontact-button">+ Add New</button>
			</div>
		</form>
	</mat-dialog-content>
	
	<mat-dialog-actions class="action-bar">
		<button mat-button color="primary" [mat-dialog-close]="null">{{t('Cancel')}}</button>
		<button mat-button color="primary" [mat-dialog-close]="data" [disabled]="contactForm.invalid">{{t('Save')}}</button>
	</mat-dialog-actions>
</ng-container>