.content-header{
    display: flex;
    column-gap: 12px;
}

.content-label{
    display: grid;
    justify-content: flex-start;
    span:nth-child(1){
        font-size: 16px;
        color: var(--ion-color-dark);
        font-weight: 500;
    }
    
}
.label-text{
    font-size: .775rem;
    color: var(--ion-color-medium);
}
ion-item {
    --min-height: 64px;
    ion-label{
        font-size: .875rem;
    }
}
.content-subtitle{
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    color: var(--ion-color-medium);
    display: flex;
    padding: 10px 0 10px 10px;
}
ion-icon {
    font-size: 20px !important;
}
ion-item{
    --color: rgba(0,0,0,0.87);
    a{
        color: inherit;
        text-decoration: none;
    }
}

.margin-inline{
    margin-inline: 10px;
}