<ng-container *transloco="let t, read: 'directory'">
	<app-header-toolbar [titulo]="t('Directory')"></app-header-toolbar>
	
	<ion-content class="ion-padding">
		<div class="content-header margin-inline">
			<mat-form-field appearance="fill">
				<mat-label>{{t('Type')}}</mat-label>
				<mat-select [(ngModel)]="contactType">
					<mat-option>None</mat-option>
					<mat-option value="client">{{t('Client')}}</mat-option>
					<mat-option value="trucker">{{t('Trucker')}}</mat-option>
					<mat-option *ngFor="let option of (company | async)?.companyTags" [value]="option" [hidden]="option === 'archived' && !permissions.admin">{{option | titlecase}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" *ngIf="contactType == 'trucker'">
				<mat-label>{{t('Destination')}}</mat-label>
				<input matInput [(ngModel)]="deliveryCity" />
				<button *ngIf="deliveryCity" matSuffix mat-icon-button aria-label="Clear" (click)="deliveryCity=''">
					<mat-icon>close</mat-icon>
				  </button>
			</mat-form-field>
			<ion-searchbar clear-icon="close-circle" (ionChange)="search($event)" debounce="500" [(ngModel)]="searchTerms"></ion-searchbar>
			<ion-button (click)="openNewContact()">
				<ion-text slot="end">{{t('New Contact')}}</ion-text>
			</ion-button>
			<!-- <ion-button (click)="exportCurrent()" *ngIf="permissions.developer">
				<ion-text slot="end">{{t('Export Contacts')}}</ion-text>
			</ion-button> -->
		</div>
		<ion-card>
			<div class="content-subtitle">{{t('Contacts')}} ({{ (contactList | search:searchResults:searchQuery:contactType:deliveryCity)?.length ?? 0 }})</div>
				<cdk-virtual-scroll-viewport itemSize="64" *ngIf="contactList" minBufferPx="300">
					<div class="content-item" (contextmenu)="openOptions($event)"
						*cdkVirtualFor="let contact of (contactList | search:searchResults:searchQuery:contactType:deliveryCity); let i = index">
						<ion-item (click)="nav('dashboard/directory/contact/' + contact.id)" button >
							<ion-avatar slot="start">
								<img src="../../../assets/avatar.svg">
							</ion-avatar>
							<ion-label>
								<div class="content-label">
									<span>{{ contact.name }} </span>
									<span class="label-text">
										{{ contact | contactTagsDisplay | titlecase }}
									</span>
								</div>
							</ion-label>
							<!-- <ion-label color="dark" class="ion-hide-lg-down">{{ contact.getPrimaryMetaContact()?.phone ?? "" }}</ion-label> -->
							<ion-buttons class="ion-hide-sm-down" slot="end">
								<ion-button color="primary" *ngIf="contact.tags.includes('trucker')" (click)="$event.stopPropagation(); editTransportField(contact)">
									<ion-icon name="car-outline"></ion-icon>
								</ion-button>
								<ion-button color="primary" (click)="$event.stopPropagation(); edit(contact)">
									<ion-icon name="create-outline"></ion-icon>
								</ion-button>
								<ion-button color="danger" (click)="$event.stopPropagation(); archive(contact)" *ngIf="!contact.tags.includes('archived')">
									<ion-icon name="archive-outline"></ion-icon>
								</ion-button>
								<ion-button color="primary" (click)="$event.stopPropagation(); unarchive(contact)" *ngIf="contact.tags.includes('archived') && permissions.admin">
									<ion-icon name="arrow-undo-outline"></ion-icon>
								</ion-button>
							</ion-buttons>
						</ion-item>
					</div>
				</cdk-virtual-scroll-viewport>
		</ion-card>
	</ion-content>
</ng-container>