<app-header-toolbar titulo="Directory"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="content-header margin-inline">
    <ion-searchbar></ion-searchbar>
    <ion-button (click)="openNewContact()">
      <ion-text slot="end">New Contact</ion-text>
    </ion-button>
  </div>
  <ion-card>
    <div class="content-subtitle">
      Contacts
      <span> ({{contacts != null? contacts.length : 0}})</span>
    </div>
    <!-- <ion-card-content> -->
    <div class="content-item" (contextmenu)="openOptions($event)"
      *ngFor="let item of contacts; let i = index">
      <ion-item (click)="nav('dashboard/directory/contact/' + item.ref.id)" button lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-label>
          <div class="content-label">
            <span>{{item.name}} </span>
            <span class="label-text">{{item.getType() | titlecase}}</span>
          </div>
        </ion-label>
        <ion-label color="dark" class="ion-hide-lg-down">{{ item.primaryMetaContact().phone ?? "" }}</ion-label>

        <!-- <ion-label color="dark" class="ion-hide-md-down">{{item.email}}</ion-label> -->
        
        <ion-buttons class="ion-hide-sm-down">
          <ion-button color="primary" slot="end" (click)="$event.stopPropagation(); editButton(item.ref.id)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button color="danger" slot="end" (click)="$event.stopPropagation(); deleteButton(item.ref.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button color="medium" slot="end">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button> -->
        </ion-buttons>
      </ion-item>
    </div>
    <!-- </ion-card-content> -->
  </ion-card>

</ion-content>