<app-header-toolbar titulo="Directory"></app-header-toolbar>

<ion-content>
  <div class="content-search">
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-card>
    <div class="content-subtitle">
      Contacts
      <span> (20)</span>
    </div>
    <!-- <ion-card-content> -->
    <div class="content-item" (contextmenu)="openOptions($event)"
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-item (click)="openContactModal()" button lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-label>
          <div class="content-label">
            <span>Cecilia Villaverde Jimenez </span>
            <span class="label-text">Cliente</span>
          </div>
        </ion-label>
        <ion-label class="ion-hide-lg-down">(477) 518-86-38</ion-label>

        <ion-label class="ion-hide-md-down">cecilia-jimenez@gmail.com</ion-label>
        
        <ion-buttons class="ion-hide-sm-down">
          <ion-button color="primary" slot="end">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" slot="end">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button color="medium" slot="end">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button> -->
        </ion-buttons>
      </ion-item>
    </div>
    <!-- </ion-card-content> -->
  </ion-card>
</ion-content>