<h2 mat-dialog-title>Set Group Contract</h2>

<mat-dialog-content>
	<form #contractForm="ngForm">
		<mat-grid-list cols="6" rowHeight="70px" gutterSize="15px">
			<mat-grid-tile colspan="4">
				<mat-form-field appearance="fill" class="id-field">
					<mat-label>ID</mat-label>
					<input matInput required [(ngModel)]="data.id" name="id">
					<mat-error>ID is <strong>required</strong></mat-error>
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile colspan="2">
				<mat-form-field appearance="fill" class="date-field">
					<mat-label>Date</mat-label>
					<input matInput [matDatepicker]="picker" readonly required 
					[(ngModel)]="data.startDate" name="startDate">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill" class="future-field">
					<mat-label>Future Price</mat-label>
					<span matPrefix>$ &nbsp;</span>
					<input matInput type="number" required [(ngModel)]="data.futurePrice" name="futurePrice">
					<mat-error>Future Price is <strong>required</strong></mat-error>
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill" class="base-field">
					<mat-label>Base Price</mat-label>
					<span matPrefix>$ &nbsp;</span>
					<input matInput type="number" required [(ngModel)]="data.basePrice" name="basePrice">
					<mat-error>Base Price is <strong>required</strong></mat-error>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</form>

	<ngx-dropzone class="dropzone"  [multiple]="false" (change)="onSelect($event)">
		<ngx-dropzone-label>
			<mat-icon>cloud_upload</mat-icon>
			<h3>Upload File Here</h3>
		</ngx-dropzone-label>

		<ngx-dropzone-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
			<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
		</ngx-dropzone-preview>
	</ngx-dropzone>

	<div class="empty">
		<ng-template [ngIf]="data.pdfReference">
			<span>Current Contract: </span>
			<a href="{{ data.pdfReference }}">{{ shortUrl() }}</a>
		</ng-template>
	</div>
</mat-dialog-content>

<mat-dialog-actions class="action-bar">
	<button mat-button color="primary" (click)="cancel()">Cancel</button>
	<button mat-button color="primary" (click)="confirm()" [mat-dialog-close]="data" [disabled]="contractForm.invalid">Confirm</button>
</mat-dialog-actions>
