.mat-calendar-body-selected,
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--ion-color-primary);
}
.mat-datepicker-toggle-active,
.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--ion-color-primary);
}
.mat-input-element {
  caret-color: var(--ion-color-primary);
}
.mat-simple-snackbar-action {
  color: var(--ion-color-tertiary) !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--ion-color-primary);
}

.input-small-mat {
  .mat-form-field-flex {
    padding: 0 8px !important;
    align-items: center !important;
    border-radius: 4px !important;
  }
  .mat-form-field-wrapper {
    padding: 0;
    .mat-form-field-underline {
      display: none;
    }
  }
}
.input-small-mat-label{
  .mat-form-field-infix{
    padding: 0;
    margin: 0;
    border: none;
    padding: 8px 0;
  }
}
.mat-raised-button:not([class*=mat-elevation-z]){
  box-shadow: none;
  background-color: #FFF;
}
.mat-card-header-text {
  margin: 0 !important;
}