
<div>
	<table *ngIf="ready; else loading">
		<thead>
			<tr>
				<ng-container
					*ngTemplateOutlet="
						headers;
					"
				></ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of data" (click)="rowAction(row)">
				<ng-container
					*ngTemplateOutlet="
						rows;
						context: { $implicit: row }
					"
				></ng-container>
			</tr>
		</tbody>
	</table>

	<mat-paginator 
		[pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
	></mat-paginator>
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>
