
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // overflow-x: auto;
    // position: sticky;
    // top: 0;

    mat-paginator {
        margin: 15px;
    }
}

table {
    width: 100%;
    // height: min-content;

    text-align: center; // horizontal
    align-content: center; // vertical
    color: var(--ion-color-dark);
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px !important;
    overflow: hidden;

    // display: block;
    // margin: 0 auto;
    // overflow-x: auto;
    // white-space: nowrap;

    thead {
        background-color: var(--ion-color-primary-light);
		color: var(--ion-color-primary);
		border-bottom: 0.5px solid var(--ion-color-primary);
		font-size: 1.1em;
		font-weight: 500;
		height: 65px;
        // position: sticky;
        // top: 0px;

        ::ng-deep {
            *{}

            th {
                width: fit-content;
                transition: transform .6s;

                .sort-button {
                    transition: opacity .3s, transform .6s;
                    width: unset;
                    height: 35px;
                }

                mat-icon {
                    font-size: 20px;
                    transition: transform .6s;
    
                    &.flipped {
                        transform: rotate(-180deg);
                    }
                }

                &:hover.sort-button {
                    opacity: 1;  
                }

                &:not(:hover):has(.sort-button:not(.selected)) {
                    transform: translate(10px);

                    .sort-button:not(.selected) {
                        opacity: 0;
                        transform: translate(-10px);
                    }
                }
    
            }
        }
    }

    tbody {
        background-color: white;

        tr {
            position: relative;
            height: 52.5px;

            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(var(--ion-color-primary-rgb), 0.15);
                transition: opacity .3s;
                opacity: 0;
                z-index: 2;
            }
            &:hover:after {
                opacity: 1;
            }
            &:hover {
                background-color: transparent !important;
                transition: .2s;
            }

            &:nth-child(even) {
                background-color: var(--ion-color-light);
            }

            ::ng-deep > td > .status {
                display: inline-block;
                font-weight: 600;
                font-size: 0.8em;
                font-family: 'Verdana', 'Arial', sans-serif;
                text-transform: capitalize;
                padding: 0 1rem;
                border-radius: 15px;    
                border-style: solid;
                border-width: 0.5px;
                
        
                &.pending {
                    background-color: rgba(var(--ion-color-warning-rgb), 0.15);
                    color: var(--ion-color-warning);
                }
                &.active {
                    background-color: rgba(var(--ion-color-success-rgb), 0.15);
                    color: var(--ion-color-success);
                }
                &.closed {
                    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
                    color: var(--ion-color-danger);
                }
                &.cancelled {
                    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
                    color: var(--ion-color-danger);
                
                    cursor: initial;
                    &:before {
                        all: initial;
                    }
                }
            }
        }
    }
}