
<div id="table-wrapper">
	<table>
		<thead>
			<tr>
				<ng-container
					*ngTemplateOutlet="headers"
				></ng-container>
			</tr>
		</thead>
		<tbody *ngIf="displayFormat === 'infiniteScroll' || !displayFormat">
			<ng-container *ngFor="let data of dataList">
				<ng-container *ngIf="data | async as snapshot; else loading">
					<tr #contracts *ngFor="let row of snapshot.docs" (click)="rowAction(row)">
						<ng-container
							*ngTemplateOutlet="
								rows;
								context: { $implicit: row.data() }
							"
						></ng-container>
					</tr>
				</ng-container>
			</ng-container>
		</tbody>
		<tbody *ngIf="displayFormat === 'pagination'">
			<ng-container *ngIf="dataList[page] | async as snapshot; else loading">
				<tr #contracts *ngFor="let row of snapshot.docs" (click)="rowAction(row)">
					<ng-container
						*ngTemplateOutlet="
							rows;
							context: { $implicit: row.data() }
						"
					></ng-container>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>

<ion-infinite-scroll *ngIf="displayFormat === 'infiniteScroll'"
	threshold="200px" 
	(ionInfinite)="emitChange($event)" 
>
	<ion-infinite-scroll-content
		loadingSpinner="bubbles"
		loadingText="Loading more data..."
	></ion-infinite-scroll-content>
</ion-infinite-scroll>

<div id="paginator-wrapper" *ngIf="displayFormat === 'pagination'">
	<!-- PREV STUFF -->
	<!-- <ng-container *ngFor="let data of dataList">
		<ng-container *ngIf="data | async as snapshot; else loading">
			<mat-paginator #paginator
				[pageSizeOptions]="[5, 10, 20, 30, 40]" 
				[pageSize]="snapshot.docs.length" 
				(page)="emitChange($event)" 
				[length]="dataCount"
			></mat-paginator>
		</ng-container>
	</ng-container> -->

	<div id="custom-paginator">
		<div>
			Items per page:
			<mat-form-field>
				<mat-select (selectionChange)="emitChange($event.value)" [value]="steps | async">
					<mat-option *ngFor="let size of [5, 10, 20, 30, 40]" [value]="size">
						{{ size }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		{{ 1 + page * (steps | async) }} - {{ (steps | async) + page * (steps | async) }} of {{ dataCount }}
		<div>
			<button mat-icon-button (click)="emitChange(-1);" [disabled]="page <= 0">
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
			<button mat-icon-button (click)="emitChange(1)" [disabled]="page >= roundUp(dataCount / (steps | async))">
				<mat-icon>keyboard_arrow_right</mat-icon>
			</button>
		</div>
	</div>
</div>

<ng-template #loading>
	<td colspan="100%">
		<div id="spinner-wrapper">
			<mat-spinner></mat-spinner>
		</div>
	</td>
</ng-template>
