
<ng-container *transloco="let t; read: 'treasury'">  
  <h2 mat-dialog-title>{{ t('Set Account') }}</h2>
  
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="account-name">
      <mat-label>{{ t('Account Name') }}</mat-label>
      <input matInput [(ngModel)]="account.name">
    </mat-form-field>

    <!-- <div class="form-field-row"> -->
      <mat-form-field appearance="fill" floatLabel="always" class="account-number">
        <mat-label>{{ t('Account Number') }}</mat-label>
        <span matPrefix>#&nbsp;</span>
        <input matInput [(ngModel)]="account.accountNumber" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always" class="starting-balance">
        <mat-label>{{ t('Starting Balance') }}</mat-label>
        <span matPrefix>$&nbsp;</span>
        <input matInput [(ngModel)]="account.balance">
      </mat-form-field>
    <!-- </div> -->

    <mat-divider></mat-divider>
    <div mat-subheader>{{ t('Routing Numbers') }}</div>
    <section class="routing-numbers">
      <div class="form-field-col">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>{{ t('Number') }}</mat-label>
          <span matPrefix>#&nbsp;</span>
          <input matInput [(ngModel)]="routingNumber">
        </mat-form-field>
        <mat-form-field appearance="fill" class="description-form-field">
          <mat-label>{{ t('Description') }}</mat-label>
          <textarea matInput [(ngModel)]="routingDescription"></textarea>
        </mat-form-field>
      </div>
      <div class="action-buttons-container">
        <button mat-button color="primary" (click)="addRoutingNumber()">
          {{ t('add') }} <mat-icon>arrow_right</mat-icon>
        </button>
        <button mat-button color="warn" (click)="deleteRoutingNumbers(routingList.selectedOptions.selected[0].value)" *ngIf="routingList.selectedOptions.selected.length > 0">
          {{ t('remove') }} <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-selection-list dense class="routing-list" #routingList [multiple]="false">
        <mat-list-option *ngFor="let item of account.routingNumbers | keyvalue" [value]="item.key">
          <p matLine>{{ item.key }}</p>
          <p matLine>{{ item.value }}</p>
        </mat-list-option>
      </mat-selection-list>
    </section>
  </mat-dialog-content>
  
  <mat-dialog-actions [align]="'end'">
    <button mat-button color="accent" (click)="test()">Test</button>
    <button mat-button color="primary" mat-dialog-close>Close</button>
    <button mat-button color="primary" cdkFocusInitial [mat-dialog-close]="account">Confirm</button>
  </mat-dialog-actions>
</ng-container>