.table {
    width: 100%;
    min-height: 720px;
}

.header {
    display: flex;
    margin: 15px 25px 25px;
}

// ------- My boss told me to get rid of this :( ---------

// .total-text {
//     font-size: 25px;
//     color: rgba(69, 69, 69, 0.731);
//     display: flex;
//     margin-left: 1.5em;
// }

// .total-bushels {
//     margin-top: 25px;
//     margin-left: -25px;
// }

// #diagonal-line {
//     width: calc(1.1 * 50px);
//     transform: rotate(-45deg);
//     transform-origin: bottom left;
//     border-top: 2.5px solid rgb(100, 100, 100, 0.531);
//     position: relative;
//     bottom: -40px;
//     left: 0px;
//     margin-bottom: 30px;
//     box-sizing: border-box;
// }

// ---------------------------------------------------------

.tabs {
    display: flex;
    align-content: stretch !important;
}

.segment-button-checked {
    background: rgba(var(--ion-color-primary-rgb),0.15);
}

.table-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;

    ion-text {
        align-self: center;
    }
}

.table-header {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--ion-color-primary-light);
    color: var(--ion-color-primary);
    height: 4rem;
    border-color: var(--ion-color-primary);
    border-width: 1.5px !important;
    border-radius: 4px;
    border: solid;
}

.table-add {
    background-color: var(--ion-color-step-5);
    font-size: 1rem;
    min-height: 2.75rem;
    position: relative;
    cursor: pointer;
    
    ion-text {
        grid-column: span 6;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.3);
        transition: opacity .3s;
        opacity: 0;
        z-index: 2;
    }

    &:hover:before {
        opacity: 1;
    }
}

// #receipt-add-button {
//     background-color: var(--ion-color-primary);
//     color: white;
//     font-size: 1rem;
//     margin: 7px 40px;
//     box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
//     0px 2px 2px 0px rgb(0 0 0 / 14%), 
//     0px 1px 5px 0px rgb(0 0 0 / 12%);
// }

.body {
    font-size: 1rem;
    font-weight: 500;
    height: 2.75rem;
    color: rgb(47, 47, 47);
}

.even {
    background-color: var(--ion-color-step-5);
}

.status-cell {
    display: flex;
    justify-content: center; // up and down
    align-content: center; // left and right
    flex-direction: column;
}

.status-text {
    font-weight: 500;
    font-size: 0.9em;
    padding: 0 0.75rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.3);
        transition: opacity .3s;
        opacity: 0;
        z-index: 2;
        border-radius: 22px;
    }

    &:hover:before {
        opacity: 1;
    }
}

.status-date {
    font-size: 0.7rem;
}

.active {
    background-color: rgba(var(--ion-color-success-rgb), 0.15);
    color: var(--ion-color-success);
}
.sold {
    background-color: rgba(var(--ion-color-warning-rgb), 0.15);
    color: var(--ion-color-warning);
}
.financing {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.15);
    color: var(--ion-color-secondary);
}
.cancelled { 
    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
    color: var(--ion-color-danger);
    cursor: initial;
    &:before {
        all: initial;
    }
}
