.table {

}

.header {
    display: flex;
    margin: 15px 25px 30px;
    justify-content: space-between;
}

.total-text {
    font-size: 30px;
    color: rgba(100, 100, 100, 0.731);
    display: flex;
}

.total-bushels {
    margin-top: 25px;
    margin-left: -25px;
}

#diagonal-line {
    width: calc(1.1 * 50px);
    transform: rotate(-45deg);
    transform-origin: bottom left;
    border-top: 2.5px solid rgb(100, 100, 100, 0.531);
    position: relative;
    bottom: -40px;
    left: 0px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.tabs {
    
}

.table-row {
    display: grid;
    // grid-template-columns: min(10%, 300px) min(30%, 300px) 1fr min(20%, 300px) 1fr 1fr;
    // grid-template-columns: minmax(5%, 1fr) minmax(5%, 1fr) minmax(5%, 1fr) minmax(5%, 1fr) minmax(5%, 1fr) minmax(5%, 1fr);
    grid-template-columns: repeat(auto-fill, 180px);
    text-align: center;
    font-weight: 500;

    ion-text {
        align-self: center;
    }
}

.table-header {
    font-size: 21px;
    background-color: var(--ion-color-primary-light);
    color: var(--ion-color-primary);
    height: 3.25rem;
    border-color: var(--ion-color-primary);
    border-width: 1.5px !important;
    border-radius: 4px;
    border: solid;
}

.body {
    font-size: 15px;
    height: 2.75rem;
    color: black;
}

.even {
    background-color: var(--ion-color-step-5);
}

.receipt-status {
    padding: 2px;
    margin: 0 2.25rem;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.3);
        transition: opacity .3s;
        opacity: 0;
        z-index: 2;
        border-radius: 22px;
    }

    &:hover:before {
        opacity: 1;
    }
}



.active {
    background-color: rgba(var(--ion-color-success-rgb), 0.15);
    color: var(--ion-color-success);
}
.sold {
    background-color: rgba(var(--ion-color-warning-rgb), 0.15);
    color: var(--ion-color-warning);
}
.financing {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.15);
    color: var(--ion-color-secondary);
}
.paid-closed { 
    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
    color: var(--ion-color-danger);
    cursor: initial;
    &:before {
        all: initial;
    }
}

#receipt-add-button {
    background-color: var(--ion-color-primary);
    color: white;
    font-size: 17px;
    margin: 0 10px 0;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
