<div>
	<div class="table">
		<ion-card class="header">
			<ion-segment class="tabs" (ionChange)="segmentChanged($event)">
				<ion-segment-button value="active,sold,financing,cancelled">
					<ion-label>All</ion-label>
				</ion-segment-button>
				<ion-segment-button value="active,sold,financing">
					<ion-label>Active</ion-label>
				</ion-segment-button>
				<ion-segment-button value="cancelled">
					<ion-label>Cancelled</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-card>

		<ion-card>
			<div class="table-row table-header">
				<ion-text>ID</ion-text>
				<ion-text>Start Date</ion-text>
				<ion-text>Status</ion-text>
				<ion-text>Grain</ion-text>
				<ion-text>Bushels</ion-text>
				<ion-text>Future Price</ion-text>
			</div>
		</ion-card>

		<ion-card>
			<div class="table-add table-row" (click)="newWarehouseReceiptModal()">
				<!-- <button id="receipt-add-button" mat-button (click)="newWarehouseReceiptModal()">
					<mat-icon>add</mat-icon>
				</button>
				<ion-text>
					New Receipt
				</ion-text> -->
				<ion-text>
					<i>+ Add New Warehouse Receipt...</i>
				</ion-text>
			</div>
			

			<div [class.even]="odd" class="table-row body" *ngFor="let receipt of warehouseReceiptList; let odd = odd">
				<ion-text><b>{{ receipt.id }}</b></ion-text>
				<ion-text>{{ receipt.startDate | date }}</ion-text>
				<div class="status-cell">
					<ion-text (click)="openStatusSelect(receipt)" class="status-text" 
						[class.active]="receipt.status === 'active'" 
						[class.sold]="receipt.status === 'sold'" 
						[class.financing]="receipt.status === 'financing'"
						[class.cancelled]="receipt.status === 'cancelled'">
						{{ receipt.status }}
					</ion-text>

					<ion-text class="status-date" *ngIf="receipt.status === 'cancelled'">
						{{ receipt.endDate | date }}
					</ion-text>
				</div>
				<ion-text>{{ receipt.grain }}</ion-text>
				<ion-text>{{ receipt.bushels | number }}</ion-text>
				<ion-text>{{ receipt.futurePrice | currency }}</ion-text>
			</div>
		</ion-card>
	</div>
</div>