
:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    .mat-form-field {
        font-weight: bold;
        transform: translate(0, 1.5px);
    }
    .mat-input-underline {
        display: none !important;
    }
}