
<ng-container *transloco="let t, read: 'contracts.info'">
  <span>{{ t(columnLabel) | uppercase }}</span>
  <span>
    ( <mat-form-field *ngIf="true" [style.max-width.%]="25">
        <mat-select
          [value]="columnUnitMap.get(columnLabel)"
          (valueChange)="columnUnitMap.set(columnLabel, $event)"
        >
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{ unit | uppercase }}
          </mat-option>
        </mat-select>
    </mat-form-field> )
  </span>
</ng-container>
