
<app-header-toolbar titulo="Contact"></app-header-toolbar>

<ion-content class="ion-padding" [fullscreen]="true">
	<ion-grid *ngIf="ready else loading">
		<ion-row>
			<ion-col>
				<ion-card>
					<!-- <ion-card-header>Information</ion-card-header> -->
					<ion-card-content>
						<div>
							<h1>
								<b>{{ contact.name }}</b>
								<span><ion-icon name="create-outline"></ion-icon></span>
							</h1>
							<h3>{{ contact.type }}</h3>
						</div>

					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card>
					<ion-card-header>Analytics</ion-card-header>
					<ion-card-content>
						analytics information
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<ion-card>
					<ng-template [ngIf]="contact.type.toLowerCase() === 'client'" [ngIfElse]="tickets">
						<ion-card-header>Contracts</ion-card-header>

						<ion-card-content>

						</ion-card-content>
					</ng-template>
					<ng-template #tickets>
						<ion-card-header>Tickets</ion-card-header>

						<ion-card-content>
							<mat-list>
								<mat-list-item *ngFor="let item of docList">

								</mat-list-item>
							</mat-list>
						</ion-card-content>
					</ng-template>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ng-template #loading>
		<div>
			<mat-spinner></mat-spinner>
		</div>
	</ng-template>
</ion-content>
