
<div class="dialog" *transloco="let t; read: 'actions'">
	<h2 mat-dialog-title>{{ !data.hasDoc ? t('Upload') : "" }} {{ data.docType }}</h2>
	
	<mat-dialog-content [class.noDoc]="!data.hasDoc">
		<mat-tab-group>
			<mat-tab *ngIf="data.hasDoc" label="View">
				<div class="tab-content" [class.consistent-height]="data.hasDoc">
					<mat-spinner *ngIf="!ready else pdfView"></mat-spinner>

					<ng-template #pdfView>
						<object [data]="source" height="470px" width="700px" type="application/pdf"></object>
					</ng-template>
				</div>
			</mat-tab>

			<mat-tab *ngIf="data.uploadable" [label]="t(!data.hasDoc ? 'Upload' : 'Re-Upload')">
				<div class="tab-content" [class.consistent-height]="data.hasDoc">
					<ngx-dropzone class="dropzone" [multiple]="false" (change)="onSelect($event)">
						<ngx-dropzone-label>
							<mat-icon>cloud_upload</mat-icon>
							<h3>{{ t('Upload') }} {{ data.docType }}</h3>
							<p>{{ t("Simply drag and drop or click here to choose a file.") }}</p>
						</ngx-dropzone-label>

						<ngx-dropzone-preview 
							*ngFor="let f of files" 
							[file]="f" 
							[removable]="true" 
							(removed)="onRemove(f)"
						>
							<ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
						</ngx-dropzone-preview>
					</ngx-dropzone>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-dialog-content>
	
	<mat-dialog-actions>
		<button mat-button color="primary" [mat-dialog-close]="null">{{ t('Close') }}</button>
		<button mat-button color="primary" 
			*ngIf="data.uploadable" 
			[disabled]="files.length === 0" 
			(click)="confirm()"
		>
			{{ t('Confirm') }}
		</button>
	</mat-dialog-actions>
</div>
