
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 700px;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}