
mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 700px;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}