
<app-table 
	[data]="testData" 
	[queryFn]="queryFn" 
	[ready]="ready"
	[rowAction]="action"
>
	<ng-template #headers>
		<th>ID</th>
		<th>Customer</th>
		<th>Date</th>
		<th>Status</th>
		<th>Product</th>
		<th>Price</th>
	</ng-template>
	<ng-template #rows let-row>
		<td>{{ row.id | number}}</td>
		<td>{{ row.customer | titlecase }}</td>
		<td>{{ row.date | date}}</td>
		<td><span ngClass="status {{ row.status.toLowerCase() }}">{{ row.status }}</span></td>
		<td>{{ row.product }}</td>
		<td>{{ row.price | currency }}</td>
	</ng-template>
</app-table>
