<ion-content>
  <ion-list *transloco="let t; read: 'actions'">
    <!-- <ion-list-header>Ionic</ion-list-header> -->
    <ion-item button (click)="openDialog()">
      {{ t('Open') }}
      <ion-icon slot="end" name="open-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="openDialogAddPicture()">
      {{ t('Add Picture') }}
      <ion-icon slot="end" name="images-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="viewAppPhotos()">
      {{ "View Plate Photos" }}
      <ion-icon slot="end" name="images-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="uploadAttachments()">
      {{ t('Upload Attachments') }}
      <ion-icon slot="end" name="document-attach-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="discounts()">
      {{ t('Discounts') }}
      <ion-icon slot="end" name="cash-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="downloadString" href="{{downloadString}}" target="_blank">
      {{ t('Download') }}
      <ion-icon slot="end" name="download-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="fixStorageModal()" *ngIf="ticket.needsAttention && (userPermissions?.admin || userPermissions?.tickets.ticketStorageFix)">
      {{ t('Fix Inventory') }}
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="openContract()">
      {{ t('Open Contract') }}
      <ion-icon slot="end" name="document-text-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="openContact()">
      {{ t('Open Client') }}
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="splitTicket()" *ngIf="!ticket.void && (userPermissions?.admin || userPermissions?.splitTicket)">
      {{ t('Split Ticket') }}
      <ion-icon slot="end" name="duplicate-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="changeTicketContract()" *ngIf="!ticket.void && (userPermissions?.admin || userPermissions?.changeContract)">
      {{ t('Change Ticket Contract') }}
      <ion-icon slot="end" name="documents-outline"></ion-icon>
    </ion-item>
    <ion-item button lines="none" color="danger" (click)="voidTicket()"
      *ngIf="!ticket.void && userPermissions?.admin || userPermissions?.['tickets']?.voidTicketRequest">
      {{ t('Void') }}
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-item>
  
    <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
  </ion-list>
</ion-content>