<ion-list>
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <ion-item button (click)="openDialog()">
    Open
    <ion-icon slot="end" name="open-outline"></ion-icon>
  </ion-item>
  <ion-item button (click)="openDialogAddPicture()">
    Add picture
    <ion-icon slot="end" name="images-outline"></ion-icon>
  </ion-item>
  <ion-item button>
    Discounts
    <ion-icon slot="end" name="cash-outline"></ion-icon>
  </ion-item>
  <ion-item lines="none" href="{{downloadString}}" target="_blank">
    Download
    <ion-icon slot="end" name="download-outline"></ion-icon>
  </ion-item>
  <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
</ion-list>