
<ng-container *ngTemplateOutlet="(template$ | async) ?? none"></ng-container>

<ng-template typeTemplate="compra_aDeposito">
	<contract-purchase-to-deposit [contractForm]="contract"></contract-purchase-to-deposit>
</ng-template>

<ng-template typeTemplate="compra_bodegaTerceros">
	<contract-third-party-warehouse [contractForm]="contract"></contract-third-party-warehouse>
</ng-template>

<ng-template typeTemplate="compra_precioFijo">
	<contract-purchase-fixed-price [contractForm]="contract"></contract-purchase-fixed-price>
</ng-template>

<ng-template typeTemplate="compra_precioSinFijar">
	<contract-purchase-unfixed-price [contractForm]="contract"></contract-purchase-unfixed-price>
</ng-template>

<ng-template typeTemplate="deVenta_precioFijo">
	<contract-sales-fixed-price [contractForm]="contract"></contract-sales-fixed-price>
</ng-template>

<ng-template typeTemplate="deVenta_precioSinFijar">
	<contract-sales-unfixed-price [contractForm]="contract"></contract-sales-unfixed-price>
</ng-template>

<ng-template typeTemplate="sales">
	<sales-contract [contractForm]="contract"></sales-contract>
</ng-template>

<ng-template typeTemplate="purchase">
	<purchase-contract
		[contractForm]="contract"
	></purchase-contract>
</ng-template>

<ng-template #none>
	<p>NONE</p>
</ng-template>
