
<ng-container *ngTemplateOutlet="(template$ | async) ?? none"></ng-container>

<ng-template typeTemplate="compra_aDeposito">
	<contract-purchase-to-deposit></contract-purchase-to-deposit>
</ng-template>

<ng-template typeTemplate="compra_bodegaTerceros">
	<contract-third-party-warehouse></contract-third-party-warehouse>
</ng-template>

<ng-template typeTemplate="compra_precioFijo">
	<p>COMPRA - PRECIO FIJO</p>
</ng-template>

<ng-template typeTemplate="compra_precioSinFijar">
	<p>COMPRA - PRECIO SIN FIJAR</p>
</ng-template>

<ng-template typeTemplate="deVenta_precioFijo">
	<p>DE VENTA - PRECIO FIJO</p>
</ng-template>

<ng-template typeTemplate="deVenta_precioSinFijar">
	<p>DE VENTA - PRECIO SIN FIJAR</p>
</ng-template>

<ng-template typeTemplate="sellContract">
	<p>SELL CONTRACT</p>
</ng-template>

<ng-template #none>
	<p>NONE</p>
</ng-template>
