
<!-- <ng-container *ngTemplateOutlet="(template$ | async) ?? none"></ng-container> -->
<ng-container *ngTemplateOutlet="(templateVersion | templateRef) ?? none"></ng-container>

<ng-template typeTemplate="compra_aDeposito" templateRef="compra_aDeposito">
	<contract-purchase-to-deposit [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-purchase-to-deposit>
</ng-template>

<ng-template typeTemplate="compra_bodegaTerceros" templateRef="compra_bodegaTerceros">
	<contract-third-party-warehouse [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-third-party-warehouse>
</ng-template>

<ng-template typeTemplate="compra_precioFijo" templateRef="compra_precioFijo">
	<contract-purchase-fixed-price [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-purchase-fixed-price>
</ng-template>

<ng-template typeTemplate="compra_precioSinFijar" templateRef="compra_precioSinFijar">
	<contract-purchase-unfixed-price [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-purchase-unfixed-price>
</ng-template>

<ng-template typeTemplate="deVenta_precioFijo" templateRef="deVenta_precioFijo">
	<contract-sales-fixed-price [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-sales-fixed-price>
</ng-template>

<ng-template typeTemplate="deVenta_precioSinFijar" templateRef="deVenta_precioSinFijar">
	<contract-sales-unfixed-price [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></contract-sales-unfixed-price>
</ng-template>

<ng-template typeTemplate="sales" templateRef="sales">
	<sales-contract [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></sales-contract>
</ng-template>

<ng-template typeTemplate="purchase" templateRef="purchase">
	<purchase-contract [contractForm]="contract" [focusedField]="focusedField" [settings]="settings" [company]="company | async"></purchase-contract>
</ng-template>

<ng-template #none>
	<p>NONE</p>
</ng-template>
