<!-- <h2>Missing Fields</h2> -->

<mat-dialog-content *transloco="let t; read: 'contracts.modify'">
	<form #requiredFieldsForm="ngForm">
		<mat-grid-list cols="6" rowHeight="75px" gutterSize="15px">
			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill">
					<mat-label>{{ t('Quantity') }}</mat-label>
					<input
						matInput
						required
						appPositive
						[(ngModel)]="data.quantity"
						#quantity="ngModel"
						name="quantity"
						type="number"
						min="0"
					>
					<mat-error *ngIf="quantity.errors?.required">{{ t('Quantity is required') }}</mat-error>
					<mat-error *ngIf="quantity.errors?.positive">{{ t('Quantity must be positive') }}</mat-error>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill">
					<mat-label>{{ t('Quantity Units') }}</mat-label>
					<mat-select 
						[(ngModel)]="data.quantityUnits"
						#quantityUnits="ngModel"
						name="quantityUnits">
						<mat-option value="lbs">lbs</mat-option>
						<mat-option value="kg">kg</mat-option>
						<mat-option value="mTon">mTon</mat-option>
						<mat-option value="CWT">CWT</mat-option>
						<mat-option value="bu">bu</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill">
					<mat-label>{{ t('Price') }}</mat-label>
					<span matPrefix>$ &nbsp;</span>
					<input
						matInput
						required
						appPositive
						[(ngModel)]="data.price"
						#price="ngModel"
						name="price"
						type="number"
						min="0"
					>
					<mat-error *ngIf="price.errors?.required">{{ t('Price is required') }}</mat-error>
					<mat-error *ngIf="price.errors?.positive">{{ t('Price must be positive') }}</mat-error>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile colspan="3">
				<mat-form-field appearance="fill">
					<mat-label>{{ t('Price Units') }}</mat-label>
					<mat-select 
						[(ngModel)]="data.priceUnit"
						#priceUnits="ngModel"
						name="priceUnit">
						<mat-option value="lbs">/ lbs</mat-option>
						<mat-option value="kg">/ kg</mat-option>
						<mat-option value="mTon">/ mTon</mat-option>
						<mat-option value="CWT">/ CWT</mat-option>
						<mat-option value="bu">/ bu</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile colspan="6">
				<mat-form-field appearance="fill">
					<mat-label>{{ t('Market Price') }}</mat-label>
					<span matPrefix>$ &nbsp;</span>
					<input
						matInput
						required
						[(ngModel)]="data.marketPrice"
						#marketPrice="ngModel"
						name="marketPrice"
						type="number"
					>
					<mat-error>{{ t('Market Price is required') }}</mat-error>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</form>
</mat-dialog-content>

<mat-dialog-actions *transloco="let t; read: 'actions'">
	<button mat-button color="primary" [mat-dialog-close]="null">{{ t('Cancel') }}</button>
	<button mat-button color="primary" (click)="confirm()">{{ t('Confirm') }}</button>
</mat-dialog-actions>
