<app-header-toolbar titulo="Create Warehouse Receipt Group"></app-header-toolbar>

<ion-content class="ion-padding" [fullscreen]="true">
	<form [formGroup]="warehouseReceiptGroupForm" class="form">
		<ion-card>
			<ion-card-header>Group Info</ion-card-header>

			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col>
							<mat-form-field>
								<mat-label>Bushel Quantity (per Receipt)</mat-label>
								<input matInput formControlName="bushelQuantity" type="number" step="5000" min="5000">
							</mat-form-field>
						</ion-col>

						<ion-col>
							<mat-form-field>
								<mat-label># of Warehouse Receipts</mat-label>
								<input matInput formControlName="quantity" type="number" min="1">
							</mat-form-field>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col>
							<mat-form-field>
								<mat-label>Product</mat-label>
								<mat-select formControlName="product">
									<mat-option *ngFor="let product of productList" [value]="product">{{ product }}</mat-option>
								</mat-select>
								<mat-error>Please choose a product</mat-error>
							</mat-form-field>
						</ion-col>

						<ion-col>
							<mat-form-field>
								<mat-label>Plant</mat-label>
								<mat-select formControlName="plant">
									<mat-option *ngFor="let plant of plantList" [value]="plant">{{ plant }}</mat-option>
								</mat-select>
								<mat-error>Please choose a location</mat-error>
							</mat-form-field>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col>
							<mat-form-field>
								<mat-label>Starting ID</mat-label>
								<input matInput formControlName="startId" type="number">
								<mat-error *ngIf="warehouseReceiptGroupForm.controls['startId'].errors?.required">Please Input an ID</mat-error>
								<mat-error *ngIf="warehouseReceiptGroupForm.controls['startId'].errors?.uniqueId">An ID Already Exists</mat-error>
								</mat-form-field>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>

		<ion-card formArrayName="warehouseReceiptList">
			<ion-card-header>Warehouse Receipts</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let warehouseReceipt of warehouseReceiptGroupForm.get('warehouseReceiptList')['controls']; let i = index">
					<ion-grid [formGroupName]="i">
						<ion-row>
							<ion-col>
								<mat-form-field>
									<mat-label>ID</mat-label>
									<input matInput formControlName="id">
								</mat-form-field>
							</ion-col>

							<ion-col>
								<mat-form-field>
									<mat-label>Plant</mat-label>
									<input matInput formControlName="plant">
								</mat-form-field>
							</ion-col>

							<ion-col>
								<mat-form-field>
									<mat-label>Product</mat-label>
									<input matInput formControlName="product" readonly>
								</mat-form-field>
							</ion-col>

							<ion-col>
								<mat-form-field>
									<mat-label>Date</mat-label>
									<input matInput formControlName="date" [matDatepicker]="picker" readonly>
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</ion-col>

							<ion-col>
								<mat-form-field>
									<mat-label>Bushel Qty</mat-label>
									<input matInput formControlName="bushelQuantity">
								</mat-form-field>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-card-content>
		</ion-card>

		<div class="action-bar">
			<ion-button (click)="cancel()">Cancel</ion-button>
			<ion-button id="confirm-button" (click)="confirm()" [disabled]="warehouseReceiptGroupForm.invalid">Confirm</ion-button>
		</div>
	</form>
</ion-content>
