
<div id="paginator-wrapper" *ngIf="displayOptions.tableType === 'pagination'">
	<div id="custom-paginator">
		<div>
			Items per page:
			<mat-form-field>
				<mat-select (selectionChange)="handleSelect($event)" [value]="steps" #select>
					<mat-select-trigger>{{ select.value }}</mat-select-trigger>
					<mat-option *ngFor="let size of [5, 10, 20, 30, 40]" [value]="size">
						{{ size }}
					</mat-option>
					<mat-option *ngIf="defaultSize" [value]="defaultSize">
						Default: {{ defaultSize }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		{{ details }} of {{ count }}
		<div>
			<button mat-icon-button 
				(click)="handlePagination(-1)" 
				[disabled]="pageIndex <= 0"
			>
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
			<button mat-icon-button 
				(click)="handlePagination(1)" 
				[disabled]="pageIndex >= ((count / steps - 1) | roundUp) || !dataList[pageIndex]"
			>
				<mat-icon>keyboard_arrow_right</mat-icon>
			</button>
		</div>
	</div>
</div>

<div id="table-wrapper" class="ion-content-scroll-host" #tableWrapper>
	<table #table>
		<thead>
			<tr>
				<ng-container *ngTemplateOutlet="headers"></ng-container>
			</tr>
		</thead>
		<tbody *ngIf="displayOptions.tableType === 'pagination'; else scroll">
			<ng-container *ngIf="dataList[pageIndex] | async as snapshot; else loading">
				<tr *ngFor="let row of snapshot.docs" (click)="rowAction(row)">
					<ng-container *ngTemplateOutlet="rows; 
						context: { $implicit: row.data() }"
					></ng-container>
				</tr>
			</ng-container>
		</tbody>
		<ng-template #scroll>
			<tbody>
				<ng-container *ngFor="let data of dataList">
					<ng-container *ngIf="data | async as snapshot; else loading">
						<tr #contracts *ngFor="let row of snapshot.docs" (click)="rowAction(row)">
							<ng-container *ngTemplateOutlet="rows; 
								context: { $implicit: row.data() }"
							></ng-container>
						</tr>
					</ng-container>
				</ng-container>
			</tbody>
		</ng-template>
	</table>
	<ng-container [ngTemplateOutlet]="infiniteScroll" *ngIf="displayOptions.fixed"></ng-container>
</div>
<ng-container [ngTemplateOutlet]="infiniteScroll" *ngIf="!displayOptions.fixed"></ng-container>


<ng-template #infiniteScroll>
	<ion-infinite-scroll
		(ionInfinite)="handleScroll($event)"
		threshold="100px"
		[disabled]="disableInfiniteScroll"
	>
		<ion-infinite-scroll-content
			loadingSpinner="null"
			loadingText=""
		></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ng-template>

<ng-template #loading>
	<td colspan="100%">
		<div id="spinner-wrapper">
			<mat-spinner></mat-spinner>
		</div>
	</td>
</ng-template>
