<ng-container *transloco="let t; read: 'tickets.split'">
  <h2 mat-dialog-title>{{ t("Split Ticket") }} {{data.id}}</h2>
  <mat-dialog-content *ngIf="possibleContractsAsync | async; else loading">
    <div class="ticket-container">
      <mat-card class="ticket-card">
        <div class="card-row">
          <span><b>{{ t('ID') }}:</b></span>
          <span><b>{{data.id}}</b></span>
        </div>
        <div class="card-row">
          <span><b>{{ t('Contract ID') }}:</b></span>
          <span><b>{{data.contractID}}</b></span>
        </div>
        <div class="card-row">
          <span>{{ t('Gross') }}:</span>
          <span>{{data.gross | massInUnit:defaultUnit}}</span>
        </div>
        <div class="card-row">
          <span>{{ t('Tare') }}:</span>
          <span>{{data.tare | massInUnit:defaultUnit}}</span>
        </div>
        <div class="card-row">
          <span>{{ t('Net') }}:</span>
          <span>{{data.net | massInUnit:defaultUnit}}</span>
        </div>
        <div class="card-row">
          <span>{{ t('Lot') }}:</span>
          <span>{{data.lot}}</span>
        </div>
        <div class="card-row">{{data.productName}}</div>
      </mat-card>
      <span class="arrow-right">&#8594;</span>
      <mat-card class="ticket-card" *ngFor="let ticket of newTickets; let first = first; let index = index">
        <div class="card-row">
          <span><b>{{ t('ID') }}:</b></span>
          <span>
            <b>{{data.id}}-{{getSubIdChar(index)}}</b>
            <button
              mat-icon-button
              color="warn"
              (click)="removeTicket(index)"
              *ngIf="!first && newTickets.length > 2">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
        <div class="card-row">
          <span><b>{{ t('Contract ID') }}:</b></span>
          <span *ngIf="first; else contractField"><b>{{data.contractID}}</b></span>
          <ng-template #contractField>
            <mat-form-field>
              <mat-select [(ngModel)]="ticket.contractId" (ngModelChange)="ticketContractChange()">
                <mat-option *ngFor="let contract of possibleContracts" [value]="contract.ref.id">{{contract.id}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
        </div>
        <div class="card-row">
          <span>{{ t('Gross') }}:</span>
          <span>{{ticket.net + (data.tare | massInUnit:defaultUnit)}}</span>
        </div>
        <div class="card-row">
          <span>{{ t('Tare') }}:</span>
          <span>{{data.tare | massInUnit:defaultUnit}}</span>
        </div>
        <div class="card-row">
          <span>{{ t('Net') }}:</span>
          <span *ngIf="first; else netField">{{ticket.net}}</span>
          <ng-template #netField>
            <mat-form-field>
              <input
                matInput
                type="number"
                [(ngModel)]="ticket.net"
                (ngModelChange)="ticketWeightChange()"
                min="0"
                [max]="data.net | massInUnit:defaultUnit">
            </mat-form-field>
          </ng-template>
        </div>
        <div class="card-row">
          <span>{{ t('Lot') }}:</span>
          <mat-form-field>
            <input matInput [(ngModel)]="ticket.lot">
          </mat-form-field>
        </div>
        <div class="card-row">{{data.productName}}</div>
      </mat-card>
      <button mat-fab color="primary" (click)="addTicket()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  
    <h2
      *ngIf="newContracts.length > 1">
      {{ t('Contract Changes') }}</h2>
    <div
      class="contract-container"
      *ngIf="newContracts.length > 1">
      <ng-container *ngFor="let contract of newContracts">
        <mat-card class="contract-card">
          <div><b>{{ t('Contract') }} {{contract.id}}</b></div>
          <div class="card-row"><span>{{ t('Current') }}:</span><span>{{contract.current | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
          <div class="card-row"><span>{{ t('Quantity') }}:</span><span>{{contract.quantity | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
          <div class="percent-block">{{(contract.current | massInUnit:displayUnit) / (contract.quantity | massInUnit:displayUnit) * 100 | number:'1.1-1':language}}%</div>
          <mat-progress-bar mode="determinate" [value]="(contract.current | massInUnit:displayUnit) / (contract.quantity | massInUnit:displayUnit) * 100"></mat-progress-bar>
        </mat-card>
        <span class="arrow-right">&#8594;</span>
        <mat-card class="contract-card">
          <div><b>{{ t('Contract') }} {{contract.id}}</b></div>
          <div class="card-row"><span>{{ t('Current') }}:</span><span>{{contract.afterCurrent | massInUnit:displayUnit:contract.afterCurrent.amount | number:'1.2-2':language}} {{displayUnit}}</span></div>
          <div class="card-row"><span>{{ t('Quantity') }}:</span><span>{{contract.quantity | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
          <div class="percent-block">{{(contract.afterCurrent | massInUnit:displayUnit:contract.afterCurrent.amount) / (contract.quantity | massInUnit:displayUnit) * 100 | number:'1.1-1':language}}%</div>
          <mat-progress-bar mode="determinate" [value]="(contract.afterCurrent | massInUnit:displayUnit:contract.afterCurrent.amount) / (contract.quantity | massInUnit:displayUnit) * 100"></mat-progress-bar>
        </mat-card>
      </ng-container>
      <!-- <mat-card class="contract-card">
        <div><b>Contract {{newContract.id}}</b></div>
        <div class="card-row"><span>Current:</span><span>{{newContract.currentDelivered | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
        <div class="card-row"><span>Quantity:</span><span>{{newContract.quantity | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
        <div class="percent-block">{{(newContract.currentDelivered | massInUnit:displayUnit) / (newContract.quantity | massInUnit:displayUnit) * 100 | number:'1.1-1':language}}%</div>
        <mat-progress-bar mode="determinate" [value]="(newContract.currentDelivered | massInUnit:displayUnit) / (newContract.quantity | massInUnit:displayUnit) * 100"></mat-progress-bar>
      </mat-card>
      <span class="arrow-right">&#8594;</span>
      <mat-card class="contract-card">
        <div><b>Contract {{newContract.id}}</b></div>
        <div class="card-row"><span>Current:</span><span>{{((newContract.currentDelivered | massInUnit:displayUnit) + (newWeight | massInUnit:displayUnit:newWeight.amount)) | number:'1.2-2':language}} {{displayUnit}}</span></div>
        <div class="card-row"><span>Quantity:</span><span>{{newContract.quantity | massInUnit:displayUnit | number:'1.2-2':language}} {{displayUnit}}</span></div>
        <div class="percent-block">{{((newContract.currentDelivered | massInUnit:displayUnit) + (newWeight | massInUnit:displayUnit:newWeight.amount)) / (newContract.quantity | massInUnit:displayUnit) * 100 | number:'1.1-1':language}}%</div>
        <mat-progress-bar mode="determinate" [value]="((newContract.currentDelivered | massInUnit:displayUnit) + (newWeight | massInUnit:displayUnit:newWeight.amount)) / (newContract.quantity | massInUnit:displayUnit) * 100"></mat-progress-bar>
      </mat-card> -->
    </div>
  </mat-dialog-content>
</ng-container>
<mat-dialog-actions *transloco="let t; read: 'actions'">
  <button mat-button mat-dialog-close>{{ t('Cancel') }}</button>
  <button mat-button [disabled]="!formIsValid() || submitting" (click)="submit()">{{ t('Submit') }}</button>
  <ng-container *ngIf="submitting">
    <mat-spinner [diameter]="16"></mat-spinner>
  </ng-container>
</mat-dialog-actions>

<ng-template #loading let-diameter>
  <mat-spinner [diameter]="64"></mat-spinner>
</ng-template>