<h2 mat-dialog-title>Split Ticket {{data.id}}</h2>
<mat-dialog-content>
  <div class="flex-container">
    <mat-card class="ticket-card">
      <div class="ticket-row">
        <span><b>ID:</b></span>
        <span><b>{{data.id}}</b></span>
      </div>
      <div class="ticket-row">
        <span><b>Contract ID:</b></span>
        <span><b>{{data.contractID}}</b></span>
      </div>
      <div class="ticket-row">
        <span>Gross:</span>
        <span>{{data.gross | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Tare:</span>
        <span>{{data.tare | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Net:</span>
        <span>{{data.getNet() | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">{{data.productName}}</div>
    </mat-card>
    <span id="arrow-right">&#8594;</span>
    <mat-card class="ticket-card">
      <div class="ticket-row">
        <span><b>ID:</b></span>
        <span><b>{{data.id}}A</b></span>
      </div>
      <div class="ticket-row">
        <span><b>Contract ID:</b></span>
        <span><b>{{data.contractID}}</b></span>
      </div>
      <div class="ticket-row">
        <span>Gross:</span>
        <span>{{data.gross | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Tare:</span>
        <span>{{data.tare | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Net:</span>
        <span>{{(data.getNet() | massInUnit:'lbs') - newWeight}}</span>
      </div>
      <div class="ticket-row">{{data.productName}}</div>
    </mat-card>
    <mat-card class="ticket-card">
      <div class="ticket-row">
        <span><b>ID:</b></span>
        <span><b>{{data.id}}B</b></span>
      </div>
      <div class="ticket-row">
        <span><b>Contract ID:</b></span>
        <mat-form-field>
          <mat-select [(ngModel)]="newContract">
            <mat-option *ngFor="let contract of possibleContracts | async" [value]="contract">{{contract.id}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ticket-row">
        <span>Gross:</span>
        <span>{{data.gross | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Tare:</span>
        <span>{{data.tare | massInUnit:'lbs'}}</span>
      </div>
      <div class="ticket-row">
        <span>Net:</span>
        <mat-form-field>
          <input 
            matInput 
            type="number" 
            [(ngModel)]="newWeight" 
            min="0"
            [max]="data.getNet().get()">
        </mat-form-field>
      </div>
      <div class="ticket-row">{{data.productName}}</div>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>