<ng-container *ngIf="contract?.printableFormat">
  <mat-card *ngFor="let fieldGroup of settings.formData[contract.printableFormat] | keyvalue">
    <mat-card-header>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <ng-container *ngFor="let field of fieldGroup.value">
          <ng-container *ngTemplateOutlet="versionTemplates | listFind:'typeTemplate':field.type ?? error"></ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</ng-container>

<ng-template typeTemplate="primitive" let-data>
  <mat-form-field [ngClass]="[data.class, data.width ? 'span-' + data.width : '']">
    <mat-label>{{data.label}}</mat-label>
    <input 
      matInput 
      *ngIf="data.type != 'select'" 
      [(ngModel)]="contract[data.fieldName]" 
      [type]="data.primitiveType">
    <mat-select *ngIf="data.type == 'select'" [(ngModel)]="contract[data.fieldName]">
      <mat-option *ngFor="let option of data.selectOptions" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template typeTemplate="nested-primitive" let-data>
  <mat-form-field [ngClass]="[data.class, data.width ? 'span-' + data.width : '']">
    <mat-label>{{data.label}}</mat-label>
    <input 
      matInput 
      *ngIf="data.type != 'select'" 
      [(ngModel)]="contract[data.fieldName][data.nestedField]" 
      [type]="data.primitiveType">
    <mat-select *ngIf="data.type == 'select'" [(ngModel)]="contract[data.fieldName][data.nestedField]">
      <mat-option *ngFor="let option of data.selectOptions" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template typeTemplate="client-select" let data>
  <div class="flex-field">
    <button mat-stroked-button color="primary" type="button" (click)="openClientSelect()">Client:</button>
    <mat-form-field>
      <mat-label>Client Name</mat-label>
      <input matInput disabled [(ngModel)]="contract.clientName">
    </mat-form-field>
  </div>
</ng-template>

<ng-template typeTemplate="ticket-client-select" let data>
  <div class="flex-field">
    <button mat-stroked-button color="primary" type="button" (click)="openTicketClientSelect()">Client:</button>
    <mat-form-field>
      <mat-label>Ticket Client Name</mat-label>
      <input matInput disabled [(ngModel)]="contract.clientName">
    </mat-form-field>
  </div>
</ng-template>

<ng-template #error>
	<p>ERROR</p>
</ng-template>