:host {
    display: inline-block;
    height: 203.2mm;
    width: 266.7mm;
    background-color: white;
    margin: 1em;

    print-color-adjust: exact;
}

.page-header {
    display: flex;
    text-align: initial;

    #left-header {
        flex: 2 0 0px;

        #report-and-logo {
            display: flex;
            align-items: center;

            span {
                flex: 1 1 auto;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.5rem;
            }

            img {
                margin: 1em;
            }
        }
    }

    #company-info {
        flex: 1 0 0px;
    }
}


thead {
    display: table-header-group;
    height: 185px;
}

th, td {
    break-inside: avoid;
}

table {
    border-collapse: collapse;
}

tr, td {
    background: none;
}

.page-header-space {
    height: 145px;

    td {
        border: none;
    }
}

td { 
    border: 1px solid black;
}

tr:not(:has(.page-header)) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

th:not(:has(.page-header)) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#header-split-row-bottom {
    border-top: none;
    background-color:aqua;
}

#header-split-row-top {
    border-bottom: none;
    background-color: aqua;
}

// .page-footer {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
// }

@page {
    margin: 0.5in;
}