:host {
    display: inline-block;
    height: 203.2mm;
    width: 266.7mm;
    background-color: white;
    margin: 1em;

    print-color-adjust: exact;
}

table {
    width: 100%;
}

.page-header {
    display: flex;
    text-align: initial;

    #left-header {
        flex: 3 0 0px;

        #report-and-logo {
            display: flex;
            align-items: center;

            span {
                flex: 1 1 auto;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.5rem;
            }

            img {
                margin: 1em;
            }
        }

        #client-name {
            font-size: medium;
        }
    }

    #company-info {
        flex: 1 0 0px;
        #name {
            font-size: medium;
        }

        #zip-rfc {
            display: flex;

            #rfc {
                flex: 2 0 0;
            }

            #zip {
                flex: 1 0 0;
            }
        }

        #season {
            margin-top: auto;
            align-self: flex-end;
        }

        *:not(#name) {
            font-size: xx-small;
        }
    }

    #address, #city, #zip, #rfc, #phone, #season {
        line-height: normal;
    }
}


thead {
    display: table-header-group;
    max-height: 185px;
    print-color-adjust: exact;
}

th, td {
    break-inside: avoid;
    font-size: x-small;
}

table {
    border-collapse: collapse;
}

tr, td {
    background: none;
}

.page-header-space {
    height: 145px;

    td {
        border: none;
    }
}

td:not(:has(.footer-space)) { 
    border: 1px solid black;
}

tr:not(:has(.page-header, .footer-space)) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

th:not(:has(.page-header)) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(51, 204, 204);
}

#header-split-row-bottom {
    border-top: none;
}

#header-split-row-top {
    border-bottom: none;
}

.page-footer{ 
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: x-small;
    border-top: 3px solid gray;
}

.footer-space {
    height: 1.5rem;
    border: none !important;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: end;
}

@page {
    size: letter landscape;
    margin: 0.5in;
}