<ng-container *transloco="let t, read: 'tickets'">
  <app-header-toolbar [titulo]="t('Tickets')"></app-header-toolbar>
  <ion-content [fullscreen]="true" class="ion-padding">
    <div id="container">
      <div class="content-actions">

        <!-- <ion-title class="capitalize">Progreso</ion-title> -->
        <app-plant-select (plantChangeEvent)="plantChange()"></app-plant-select>
        <!-- <ion-searchbar class="ion-no-padding ion-padding-vertical" animated></ion-searchbar> -->

        <ion-buttons class="butons">
          <!-- <ion-button (click)="openFilter()" matTooltipPosition="below" matTooltipClass="tooltip-primary"
            matTooltip="Filter by" color="primary">
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button> -->
          <ion-button color="primary" fill="solid" (click)="openTicketReportDialog()">{{ t('Report') | uppercase }}</ion-button>
          <ion-button color="primary" fill="solid" (click)="openNewTicketModal()">{{ t('New Ticket') | uppercase }}</ion-button>
        </ion-buttons>
      </div>
      <app-table #ticket_table></app-table>
    </div>
  </ion-content>
</ng-container>