<app-header-toolbar titulo="Tickets"></app-header-toolbar>
<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <div class="content-actions">

      <!-- <ion-title class="capitalize">Progreso</ion-title> -->
      <ion-buttons class="butons buttons-main">
        <ion-button slot="start" color="dark">
          <ion-label class="label-branch_office">
            Progreso
          </ion-label>
          <ion-icon slot="end" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar class="ion-no-padding ion-padding-vertical" animated></ion-searchbar>
      <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [(ngModel)]="date">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <ion-buttons class="butons">
        <ion-button (click)="openFilter()" matTooltipPosition="before" matTooltipClass="tooltip-primary"
          matTooltip="Filter by" color="primary" [matTooltipHideDelay]="1000000000000000000">
          <ion-icon slot="icon-only" name="options-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" fill="solid" (click)="openTicketReportDialog()">REPORT</ion-button>
      </ion-buttons>
    </div>
    <app-table #ticket_table></app-table>
  </div>
</ion-content>