<ng-container 
  *ngTemplateOutlet="templateMap | hashmap:docName;
    context: {$implicit: invoiceData}">
</ng-container>

<ng-template #invoiceOne let-data>
  <app-invoice-one
    [invoice]="data.invoice"
    [seller]="data.seller"
    [buyer]="data.buyer"
    [id]="data.id"
    [date]="data.date"
    [items]="data.items"
    [total]="data.total">
  </app-invoice-one>
</ng-template>

<ng-template #invoiceTwo let-data>
  <app-invoice-two
    [invoice]="data.invoice"
    [seller]="data.seller"
    [buyer]="data.buyer"
    [id]="data.id"
    [date]="data.date"
    [items]="data.items"
    [total]="data.total">
  </app-invoice-two>
</ng-template>