.table-row {
    display: grid;
    grid-template-columns: 6% 8% 6% 6% 6% 6% 6% 6% 10% 10% 10% 10% 10%;
    font-weight: 500;
}

.header {
    font-weight: bold;
    background-color: var(--ion-color-primary-light);
    color: var(--ion-color-primary);
    height: 2rem;
}

mat-form-field {
    width: 80%;
}

ion-text {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px 13px;
}

.even {
    background-color: var(--ion-color-step-5);
}

button {
    margin: 10px;
}

.selected-tickets-count {
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}

.loading-spinner {
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 3;
}

.disabled {
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    pointer-events: none;
}
