<div id="first-page">
  <div class='header-section' *ngIf="contractForm">
    <img id='company-logo' src='https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Flogo.png?alt=media&token=a8611727-2fcf-45fa-8861-42b290376789'>
    <h1><b>CONTRACT</b></h1>
    <div class='grid-12'>
      <div class='column-size-4'>
        <div class='party-header'><b>{{contractForm.type == "purchaseContracts"? "BUYER" : "SELLER"}}</b></div>
        <span><b>ACN AGRIPRODUTS LLC</b></span><br>
        <span>1512 RANCHO TOLUCA RD</span><br>
        <span>WESLACO TX. 78596</span><br>
        <span></span><br>
        <div class='party-header'><b>{{contractForm.type == "purchaseContracts" ? "SELLER" : "BUYER"}}</b></div>
        <ng-container *ngIf="contractForm.client">
          <span><b>{{this.contractForm?.clientInfo?.name ?? ""}}</b></span><br>
          <span>{{this.contractForm.clientInfo.streetAddress}}</span><br>
          <span>{{this.contractForm.clientInfo.city}}{{this.contractForm.clientInfo.state && this.contractForm.clientInfo.city? ",": ""}}
            {{this.contractForm.clientInfo.state}}{{this.contractForm.clientInfo.state && this.contractForm.clientInfo.zipCode? ",": ""}} {{this.contractForm.clientInfo.zipCode}}</span><br>
          <span>{{this.contractForm.clientInfo.phoneNumber}}</span><br>
        </ng-container>
      </div>
      <div class='column-size-2'></div>
      <div class='column-size-3'>
        <b>CONTRACT NUMBER</b><br>
        <b>BASE</b><br>
        <b>FUTURE PRICE</b><br>
        <b>PRICED</b><br>
        <b>CONTRACT DATE</b><br>
        <b>CUSTOMER NO.</b><br>
        <b>PAYMENT TERMS</b><br>
        <b>CHECK</b><br>
        <b>BROKER</b><br>
        <b>BROKER NUMBER</b><br>
        <b>FREIGHT PRICE</b><br>
      </div>
      <div class='column-size-3' *ngIf="date">
        <b>{{contractForm.id || 0}}-{{date.getFullYear() % 100}}</b><br>
        {{getPriceInBushels() - contractForm.market_price | number:"0.5-5"}}<br>
        {{contractForm.market_price | number:"0.5-5"}}<br>
        {{getPriceInBushels() | number:"0.5-5"}}<br>
        {{date | date:'MM/dd/YYYY'}}<br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class='info-chart'>
    <div class='grid-12'>
      <div class='column-size-2'>
        <span><b>COMMODITY:</b></span><br>
        <span><b>QUANTITY:</b></span>
      </div>
      <div class='column-size-3'>
        <span>{{getProduct()}}</span><br>
        <div class='grid-3'>
          <div class='column-size-2'>
            <span class='right-justify'>{{(getProductObject()? contractForm?.quantity?.getBushelWeight(getProductObject()) : 0) | number:'0.5'}}</span>
            <span class='right-justify'>{{contractForm?.quantity?.getMassInUnit('lbs') | number:'0.5-5'}}</span>
            <span class='right-justify'>{{contractForm?.quantity?.getMassInUnit('mTon') | number:'0.5-5'}}</span>
          </div>
          <div class='column-size-1'>
            <span>BUSHELS</span><br>
            <span>LBS</span><br>
            <span>M. TONS</span>
          </div>
        </div>
      </div>
      <div class='column-size-1'>
        <span class='right-justify'><b>MST:</b></span>
      </div>
      <div class='column-size-1'>
        <span>15%</span>
      </div>
      <div class='column-size-1'></div>
      <div class='column-size-2'>
        <span><b>WEIGHT:</b></span><br>
        <span><b>GRADES:</b></span><br>
        <span><b>TRANSPORTATION:</b></span><br>
        <span><b>REFERENCE:</b></span>
      </div>
      <div class='column-size-2'>
        <span>{{contractForm.paymentTerms.origin? "ORIGIN" : "DESTINATION"}}</span><br>
        <span>U.S. {{contractForm.grade}} OR BETTER</span><br>
        <span>TRUCK</span><br>
        <span>{{contractForm.aflatoxin}} OR LESS</span>
      </div>
    </div>
    <div id='extra-info-header'>
      <div class='grid-12'>
        <div class='column-size-1'><b>STATUS</b></div>
        <div class='column-size-4'><b>DELIVERY DATES</b></div>
        <div class='column-size-3'><b>SCHEDULE PRICE</b></div>
        <div class='column-size-4'><b>PRICE</b></div>
      </div>
    </div>
    <div>
      <div class='underline grid-12'>
        <div class='column-size-2'>Priced</div>
        <div class='column-size-3'>
          <ng-container *ngIf="contractForm.delivery_dates?.begin && contractForm.delivery_dates?.end">
            {{contractForm.delivery_dates.begin | date:'MM/dd/yy'}} to {{contractForm.delivery_dates.end | date:'MM/dd/yy'}}
          </ng-container>
          <br><br>
          <div class='underline'>
            Please sign and return this confirmation IMMEDIATELY
          </div>
        </div>
        <div class='column-size-3'>
          <ng-container *ngIf="contractForm.paymentTerms.paymentTerms && contractForm.paymentTerms.measurement">
            <!-- EVERY {{contractForm.paymentTerms.paymentTerms}} {{contractForm.paymentTerms.measurement | uppercase}} {{contractForm.paymentTerms.before? "PREPAID": ""}} -->
          </ng-container>
        </div>
        <div class='column-size-2'>
          {{getPriceInCWT() | number:'0.5-5'}}<br>
          {{getPriceInMTon() | number:'0.5-5'}}
        </div>
        <div class='column-size-2'>
          CWT<br>
          M. TON
        </div>
      </div>
    </div>
    <div class='grid-12'>
      <div class='column-size-5'>
        <br>
        <div class='box'>
          Buyer's scale of discounts at time of delivery to apply
          <br>
          rules to apply: TGFA
          <br>
          Arbitration to apply: TGFA
        </div>
      </div>
      <div class='column-size-1'></div>
      <div class='column-size-3'><b>TOTAL CONTRACTED</b></div>
      <div class='column-size-1'></div>
      <div class='column-size-2'>
        <div id='total'>
          <span><b>$</b></span>
          <span><b>{{(contractForm.quantity | massInUnit:'lbs') * getPriceInCWT() / 100 | number:'1.2-2' }}</b></span>
        </div>
      </div>
    </div>
  </div>

  <div>
    BUYER OBJECTS TO THE INCLUSION OF ANY DIFFERENT OR ADDITIONAL TERMS PROPOSED BY SELLER. BUYER´S SCHEDULE OF DISCOUNTS TO APPLY. SELLER GUARANTEES GRAIN U.S. GROWN. IF PRICE OF GRAIN IS ON A PREMIUM BASIS, CONTRACT TO BE PRICED OR SPREAD PRIOR TO THE LAST TRADING
    DAY PRECEDING THE FIRST DELIVERY DAY OF THE FUTURES CONTRACT.
  </div>

  <div class="terms-and-conditions">
    
      <p><span class="underline-small">{{this.contractForm.clientInfo?.name ?? ""}}</span> (“SELLER”) AGREES TO AND CONFIRMS THE SALE OF THE FOLLOWING DESCRIBED GOODS TO  ACN AGRIPRODUCTS LLC (“BUYER”), SUBJECT TO THE TERMS AND CONDITIONS STATED ON THE FACE AND BACK HEREOF.</p>
    
      <p>FAILURE TO ADVISE ACN AGRIPRODUCTS LLC IMMEDIATELY BY WIRE OF ANY DISCREPANCY, OBJECTION TO OR DISAGREEMENT WITH SUCH TERMS AND CONDITIONS SHALL BE AN ACCEPTANCE OF THEM.</p>
      
      <p>TERMS AND CONDITIONS</p>
      
      <p>The terms of this Contract include the Purchase Terms listed below, which form part of this Contract and are legally binding upon the parties. The statements below are understood to be an accurate statement of the terms and conditions of the agreement between the parties. Failure to advise Buyer immediately of any discrepancies, objections to or disagreements with such terms and conditions shall constitute acceptance of this Contract. </p>
      
      <p>In addition, Seller or producer and Buyer or customer agree as follows:</p>
      
      <p>GOODS: Seller agrees to transfer title and possession to Buyer, and Buyer shall pay and accept Seller's agreed price, for the "Goods" agreed to by the Parties in this Agreement.</p>
      
      <p>The Buyer is purchasing the following Goods from the Seller: {{getProduct()}}	</p>
      
      <p>PRICE: Buyer agrees to pay the purchase price (the "Purchase Price") of <span>{{(contractForm.quantity | massInUnit:'lbs') * getPriceInCWT() / 100 | number:'1.2-2'}}</span>$ to the Seller as consideration for the sale of the Goods mentioned above. The Purchase Price is exclusive of any pertinent taxes.</p>
    
      <p>PAYMENT: The Purchase Price shall be paid only in the following payment methods: <br>
      •	<br>
      •	<br>
      •	</p>
    
    
      <p>The Buyer must pay the Purchase Price immediately after receipt of the Goods unless the Parties have agreed on something different in writing.</p>

      <p>In case of late payment, the seller can terminate the agreement for default by the buyer and charge the following late fee: _______$.</p>
      
      <p>QUALITY: Seller warrants that the Goods sold meets conform to the description (grades and quality) on the face of this Contract, are free from defects, are free from liens and encumbrances, are suited for their intended use and are merchantable. </p>
      
      <p>SAMPLING, ANALYSIS AND CERTIFICATES OF ANALYSIS: Unless otherwise agreed, samples shall be taken at time and place of delivery. </p>
      
      <p>OFF-GRADE GOODS: Buyer in its sole discretion, may decide whether to reject or accept off-grade Goods against this contract or delivery but if buyer accepts off-grade Goods, the buyer discount schedule in effect at the time of unload shall apply to the price paid hereunder or reject the defective Goods and place them in storage at Seller’s expense or return them to Seller, at Seller’s expense, and require delivery of replacements, which must be delivered in the manner specified for the original delivery, unless otherwise directed by Buyer.<br>For any such off-grade Goods buyer shall have no obligation to Seller.</p>
      
      
      <p>WEIGHING: Final at time and place of delivery. Buyers have the right to attend at delivery.</p>
      
      <p>PAYMENT: Buyer shall make payment under the terms specified herein upon receipt of each shipment and supporting documentation hereunder.</p>
      
      <p>PRICE: For contracts that establish price by reference to a futures contract, the contract must be priced prior to First Notice Date of the reference futures contract. If price is not established prior to First Notice date Buyer will have the right to establish price in their sole discretion.</p>
      
      <p>VOLATILITY: Unless otherwise stated, the prices set forth on this Agreement are in US Dollars. For the avoidance of doubt, ACN and Seller recognize that the market price when delivery is required under this Agreement may differ substantially from the Agreement price, and each party agrees not to assert such a difference as an excuse for non-performance hereunder or as a defense for damages for failure to perform in whole or in part.</p>
      
      <p>SHIPMENTS: If shipping instructions are not set forth herein, Seller will make delivery in a timely manner in accordance with Buyer’s instructions.</p>
    
    
      <p>CONTROVERSIES/ARBITRATION: Controversies and/or other disagreements between Buyer and Seller arising under this Contract shall be settled by arbitration which shall be a condition precedent to any right of legal action that either Buyer or Seller may have against the other party. Any arbitration shall be in accordance with the rules of the Texas Grain and Feed Association (TGFA). At the time notice of arbitration is served by either Buyer or Seller upon the other, (i) if either is a member of TGFA, the TGFA Arbitration Committee shall serve as the arbitrator; (ii) if neither is a member of the TGFA, the American Arbitration Association shall serve as the arbitrator.</p>

      <p>The parties agree to be bound by the arbitration award and agree that judgment upon the award may be entered in any Court having jurisdiction.</p>
      
      <p>MODIFICATIONS: It is agreed that the terms herein set forth and the trading rules set from hereto (to the extent that they are not in conflict with the terms stated in the preceding contract Special instructions) constitute the entire contract between the parties, and there shall be no modifications or alterations except with the consent of both parties in writing.</p>
      
      <p>This Contract shall be governed by the laws of the State of Texas.</p>
    
  </div>

  <br>
  <b>CONFIRMATION</b>
  <br>
  <div class='signature-area'>
    <div>
      <span>{{this.contractForm?.clientInfo?.name ?? ""}}</span>
      <div class='underline'>BY:</div>
      <span>Name/Title:</span><br>
      <span>Date:</span><br>
    </div>
    <div>
      <span>ACN AGRIPRODUCTS LLC</span>
      <div class='underline'>BY:</div>
      <span>Ruben D. Puga/General Manager</span><br>
      <span>Date:</span><br>
    </div>
  </div>
  <br>
  <div class='page-footer'>
    PLEASE SIGN ONE COPY AND RETURN TO ABOVE ADDRESS
  </div>
</div>