
:host * {
    box-sizing: border-box;
}

:host > .canceled-watermark:before {
    content: "CANCELED";
    font-size: 100px;
    color: gray;
    opacity: 0.2;
    text-align: center;
    position: relative;
    display: block;
    transform: rotate(-45deg);
    align-self: center;
    justify-self: center;
    top: 50%;
    letter-spacing: 15px;
    font-weight: 500;
}

:host {
    display: block;
    background-color: white;
}

@media not print {
    :host.portrait, .portrait {
        min-height: 11in;
        min-width: 8.5in;
        padding: 0.75in;
        height: 11in;
        width: 8.5in;
    }
    :host.landscape, .landscape {
        min-height: 8.5in;
        min-width: 11in;
        padding: 0.75in;
        height: 8.5in;
        width: 11in;
    }
}

@media print {
    :host * {
        print-color-adjust: exact;
    }
}
