
<ng-container *ngTemplateOutlet="(template$ | async) ?? none"></ng-container>

<ng-template typeTemplate="liquidation-long">
  <app-liquidation-long [class.canceled-watermark]="data.canceled" [data]="data"></app-liquidation-long>
</ng-template>

<ng-template typeTemplate="sales-liquidation">
  <app-sales-liquidation [class.canceled-watermark]="data.canceled" [data]="data"></app-sales-liquidation>
</ng-template>

<ng-template #none>
  <i>{{ "messages." + "No Content to Display" | transloco }}</i>
</ng-template>
