.columns {
    columns: 2;
}

.trucker-item {
    display: flexbox;
    flex-direction: row;
}

.freight-input {
    width: 100px;
    align-self: flex-end;
}

table {
    margin-bottom: 5px;

    td, th {
        border: 1px black solid;
        font-size: small;
    
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.trucker-table, app-printable-ticket {
    page-break-after: always;
}

mat-spinner {
    display: inline;
}

@media screen {
    app-printable-ticket {
        display: none;
    }
}