<div class='header-section'>
  <img id='company-logo' src='https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Flogo.png?alt=media&token=a8611727-2fcf-45fa-8861-42b290376789'>
  <h1><b>CONTRACT</b></h1>
  <div class='grid-12'>
    <div class='column-size-4'>
      <div class='party-header'><b>{{contractForm.contractType == "purchaseContracts"? "BUYER" : "SELLER"}}</b></div>
      <span><b>ACN AGRIPRODUTS LLC</b></span><br>
      <span>1512 RANCHO TOLUCA RD</span><br>
      <span>WESLACO TX. 78596</span><br>
      <span></span><br>

      <div class='party-header'><b>{{contractForm.contractType == "purchaseContracts"? "SELLER" : "BUYER"}}</b></div>
      <span><b>{{contractForm.client || ""}}</b></span><br>
      <span>P.O. Box 208</span><br>
      <span>Driscoll TX, 78351-0208</span><br>
      <span>361-387-6242</span><br>
    </div>
    <div class='column-size-2'></div>
    <div class='column-size-3'>
      <b>CONTRACT NUMBER</b><br>
      <b>BASE</b><br>
      <b>FUTURE PRICE</b><br>
      <b>PRICED</b><br>
      <b>CONTRACT DATE</b><br>
      <b>PAYMENT TERMS</b><br>
      <b>FREIGHT PRICE</b><br>
    </div>
    <div class='column-size-3'>
      <b>{{contractForm.id || 0}}-{{today.getFullYear() % 100}}</b><br>
      {{getPriceInBushels() - contractForm.marketPrice | number:"0.5-5"}}<br>
      {{contractForm.marketPrice | number:"0.5-5"}}<br>
      {{getPriceInBushels() | number:"0.5-5"}}<br>
      {{today | date:'MM/dd/YYYY'}}<br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<p>SELLER AGREES TO AND CONFIRMS THE SALE OF THE FOLLOWING DESCRIBED COMMODITIES TO ACN AGRIPRODUCTS LLC (BUYER)
  SUBJET TO THE TERMS AND CONDITIONS STATED ON THE FACE AND BACK THEREOF FAILURE TO ADVISE ACN AGRIPRODUCTS LLC
  IMMEDIATELY BY WIRE OF ANY DISCREPANCY, OBJETION TO OR DISAGREEMENT EITH SUCH TERMS AND CONDITIONS SHALL BE AN
  ACCEPTANCE THEREOF.</p>

<div class='info-chart'>
  <div class='grid-12'>
    <div class='column-size-2'>
      <span><b>COMMODITY:</b></span><br>
      <span><b>QUANTITY:</b></span>
    </div>
    <div class='column-size-3'>
      <span>{{contractForm.product}}</span><br>
      <div class='grid-3'>
        <div class='column-size-2'>
          <span class='right-justify'>{{getUnits('bushels') | number:'0.5-5'}}</span>
          <span class='right-justify'>{{getUnits('lbs') | number:'0.5-5'}}</span>
          <span class='right-justify'>{{getUnits('mtons') | number:'0.5-5'}}</span>
        </div>
        <div class='column-size-1'>
          <span>BUSHELS</span><br>
          <span>LBS</span><br>
          <span>M. TONS</span>
        </div>
      </div>
    </div>
    <div class='column-size-1'>
      <span class='right-justify'><b>MST:</b></span>
    </div>
    <div class='column-size-1'>
      <span>15%</span>
    </div>
    <div class='column-size-1'></div>
    <div class='column-size-2'>
      <span><b>WEIGHT:</b></span><br>
      <span><b>GRADES:</b></span><br>
      <span><b>TRANSPORTATION:</b></span><br>
      <span><b>REFERENCE:</b></span>
    </div>
    <div class='column-size-2'>
      <span>{{contractForm.paymentTerms.origin? "ORIGIN" : "DESTINATION"}}</span><br>
      <span>U.S. {{contractForm.grade}} OR BETTER</span><br>
      <span>TRUCK</span><br>
      <span>20 OR LESS</span>
    </div>
  </div>
  <div id='extra-info-header'>
    <div class='grid-12'>
      <div class='column-size-2'><b>STATUS</b></div>
      <div class='column-size-3'><b>DELIVERY DATES</b></div>
      <div class='column-size-4'><b>PAYMENT TERMS</b></div>
      <div class='column-size-3'><b>CWT PRICE</b></div>
    </div>
  </div>
  <div>
    <div class='underline grid-12'>
      <div class='column-size-2'>Priced</div>
      <div class='column-size-3'>
        {{contractForm.deliveryDateStart | date:'shortDate'}} to {{contractForm.deliveryDateEnd | date:'shortDate'}}<br><br>
        <div class='underline'>
          Please sign and return this confirmation IMMEDIATELY
        </div>
      </div>
      <div class='column-size-4'>
        EVERY {{contractForm.paymentTerms.amount}} {{contractForm.paymentTerms.measurement | uppercase}} {{contractForm.paymentTerms.before? "PREPAID": ""}}
      </div>
      <div class='column-size-1 right-justify'>
        {{getPriceInCWT() | number:'0.5-5'}}<br>
        {{getPriceInMTon() | number:'0.5-5'}}
      </div>
      <div class='column-size-2'>
        CWT<br>
        M. TON
      </div>
    </div>
  </div>
  <div class='grid-12'>
    <div class='column-size-5'>
      <br>
      <div class='box'>
        Buyer's scale of discounts at time of delivery to apply rules to apply: TGFA
      </div>
    </div>
    <div class='column-size-1'></div>
    <div class='column-size-3'><b>TOTAL CONTRACTED</b></div>
    <div class='column-size-1'></div>
    <div class='column-size-2'>
      <div id='total'>
        <span><b>$</b></span>
        <span><b>{{weight.getPounds() * getPriceInCWT() / 100 | number:'1.2-2' }}</b></span>
      </div>
    </div>
  </div>
</div>

<div>
  BUYER OBJETS TO THE INCLUSION OF ANY DIFFERENT OR ADDITIONAL TERMS PROPOSED BY SELLER. BUYER´S SCHEDULE OF DISCOUNTS TO APPLY.
  SELLER GUARANTEES GRAIN U.S. GROWN. IF PRICE OF GRAIN IS ON A PREMIUM BASIS, CONTRACT TO BE PRICED OR SPREAD PRIOR TO THE LAST TRADING
  DAY PRECEDING THE FIRST DELIVERY DAY OF THE FUTURES CONTRACT.
</div>

<br>
<b>CONFIRMATION</b>
<br>
<div class='signature-area'>
  <div>
    <span>{{contractForm.client || ""}}</span>
    <div class='underline'>BY:</div>
    <span>Name/Title:</span><br>
    <span>Date:</span><br>
  </div>
  <div>
    <span>ACN AGRIPRODUCTS LLC</span>
    <div class='underline'>BY:</div>
    <span>Ruben D. Puga/General Manager</span><br>
    <span>Date:</span><br>
  </div>
</div>
<br>
<div class='page-footer'>
  PLEASE SIGN ONE COPY AND RETURN TO ABOVE ADDRESS
</div>

<div class='terms-and-conditions'>TERMS AND CONDITIONS</div>
<br>
<div class='terms-and-conditions'>
  <p>
    Except as modified or limited by the terms and conditions stated herein, the Contract shall be governed by and construed in accordance with the applicable 
    rules and regulations of the exchange, board or association designated on the face hereof, if none is designated or Seller in not a member of said exchange, 
    board or association, the applicable trade rules of the Texas Grain and Feed Association in effect on the date hereof, and, to the extent not inconsistent 
    therewith, the applicable provisions of the Uniform Commercial Code.
  </p>
  <p>
    Seller warrants to Buyer that all grain sold and delivered hereunder will be of good, sound, dry and merchantable quality in accordance with the grade 
    specified herein, that it will have been grown in the Continental United States unless a non-United States grown clause has been made a part of this Contract 
    and so stated on the face hereof, that it will not be adulterated or misbranded within the meaning of the Federal Food, Drug and Cosmetic Act, nor be a 
    commodity wich may not, under the provisions of Section 404 or 505 of the Act, be introduced into interstate commerce, that neither any such grain nor the 
    shipment thereof will be in violation of or subject to penalty, seizure or lien under any other federal, state or local law, ordinance regulation quota or order, 
    and all grain sold hereunder will be delivered to Buyer free and clear of any and all liens, encumbrances, security interests, claims and penalties of any kind 
    and nature.
  </p>
  <p>
    In the event that a party hereto (the “Defaulting Party”) becomes insolvent, or suffers or consents to or applies for the appointment of a reciever, trustee, 
    custodian or liquidator of itself or any of its property, or generally falls to pay its debts as they become due, or makes a general assignment for the benefit of 
    creditors, or files a voluntary petition of bankruptcy, or seeks reorganization, in order to effect a plan or other arrangement with creditors or any other relief 
    under the Bankruptcy Code. Title 11 of the United States Code, as amended or recodified from time to time, or under any state or federal law granting relief 
    to debtors then the other party (the “Non-defaulting Party”) may (i) immediatly cancel this Contract and all other Contracts between the parties hereto, (ii) 
    liquidate such cancelled Contracts in a commercially reasonable manner, and (iii) aggregate such liquidated amounts into a single liquidated settlement 
    amount(the ”Settlement Amount”) due, wich shall be due and payable two (2) business days after written notice by the Non-defaulting Party. In addition, the 
    Non-defaulting Party may set-off any amounts owed by the Defaulting Party to the Non-defaulting Party under any other agreeements between the parties 
    against any Settlement Amount owed by the Non-defaulting Party to the Defaulting Party hereunder.
  </p>
  <p>
    The parties agree that each of them is a forward contract merchant as set forth in 11 U.S.C. Section 101(25). The parties also agree that this Contract and any 
    other commodity contract between the parties are all forward contracts as defined in 11 U.S.C. Section 101(25). The payments and transfers described 
    herein shall constitute “Settlement Payments” or “Margin Payments” as set forth in 11 U.S.C. Sections 101(51ª) and (38).
  </p>
  <p>
    Each Party consents to the recording of all telephone conversations between its representative and the representatives of the other Party.
    This Contract is made on the basis of freight rates in effect on the date hereof. Any increase in freight rates taking effect before the full performance of this 
    Contract shall be for the account of Seller unless otherwise adjusted and agreed upon between the parties at the time of the affected shipment.
    All shipments of grain hereunder shall be made by Seller to the place of delivery designated herein. Buyer may subsequently designate any reasonable 
    alternate place of delivery to facilitate Seller’s performance but shall have no obligation to do so. Any increased shipping charges incurred under the 
    provision shall be for the Seller’s account and any reductions in shipping charges shall be for Buyer’s account; provided however, if the designated alternate 
    delivery points are solely for Buyer’s convenience, increase shipping charges shall be for Buyer’s account.
  </p>
  <p>
    Unless otherwise specified, each shipment hereunder will be applied to the oldest open contract between Buyer and Seller.
    Buyer reserves the right to apply off-grade grain at market difference without notifying Seller.
    Buyer’s performance hereunder, or any delay in such performance, including the acceptance of deliveries of grain on the date or dates specified, shall be 
    excused where such failure to perform or delay is attributable to any cause or reason beyond Buyer’s control, including without limitation lack of available 
    storage space, equipment breakdown, labor trouble, governmental regulations, transportation difficulties, embargoes, civil distrubances, acts of God, or any 
    other causes of the like or different carácter beyond Buyer’s control.
  </p>
  <p>
    This Contract is intended by the parties as a final expression of their agreement and is intended also as a complete exclusive statement of the terms and 
    conditions of their agreement. This Contract is limited to the terms and conditions stated herein, wich terms and conditions shall prevail insofar as they might 
    in any way conflict with any terms or conditions of Seller’s confirmation.
  </p>
  <p>
    There are hereby incorporated herein by reference the respective Equal Opportunity Clauses set forth in 41 C.F.R. para. 60-1.4 (a). 41 C.F.R. para. 60-250.4 
    and 41 C.F.R. para. 60-741.4 to extent the incorporation thereof is requiered by or neccesary for compliance with applicable federal laws, regulations or 
    orders. As in such clauses, “contractor” shall mean the Seller hereunder. Unless otherwise exempt, this Purchase Order incorporates by reference the EEO 
    Clause contained in 41 C.F.R. Sections 60-1.4, 60-741.5, and 60-250.5.
  </p>
  <p>
    CONTROVERSIES: Controversies and/or other disagreements between Buyer and Seller arising under this Contract shall be settled by arbitration wich shall 
    be a condition precedent to any right of legal action that either Buyer or Seller may have against the other party. Any arbitration shall be in accordance with 
    the rules of the Texas Grain and Feed Association (TGFA). At the time notice of arbitration is served by either Buyer or Seller upon the other, (i) if either is a 
    member of TGFA, the TGFA Arbitration Committee shall serve as the arbitrator; (ii) if neither is a member of the TGFA, the American Arbitration Association 
    shall serve as the arbitrator.
  </p>
</div>