:host {
    display: block;
    height: auto;
    width: 188.2mm !important;
    background-color: white !important;
    font-size: 13px !important;
    line-height: 150% !important;
    color: black !important;
}

.header-section {
    outline: black solid 1px;
}

#company-logo {
    width: 40%;
    display: inline-block;
}

h1{
    display: inline-block;
    vertical-align: top;
    margin: 5%;
}

.party-header {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.right-justify {
    display: block;
    text-align: right;
}


#extra-info-header {
    border: 2px solid black;
}

.underline {
    border-bottom: 2px solid black;
}

.underline-small {
    border-bottom: 1px solid black;
}

#total {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid black;
}

.signature-area {
    display: flex;
    gap: 15%;

    div{
        flex-grow: 1;
    }
}

.page-footer {
    text-align: center;
    font-weight: bold;
    page-break-after: always;
}

.terms-and-conditions {
    font-size: x-small;
    line-height: 125%;
    margin-top: 1rem;
}

.grid-12 {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
}

.grid-3 {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.column-size-1 {
    grid-column-end: span 1;
}

.column-size-2 {
    grid-column-end: span 2;
}

.column-size-3 {
    grid-column-end: span 3;
}

.column-size-4 {
    grid-column-end: span 4;
}

.column-size-5 {
    grid-column-end: span 5;
}

// @media screen {
//     .terms-and-conditions {
//         display: none;
//     }
// }