
* {
    box-sizing: border-box;
}

app-ticket-discount-table {
    // max-width: 1500px !important;
}

// ::ng-deep div.wrapper {
//     max-height: 1075px;
//     overflow-y: scroll;
// }

.flex-column {
    display: flex;
    flex-flow: column;
    gap: 10px;

    // mat-toolbar {
    //     width: max-content;
    // }
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;

    #form-and-liquidations {
        flex: 1 1 470px;
        max-width: 945px;
    }

    &.list-content {
        & > * {
            height: min-content;
        }
        #ticket-list {
            flex: 1 1 470px;
            max-width: 945px;
        }
        #trucker-list {
            flex: 1 1 945px;
            max-width: 945px;
        }
    }
}
