<app-header-toolbar titulo="{{type | titlecase}} Contract {{currentContract.id}}" *ngIf="ready"></app-header-toolbar>
<mat-toolbar>
  <mat-checkbox [(ngModel)]="showLiquidation">Liquidation</mat-checkbox>
</mat-toolbar>

<ion-content *ngIf="!showLiquidation">
  <ion-grid *ngIf="ready">
    <ion-row>
      <ion-col size="7">
        <ion-card>
          <ion-card-header>
            Contract Info
          </ion-card-header>
          <app-contract-form *ngIf="currentContract" [currentContract]="currentContract"></app-contract-form>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <ion-card-header>
            Contract Document
          </ion-card-header>
            <app-display-contract [contract]="currentContract"></app-display-contract>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            Ticket List
          </ion-card-header>
          <ion-card-content>
            <app-tickets-table #ticketTable *ngIf="ticketList" [ticketList]="ticketList"></app-tickets-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            Trucker List
          </ion-card-header>
          <ion-card-content>
            <app-trucker-table></app-trucker-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="showLiquidation">
  <app-ticket-discount-table [ticketDiscountList]="ticketDiscountList"></app-ticket-discount-table>
  <button mat-button (click)="onDownloadLiquidation()">Download</button>
  <button mat-button
    ngxPrint
    [useExistingCss]="true"
    printSectionId="ContractLiquidationLong"
  >Print</button> 

  <app-contract-liquidation-long id='ContractLiquidationLong' class="printable"
    *ngIf="ticketDiscountList"
    [ticketList] = "ticketDiscountList"
    [contract] = "currentContract"
  ></app-contract-liquidation-long>
</ion-content>
