
<app-printable-dialog *transloco="let t, read: 'contracts.info'">
  <ng-container ngProjectAs="buttons">
    <button mat-icon-button (click)="onDownloadLiquidation()">
      <mat-icon>save_alt</mat-icon>
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="unitsMenu">{{ t('units') | titlecase }}</button>
    <mat-menu #unitsMenu>
      <button mat-menu-item *ngFor="let unit of units" (click)="setUnits(unit)">{{ unit }}</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="formatMenu" [disabled]="!liquidationTypes">{{ t('format') | titlecase }}</button>
    <mat-menu #formatMenu>
      <button mat-menu-item 
        *ngFor="let format of liquidationTypes | keyvalue" 
        (click)="selectedFormat=format.value"
      >{{ format.key | titlecase }}</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="orientationMenu">{{ t('orientation') | titlecase }}</button>
    <mat-menu #orientationMenu>
      <button mat-menu-item (click)="orientation='landscape'">{{ t('landscape') }}</button>
      <button mat-menu-item (click)="orientation='portrait'">{{ t('portrait') }}</button>
    </mat-menu>
  </ng-container>
  <app-printable-liquidation id="printable" 
    [data]="data"
    [format]="selectedFormat"
    [class]="orientation"
  ></app-printable-liquidation>
</app-printable-dialog>