<app-header-toolbar titulo="Dashboard"></app-header-toolbar>

<ion-content class="ion-padding">
    <div class="main-grid">
        <app-needs-admin-attention *ngIf="permissions?.admin && currentCompany" [company]="currentCompany"></app-needs-admin-attention>
        <div></div>
        <div></div>
        
    </div>
    <app-table-contracts 
        [columns]="columns" 
        displayFormat="pagination" 
        [snapshot]="true"
        [steps]="10"
    ></app-table-contracts>
</ion-content>
