.main-grid {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 150px;
    grid-auto-rows: 150px;
}
app-needs-admin-attention {
    height: 250px;
}

app-table-contracts {
    // comment out all lines for auto width and height

    // take up all the available space in parent
    width: 100%;
    height: 100%;

    // fixed dimensions
    // height: 400px;

    margin-bottom: 100px;
}