
* {
    box-sizing: border-box;
}

mat-dialog-content {
    max-height: none;
    min-width: 450px;
    width: 50vw;
    max-width: 700px;
}

@media screen and (max-width: 768px) {
    ::ng-deep mat-dialog-container {
        height: 100vh !important;
        width: 100vw !important;
    }

    mat-dialog-content {
        max-width: none;
        width: unset;
        min-width: 319px;
    }
}

mat-checkbox, .sub-header, mat-divider {
    padding-bottom: 16px;
}

mat-checkbox {
    padding-left: 8px;
    padding-right: 8px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;

    .type {
        grid-column-end: span 3;
    }
    .amount {
        grid-column-end: span 3;
    }
    .account {
        grid-column-end: span 4;
    }
}

.mat-form-field {
    // min-width: 150px !important;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    column-gap: 8px;

    .type {
        flex: 3 1 250px;
    }
    .date {
        flex: 1 1;
    }

    .credit-or-debit {
        flex: 1 1;
    }
    .amount {
        flex: 2.5 1 225px;
    }

    .description {
        flex: 4 1;
    }
    .description-button {
        flex: 1 1;
    }
}