
<ng-container *transloco="let t; read: 'treasury'">  
  <h2 mat-dialog-title>{{ t("Set Transaction") }}</h2>
  
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("Date") }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("Amount") }}</mat-label>
        <span matPrefix>$&nbsp;&nbsp;</span>
        <input matInput formControlName="amount">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("Account") }}</mat-label>
        <mat-select formControlName="account">
          <mat-option *ngFor="let account of data.accounts" [value]="account">{{ account.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>{{ t("Account") }}</mat-label>
        <input matInput [matAutocomplete]="accountAutoComplete" formControlName="account">
        <mat-autocomplete #accountAutoComplete="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let account of data.accounts" [value]="account">{{ account.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>{{ t("Client") }}</mat-label>
        <input matInput [matAutocomplete]="clientAutoComplete" formControlName="client">
        <mat-autocomplete #clientAutoComplete="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let contact of filteredContactOptions | async | async" [value]="contact">{{ contact.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions [align]="'end'">
      <button mat-button color="accent" type="button" (click)="test()">Test</button>
      <button mat-button color="primary" type="button" mat-dialog-close>Close</button>
      <button mat-button color="primary" type="submit" [disabled]="transactionForm.invalid">Confirm</button>
    </mat-dialog-actions>
  </form>
</ng-container>
