.wrapper{
    height: fit-content;
    padding: 0.5in;

}

@media screen {
    app-contract-printable {
        //transform-origin: 0 0;
        display: block;
        background-color: white;
    }
}
