<button 
  mat-button 
  *ngIf="ready"
  ngxPrint
  printSectionId="printable"
  [printStyle]="{'#first-page' : {'font-size': '13px', 'line-height': '150%'}, '.terms-and-conditions' : {'font-size': 'x-small'}, '.terms-and-conditions': { 'font-size': 'x-small', 'line-height': '125%'} }"
  [useExistingCss]="true">
  PRINT
</button>

<div class="wrapper">
  <app-contract-printable
    *ngIf="ready"
    appScaleToFit
    id="printable"
    [contractForm]="contract"
    [productsList]="[product]"
  ></app-contract-printable>
</div>

<mat-spinner *ngIf="!ready"></mat-spinner>