.wrapper{
    height: fit-content;
}

@media screen {
    app-contract-printable {
        padding: 12.7mm;
        //transform-origin: 0 0;
        display: block;
        background-color: white;
    }
}
