<ion-header translucent class="ion-hide-md-up ion-no-border">
    <!-- ion-no-border -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- <ion-title></ion-title> -->
        <!-- <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="medium">
                CANCEL
            </ion-button>
            <ion-button color="primary">
                APPLY
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content class="mat-typography ion-padding">
    <h2 mat-dialog-title>Filter by:</h2>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <mat-form-field appearance="fill">
                    <mat-label>Ticket</mat-label>
                    <input matInput>
                </mat-form-field>
            </ion-col>
            <ion-col size="6">
                <mat-form-field appearance="fill">
                    <mat-label>Client</mat-label>
                    <input matInput>
                </mat-form-field>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <mat-form-field appearance="fill">
                    <mat-label>Product</mat-label>
                    <input matInput>
                </mat-form-field>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<mat-dialog-actions align="end" class="ion-padding" >
    <ion-button (click)="closeModal()" fill="clear" color="dark">
        Cancel
    </ion-button>
    <ion-button  fill="solid" color="primary">
        Apply
    </ion-button>
    <!-- <button mat-></button> -->
    <!-- <button mat-button >Install</button> -->
</mat-dialog-actions>