
$border: 1px solid black;

.center-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

.order-collection {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    * {
        box-sizing: border-box;
    }

    mat-card {
        padding: unset;
    }
}

.body-card .row {
    cursor: pointer;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--ion-color-primary-rgb), 0.15);
        transition: opacity .3s;
        opacity: 0;
        z-index: 2;
    }
    &:hover:before {
        opacity: 1;
    }
    &:hover {
        background-color: white;
        transition: .2s;
    }
}

@media screen and (min-width: 737px) {
    .order-collection {
        min-width: 500px;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 4fr 2fr;
        font-size: 0.9em;
    }

    .cell {
        padding: 15px;

        &.options {
            padding: none;
        }

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), 1fr));
    }

    .header-card {
        background-color: var(--ion-color-primary-light);
        color: var(--ion-color-primary);
        font-weight: bold;
        font-size: 1.1em;
        padding: 15px;
        margin-bottom: 10px;
    }

    .body-card {
        border-radius: unset;

        &:nth-child(odd) {
            background-color: var(--ion-color-light);   
        }
        &:nth-child(2) {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
    }

}

@media screen and (max-width: 736px) {
    .order-collection {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .row {
        border-radius: 2px;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }

    .order-collection > :first-child,
    .header-card {
        display: none;
    }

    .cell::before {
        content: attr(data-name);
        color: var(--ion-color-primary);
        font-weight: bold;
        font-size: 1.1em;
    }

    .cell {
        display: grid;
        grid-template-columns: minmax(8em, 30%) 1fr;
    }

    .options {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media screen and (max-width: 635px) {
    .order-collection {
        grid-template-columns: minmax(320px, 1fr);
    }

    .cell {
        grid-template-columns: minmax(8em, 30%) 1fr;
    }
}

.info-container,
.info-item,
.item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.info-item {
    display: flex;
    gap: 0.7em;
}

.body-card .status {
	font-weight: 500;
	text-transform: capitalize;
}

.pending {
	// background-color: rgba(var(--ion-color-warning-rgb), 0.15);
	color: var(--ion-color-warning);
}
.active {
	// background-color: rgba(var(--ion-color-success-rgb), 0.15);
	color: var(--ion-color-success);
}
.closed {
	// background-color: rgba(var(--ion-color-danger-rgb), 0.15);
	color: var(--ion-color-danger);
}
.cancelled { 
	// background-color: rgba(var(--ion-color-danger-rgb), 0.15);
	color: var(--ion-color-danger);
}
