ion-text {
    padding: 2px 8px;
    border-radius: 22px;
    font-size: 12px;
}

.active {
    background-color: rgba(var(--ion-color-success-rgb), 0.15);
    color: var(--ion-color-success);
}

.closed,.cancelled {
    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
    color: var(--ion-color-danger);
}

.pending { 
    background-color: rgba(var(--ion-color-warning-rgb), 0.15);
    color: var(--ion-color-warning);
}

.paid {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.15);
    color: var(--ion-color-secondary);
}