.page-content {
    margin: 1rem;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 200px));
    gap: 1rem;
}

.card {
    min-height: 224px;
}

ion-toolbar{
    min-height: 35px;
    height: auto;
}

mat-form-field {
    width: auto;
    margin: 16px;

    ::ng-deep .mat-form-field-wrapper{
      margin-bottom: -1.25em;
      
      .mat-form-field-outline {
        background-color: white;
      }
    }
  }