<app-header-toolbar titulo="Inventory Logs"></app-header-toolbar>

<ion-content>
    <mat-card>
        <mat-card-content>
            <div>
                <app-plant-select (plantChangeEvent)="getLogs()"></app-plant-select>
                <mat-form-field>
                    <mat-label>Choose week</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker (closed)="getLogs()"></mat-date-range-picker>
                </mat-form-field>
            </div>
            
        </mat-card-content>
    </mat-card>
</ion-content>
