mat-card {
    margin: 1rem;
}

div:has(app-plant-select) {
    display: flex;
    gap: 1rem;

    mat-form-field {
        width: 200px;
    }
}

div:has(>app-storage-card) {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;

    app-storage-card {
        min-width: 300px;
        max-width: 400px;
        flex: 300px 1 0;
    }
}