<ion-header translucent class="ion-hide-md-up ">
    <!-- ion-no-border -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ticket {{ticket?.id}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="mat-typography mat-dialog-content ion-hide-sm-down">
        <div class="content-ticket">
            <div class="panel-main" *ngIf="ticket && client && contract && transport">
                <button 
                    mat-raised-button
                    ngxPrint
                    [useExistingCss]="true"
                    printSectionId="printableTicket"
                    [printStyle]="{'@page' : { size: 'letter portrait', margin: '0.5in' }}"
                >Print</button>
                <app-printable-ticket  
                    [ticket]="ticket"
                    [client]="client"
                    [contract]="contract"
                    [transport]="transport"
                    appScaleToFit
                    id="printableTicket"
                ></app-printable-ticket>
            </div>
            <div class="panel-second" >
                <img *ngFor="let image of imageTicketList" [src]="image" alt="" />
            </div>
        </div>
    </div>
    <ion-slides pager="true" [options]="slideOpts" class="ion-hide-sm-up">
        <ion-slide *ngFor="let image of imageTicketList">
           <img [src]="image" alt="">
        </ion-slide>
      </ion-slides>
</ion-content>