.mat-mdc-dialog-content {
  padding: 18px;
  max-height: 100%;
  *{
    max-height: 100%;
  }
}
.content-ticket {
  display: flex;
  width: calc(100% - 36px);
  column-gap: 15px;
  max-height: 100%;
}

.panel-main {
  flex: 0 0 auto;
  flex-basis: 75%;
  max-width: 75%;
  max-height: 100%;
}

.panel-second {
  flex: none;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  img, embed {
    object-fit: scale-down;
  }
}
@media screen and (max-width: 768px) {
  .content-ticket {
    grid-template-columns: 1fr;
  }
  ion-slides {
    height: 100%;
  }
  .mat-mdc-dialog-content {
    padding: 0;
  }
}
