<ion-header translucent class="ion-hide-md-up ">
    <!-- ion-no-border -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ticket {{ticket.id}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="mat-typography mat-dialog-content ion-hide-sm-down">
        <div class="content-ticket">
            <div class="panel-main">
                <app-printable-ticket *ngIf="contract" 
                    [ticket]="ticket"
                    [client]="client"
                    [contract]="contract"
                    [transport]="transport"
                    appScaleToFit
                ></app-printable-ticket>
            </div>
            <div class="panel-second" >
                <embed src="{{pdfLink}}" *ngIf="pdfLink != null"/>
                <img src="./../../../../../assets/ticket.png" alt="" />
                <img src="./../../../../../assets/ticket.png" alt="" />
                <img src="./../../../../../assets/ticket.png" alt="" />
            </div>
        </div>
    </div>
    <ion-slides pager="true" [options]="slideOpts" class="ion-hide-sm-up">
        <ion-slide>
           <img src="./../../../../../assets/ticket.png" alt="">
        </ion-slide>
        <ion-slide>
           <img src="./../../../../../assets/ticket.png" alt="">
        </ion-slide>
        <ion-slide>
           <img src="./../../../../../assets/ticket.png" alt="">
        </ion-slide>
      </ion-slides>
</ion-content>