
<!-- <span #header>
    <ng-content></ng-content>
</span>

<br> -->

<span class="unit-label">( {{ isPrice ? "$/" : "" }}{{ displayUnits.get(fieldname) | uppercase }} )</span>
<span class="unit-select">
    ( 
    <mat-form-field>
        <mat-select
            [value]="displayUnits.get(fieldname)"
            (valueChange)="displayUnits.set(fieldname, $event)"
        >
            <mat-option *ngFor="let unit of UNIT_LIST" [value]="unit">
                {{ (isPrice ? ("$/" + unit) : unit) | uppercase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
        )
</span>
