
@media print {
    .unit-select {
        display: none;
    }
    .unit-label {
        display: block !important;
    }
}

.unit-select {
    .mat-form-field {
        font-weight: bold;
        width: min(55px, 70%);
    }
    .mat-input-underline {
        display: none !important;
    }
}

.unit-label {
    display: none;
}