
@media print {
    .unit-select {
        display: none;
    }
    .unit-label {
        display: block !important;
    }
}

.unit-select {
    .mat-form-field {
        font-weight: bold;
        width: auto;
    }

    white-space: nowrap;
}

.unit-label {
    display: none;
}

:host {
    * { box-sizing: border-box; }

    white-space: nowrap;
}

::ng-deep {
    .unit-select {
        .mat-input-underline {
            display: none;
        }
        .mat-form-field-infix {
            width: auto;
        }
    }
}