
@media print {
    * {
        print-color-adjust: exact;
    }

    .unit-select {
        display: none;
    }
    .unit-label {
        display: block !important;
    }
}

.unit-select {
    // min-width: 170px;
    // max-width: 50px;
    .mat-form-field {
        font-weight: bold;
    }
    .mat-input-underline {
        display: none !important;
    }
}

.header-units {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.unit-label {
    display: none;
}