<ion-list>
    <ion-item button lines="none" matTooltipPosition="above" matTooltipClass="tooltip-white">
        Copy
        <ion-icon color="medium" slot="start" name="copy-outline"></ion-icon>
        <ion-text class="item-subtext" color="medium" slot="end">Ctrl+C</ion-text>
        <!-- <ion-icon color="primary" name="open-outline" slot="start"></ion-icon> -->
    </ion-item>
    <ion-item button lines="none">
        Update
        <ion-icon color="medium" slot="start" name="refresh-outline"></ion-icon>
        <ion-text class="item-subtext" color="medium" slot="end">Ctrl+R</ion-text>
    </ion-item>
    <ion-item button lines="none">
        Search in the Web
        <ion-icon color="medium" slot="start" name="search-outline"></ion-icon>
    </ion-item>
    <mat-divider></mat-divider>
    <ion-item button lines="none">
        Clipboard
        <ion-icon color="medium" slot="start" name="clipboard-outline"></ion-icon>
    </ion-item>
</ion-list>