<ion-card class="table-header grid-item ion-hide-md-down">
    <ion-item lines="none" class="item-icon-hide-hover" (click)="number = number">
        <div class="item-text-header">
            <ion-text>N°</ion-text>
            <ion-icon [class.active-arrow]="number" name="chevron-down-outline" color="primary"></ion-icon>
        </div>
    </ion-item>
    <ion-item lines="none" class="item-icon-hide-hover" (click)="customer = customer">
        <div class="item-text-header">
            <ion-text>Customer</ion-text>
            <ion-icon [class.active-arrow]="customer" name="chevron-down-outline" color="primary"></ion-icon>
        </div>
    </ion-item>
    <ion-item lines="none" class="item-icon-hide-hover" (click)="issue = issue">
        <div class="item-text-header">
            <ion-text>Date</ion-text>
            <ion-icon [class.active-arrow]="issue" name="chevron-down-outline" color="primary"></ion-icon>
        </div>
    </ion-item>
    <ion-item lines="none" class="item-icon-hide-hover" (click)="paid = paid">
        <div class="item-text-header">
            <ion-text>Status</ion-text>
            <ion-icon [class.active-arrow]="paid" name="chevron-down-outline" color="primary"></ion-icon>
        </div>
    </ion-item>
    <ion-item lines="none" class="item-icon-hide-hover" (click)="billed = billed">
        <div class="item-text-header">
            <ion-text>Billed</ion-text>
            <ion-icon [class.active-arrow]="billed" name="chevron-down-outline" color="primary"></ion-icon>
        </div>
    </ion-item>
    <ion-item lines="none">
        <div class="item-text-header">
            <ion-text>Manage</ion-text>
        </div>
    </ion-item>
</ion-card>
<ion-card class="table-body">
    <div (contextmenu)="openOptions($event, invoice)" class="grid-item item-table" *ngFor="let invoice of paginator?.list">
        <ion-item lines="none">
            <ion-text color="dark" class="item-text-number" [class.attention]="invoice.needsAttention">{{invoice.id}}</ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-text color="primary" class="item-text-customer">{{invoice.buyer.name}}</ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-text>{{invoice.date | date}}</ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-text class="status" [class]="invoice.status">{{invoice.status}}</ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-text class="item-text-price" color="dark">
                <div class="iten-price-customer">
                    <span class="pesos">$</span>
                    {{invoice.total | number:".2"}}
                </div>
            </ion-text>
        </ion-item>
        <ion-item lines="none" class="ion-hide-md-down">
            <div class="content-button">
                <ion-buttons>
                    <ion-button (click)="openOptions($event, invoice)" color="medium" slot="end">
                        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </div>
        </ion-item>
    </div>
    <ion-infinite-scroll threshold="200px" (ionInfinite)="infiniteInvoice($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading invoices...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-card>