mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

h3 {
    margin: 5px 0px;
}

#ticket-report-table tr {
    :nth-child(1) {
        width: 60px;
    }
    :nth-child(2) {
        width: 40px;
    }
    :nth-child(3) {
        width: 250px;
    }
    :nth-child(5) {
        width: 40px;
    }
    :nth-child(5) {
        width: 40px;
    }
    :nth-child(6) {
        width: 60px;
    }
    :nth-child(7) {
        width: 60px;
    }
    :nth-child(8) {
        width: 60px;
    }
    :nth-child(9) {
        width: 40px;
    }
    :nth-child(10) {
        width: 60px;
    }
    :nth-child(11) {
        width: 60px;
    }
}

th, td {
    border: 1px black solid;
    font-size: small;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

app-printable-ticket, .ticket-report-table {
    page-break-after: always;
}

@media screen {
    .printable {
        display: none;
        margin: 0.5in;
    } 
}

.id-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

mat-dialog-actions mat-spinner {
    margin-left: 12px;
}