<div class="page-style main">
    <div class="text-align-right"><b>No. de contrato:</b></div>
    <p class="text-align-justify introduction">
        CONTRATO DE COMPRA-VENTA DE <b>XXXXXX</b> EN LO SUCESIVO DENOMINADO “PRODUCTO”, QUE CELEBRAN POR UNA PARTE, <b>XXXXXXXXXXXXXXXXX</b>, EN LO SUCESIVO DENOMINADO “EL COMPRADOR”, REPRESENTADA EN ESTE ACTO POR <b>XXXXXXXXXXXX</b>, EN SU CARÁCTER DE APODERADO LEGAL, Y POR LA OTRA PARTE <b>AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV</b>, EN LO SUCESIVO DENOMINADO “EL VENDEDOR”, REPRESENTADA EN ESTE ACTO POR EL SEÑOR <b>RUBEN DARIO PUGA JUAREZ</b>, EN SU CARÁCTER DE APODERADO LEGAL, EN LO SUCESIVO DENOMINADOS CONJUNTAMENTE LOS CONTRATANTES COMO “LAS PARTES”, DE CONFORMIDAD CON LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:
    </p>
    <p class="text-align-center section-header-spaced">DECLARACIONES</p>
    <ol type="I" class="declarations text-align-justify">
        <li>
            <p>
                - DE <b>“EL VENDEDOR”</b>:
                <br>
                PERSONAS MORALES
            </p>
            <ol type="1">
                <li>
                    Que es una sociedad mercantil constituida de conformidad con las leyes mexicanas, bajo la denominación de <u>XXXXXXXXXXXXXXXXX</u>, como se acredita con la Escritura Pública número <u>XXXXX</u>, de fecha <u>XXXXXXXX</u>, y que el señor <u>XXXXXXXX</u>, en su carácter de <u>Apoderado Legal</u>, está facultado para celebrar este contrato.
                </li>
                <li>
                    Que su Registro Federal de Contribuyentes es: <u>XXXXXXXXXXX</u> y se encuentra al corriente de sus obligaciones.
                </li>
                <li>
                    Que la Clave Única de Registro de Población (CURP) del apoderado legal es:
                </li>
                <li>
                    Que señala como domicilio para los fines y efectos legales a que haya lugar, derivados del presente contrato, el ubicado en <u>XXXXXXXXXXXXXXXXX</u>, correo electrónico <u>XXXXXXXXXXXXX</u> y teléfono <u>XXXXXXXXXXX</u>.
                </li>
            </ol>
        </li>
        <li>
            <p>- DE <b>“EL COMPRADOR”</b>:</p>
            <ol type="1">
                <li>
                    Sociedad mercantil, constituida de conformidad con las leyes mexicanas bajo la denominación de <u>Agropecuaria La Capilla del Noreste, SA de CV;</u>, como se acredita con la Escritura Pública número <u>860</u>, de fecha <u>11 de Febrero de 2011</u> y que el señor <u>Rubén Darío Puga Juárez</u>, en su carácter de <u>Representante Legal</u>, está facultado para celebrar este contrato, como se acredita con la Escritura Pública del Poder Notarial número 11,989, de fecha 01 de Febrero de 2011, y cuyas facultades no le han sido limitadas, modificadas o revocadas a la fecha.
                </li>
                <li>
                    Que su Registro Federal de Contribuyentes es: <u>ACN980211QC9</u> y se encuentra al corriente de sus obligaciones.
                </li>
                <li>
                    Que la Clave Única de Registro de Población (CURP) del apoderado legal es:
                </li>
                <li>
                    Que señala como domicilio para los fines y efectos legales a que haya lugar derivados del presente contrato, el ubicado en: <u>Zaragoza entre 1ª  y 2ª SN, Valle Hermoso, Tamaulipas CP 87500</u> correo electrónico <u>XXXXX</u> y teléfono <u>XXXXXX</u>.
                </li>
            </ol>
        </li>
        <li>
            <p>- DE <b>“LAS PARTES”</b></p>
            <ol type="1">
                <li>
                    “Dictamen Jurídico” Que el formato denominado “ANEXO 1” que se adhiere al contrato suscrito por “LAS PARTES”, forma parte integral del presente contrato, el cual contiene la información siguiente: Fecha, Producto, Tipo de carga, Precio determinado, Cantidad, Unidad de medida, Calidad garantizada, Humedad máxima, Forma de entrega, Seguro de tránsito, Lugar de entrega, Pesos, Mermas, Periodo de entrega, Términos de pago, Almacenaje y fumigación, Garantía, Forma de pago, Cuentas y bancos de pago, ejecutivo de contrato y el nombre y firma de “EL COMPRADOR” y “EL VENDEDOR”.
                </li>
                <li>
                    Que en la celebración del presente contrato no ha existido mala fe, error, dolo o violencia de ningún tipo y que las contraprestaciones establecidas en el mismo son las justas, por lo que es su libre voluntad celebrar este contrato de compraventa a término y obligarse de acuerdo con las siguientes:
                </li>
            </ol>
        </li>
    </ol>
    <p class="text-align-center section-header-spaced">CLAUSULAS</p>
    <p class="text-align-justify">
		<b>PRIMERA. &#8211; OBJETO.</b> - Que declaran, bajo protesta de decir verdad, que al amparo del presente “CONTRATO” celebran una compraventa a término por XXXX toneladas del “PRODUCTO” y que quienes firman se encuentran facultados para suscribirlo en su nombre y representación.
		<br>
		<b>SEGUNDA. &#8211; CALIDAD.</b> - Las muestras serán tomadas en el momento y lugar de descarga, mismas que serán identificadas y resguardadas. En caso de tener alguna diferencia respecto a la calidad del “PRODUCTO” las “PARTES” acuerdan sujetarse a un análisis de un tercero para definir dicha calidad, sometiéndose a los resultados. "El VENDEDOR” se compromete a entregar el “PRODUCTO” al “COMPRADOR” dentro de los parámetros y especificaciones convenidos que se muestran a continuación:
    </p>
    <div class="product-info">
        <div class="product-info-item">Humedad:<br>14.0%<br>maximo</div>
        <div class="product-info-item">Impurezas:<br>3.0%<br>máximo</div>
        <div class="product-info-item">Grano dañado:<br>5.0%<br>máximo</div>
        <div class="product-info-item">Grano quebrado:<br>4.5%<br>máximo.</div>
        <div class="product-info-item">Material extraño:<br>2.5%<br>máximo.</div>
        <div class="product-info-item">Peso volumétrico:<br>700 kg/ hl<br>mínimo</div>
    </div>
    <p class="text-align-justify">
        Así mismo, el producto que por cualquier otra causa no especificada en esta cláusula sea de calidad inferior será considerada fuera de la norma. “EL COMPRADOR”, a su exclusivo criterio, puede decidir si rechaza o acepta producto fuera las norma. En el caso de ser aceptado producto que incumpla algunos factores de las normas de calidad se aplicará el descuento de precio vigente en el momento de la descarga. Para cualquier producto rechazado que incumpla con las normas de calidad “EL COMPRADOR” no tendrá ninguna obligación con “EL VENDEDOR”.
		<br>
        <b>TERCERA. &#8211; HUMEDAD Y SECADO.</b> - “EL COMPRADOR” aplicará la merma porcentual de peso correspondiente según la tabla oficial vigente en el momento de la entrega sobre el producto recibido que exceda la tolerancia establecida de humedad. Deberá, además, aplicar el cobro de la tarifa de secado según la tabla oficial vigente al momento de la entrega.
		<br>
        <b>CUARTA. &#8211; PRECIO Y PAGO.</b> - El “COMPRADOR” se obliga a pagar a “EL VENDEDOR” el precio pactado del “PRODUCTO” conforme lo establecido en el “ANEXO 1” de la forma, números de cuenta y bancos indicados por “EL VENDEDOR”.
        <br>
		El pago se efectuará en un plazo de quince días posteriores a la recepción de la factura y la documentación que avale la entrega de producto.
		<br>
        <span class="text-highlight"><b>QUINTA. &#8211; GARANTÍAS.</b> - “EL VENDEDOR” entregará a “EL COMPRADOR” una garantía de cumplimiento del “CONTRATO DE COMPRAVENTA” y será equivalente a un 20% del importe total del contrato; asimismo, se constituirá por alguno de los siguientes instrumentos o su combinación: (1) Fianza otorgada por institución autorizada en los términos de la Ley Federal de Instituciones de Fianzas (2) Retención del importe de la garantía, que se descontará en los pagos de las primeras facturas del producto que “EL VENDEDOR” presente a cobro, hasta cubrir dicho importe de acuerdo con lo que se estipule en el contrato. (3) Cheque certificado o cheque de caja para su depósito, cuyo importe permanecerá en poder de “EL COMPRADOR” hasta el cabal cumplimiento de las obligaciones contractuales, o bien depósito en efectivo a favor “EL COMPRADOR”.</span>
		<br>
        <b>SEXTA. &#8211; INCUMPLIMIENTO DE ENTREGAS.</b> - Las penalizaciones convenidas por incumplimiento de entregas de “EL VENDEDOR” por causas imputables al mismo serán determinadas en función del grano no entregado. La pena convencional por incumplimiento en la entrega del producto será del 20% del monto del producto no entregado (equivalente en dinero del valor del tonelaje incumplido).
		<br>
        <b>OCTAVA. &#8211; MODIFICACIONES.</b> - “LAS PARTES” acuerdan que cualquier modificación en el presente contrato y/o cualquier otro dato que modifique los asentados en las presentes cláusulas, deberá ser formalizado por escrito y en común acuerdo a fin de que surta efectos.
		<br>
        <b>DÉCIMA. &#8211; VIGENCIA Y VALIDEZ.</b> - El presente contrato sólo será válido a partir de la fecha en que sea firmado y hasta en tanto las “PARTES” cumplan con sus obligaciones derivadas del presente.
		<br>
        <b>DÉCIMA PRIMERA. &#8211; COMPETENCIA Y LEGISLACIÓN APLICABLE.</b> - En caso de controversia sobre la interpretación y cumplimiento del presente contrato, así como para todo aquello que no esté expresamente estipulado en el mismo, “LAS PARTES” se someten a las leyes aplicables y a los tribunales competentes del Estado de <u>Tamaulipas</u> renunciando expresamente a cualquier otra jurisdicción que, debido a sus domicilios presentes o futuros, o por cualesquiera otra, les corresponda o pudiera corresponderles.
        <br>
		Para efectos de lo anterior y para cumplimiento “LAS PARTES” firman por duplicado expresando su voluntad para celebrar el presente contrato, aceptando los términos y condiciones que se establecen.
		<br>
        <b>DÉCIMA SEGUNDA. &#8211; DIVISIBILIDAD.</b> - Si por cualquier motivo alguna de las cláusulas, párrafos o disposiciones del presente Contrato resultaré inválida o inejecutable y no fuere factible su cumplimiento, este incumplimiento no afectará ni alterará la fuerza, el alcance ni vigencia de las cláusulas y/o demás cláusulas, párrafos o disposiciones, las que se interpretarán de tal manera que se mantenga la intención original de “LAS PARTES” al celebrar el presente Contrato.
		<br>
        <b>DÉCIMA TERCERA. &#8211; RESPONSABILIDAD LABORAL.</b> - Queda expresamente convenido por “LAS PARTES” que el presente Contrato es de naturaleza mercantil y no se deriva de la misma responsabilidad laboral alguna, entre ellas, ni entre éstas y los trabajadores de la contraparte.
		<br>
        <b>DÉCIMA CUARTA. &#8211; SEGUROS.</b> - “LAS PARTES" acuerdan que el pago del seguro de la mercancía será según lo pactado en base a las condiciones de entrega que quedarán estipuladas en el “ANEXO 1" del presente instrumento.
		<br>
        <b>DÉCIMA QUINTA. &#8211; DOMICILIOS.</b> - Para todos los efectos del presente Contrato, “LAS PARTES” señalan como sus respectivos domicilios, los señalados en el “ANEXO 1” de este instrumento, por lo que todos los avisos, notificaciones y demás diligencias judiciales y extrajudiciales, que deban hacerse con motivo de este Contrato se realizarán a los domicilios antes señalados o en el último que hayan notificado por escrito cuando menos con 10 (diez) días hábiles de anticipación a la fecha en que deba surtir efectos el cambio.
		<br>
        <b>DÉCIMA SEXTA. &#8211; CESIÓN DE DERECHOS.</b> - “LAS PARTES" no podrán ceder, gravar, transferir, modificar o traspasar sus derechos y obligaciones derivados del presente Contrato, sin el consentimiento previo y por escrito de la otra parte.
		<br>
        <b>DÉCIMA SÉPTIMA. &#8211; JURISDICCIÓN.</b> - Para la interpretación y cumplimiento del presente Contrato, "LAS PARTES" se sujetan a las leyes del Estado de Tamaulipas y a la competencia de los Tribunales de la ciudad de Valle Hermoso, Tamaulipas, renunciando expresamente a cualquier otro fuero que pudiere corresponder en razón de sus domicilios presentes o futuros, o por cualquier otra índole.
    </p>
    <div class="signatures">
        <div class="text-align-center">
            POR “EL VENDEDOR”:
            <br>
            <div class="signature-line"></div>
        </div>
        <div class="text-align-center">
            POR “EL COMPRADOR”:
            <br>
            <div class="signature-line"></div>
            ING. RUBÉN DARIO PUGA JUAREZ 
			<br>
            AGROPECUARIA LA CAPILLA DEL NORESTE, 
			<br>
            SA DE CV
        </div>
    </div>
</div>

<div class="page-style anexo-1 page-standard-height">
    <p class="page-header">
        <b>
            <span class="company-name">AGROPECUARIA LA CAPILLA DEL NORESTE SA DE CV</span>
            <br>
            <span class="contract-version">CONTRATO DE COMPRA PRECIO FIJO</span>
        </b>
        <br>
        <span class="contract-id">Número de contrato <span class="emphasis">2022355X</span></span>
    </p>
    <p class="text-align-center page-title">“ANEXO 1”</p>
    <div class="buyer-seller">
        <span class="buyer-seller-title">VENDEDOR:</span>
        <span class="buyer-seller-name">PRODUCTORES DE SORGO, S.A. DE C.V.</span>
        <span>CARR.  A VICTORIA</span>
        <span>SAN FERNANDO, TAMAULIPAS, MX        C.P. 87600</span>
        <span>R.F.C.: CAA861206992</span>
        <span class="buyer-seller-title">COMPRADOR:</span>
        <span class="buyer-seller-name">AGROPECUARIA LA CAPILLA DEL NORESTE, S.A. DE C.V.</span>
        <span>ZARAGOZA ENTRE PRIMERA Y SEGUNDA S/N</span>
        <span>VALLE HERMOSO, TAMAULIPAS, C.P. 87500</span>
        <span>R.F.C.: ACN980211QC9</span>
    </div>
    <div class="contract-info">
        <div class="contract-info-row">
            <div>FECHA:</div>
            <div>05 DE ENERO DE 2023</div>
        </div>
        <div class="contract-info-row">
            <div>PRODUCTO:</div>
            <div>SORGO ROJO NACIONAL </div>
        </div>
        <div class="contract-info-row">
            <div>TIPO DE CARGA:</div>
            <div>A GRANEL</div>
        </div>
        <div class="contract-info-row">
            <div>PRECIO:</div>
            <div>$5,550.00 (CINCO MIL QUINIENTOS CINCUENTA PESOS 00/100 MN)</div>
        </div>
        <div class="contract-info-row">
            <div>CANTIDAD:</div>
            <div>5000 (CINCOMIL) TONELADAS MÉTRICAS +- 5%</div>
        </div>
        <div class="contract-info-row">
            <div>UNIDAD DE MEDIDA:</div>
            <div>TONELADA MÉTRICA</div>
        </div>
        <div class="contract-info-row">
            <div>CALIDAD GARANTIZADA:</div>
			<div>Grado: U.S. 2 OFICIAL</div>
        </div>
        <div class="contract-info-row">
            <div>HUMEDAD MÁXIMA:</div>
			<div>20%</div>
        </div>
        <div class="contract-info-row">
            <div>FORMA DE ENTREGA:</div>
			<div>CAMIÓN POR CUENTA DEL VENDEDOR</div>
        </div>
        <div class="contract-info-row">
            <div>SEGURO DE TRÁNSITO:</div>
            <div>VENDEDOR</div>
        </div>
        <div class="contract-info-row">
            <div>LUGAR DE ENTREGA: </div>
            <div>
				BODEGA SAN FERNANDO, TAMAULIPAS
				<br>
				CARRETERA CD. VICTORIA-MATAMOROS
			</div>
        </div>
        <div class="contract-info-row">
            <div>PESOS:</div>
			<div>EL DE DESCARGA EN BODEGA</div>
        </div>
        <div class="contract-info-row">
            <div>MERMAS:</div>
			<div>POR HUMEDAD</div>
        </div>
        <div class="contract-info-row">
            <div>PERIODO DE ENTREGA:</div>
			<div class="periodo-de-entrega">02-DEC-21<b>AL</b>08-DEC-21</div>
        </div>
        <div class="contract-info-row">
            <div>TÉRMINOS DE PAGO:</div>
			<div>15 (QUINCE DÍAS) DESPUES DE PRESETAR LA FACTURA</div>
        </div>
		<div class="contract-info-row">
            <div>ALMACENAJE Y FUMIGACIÓN:</div>
			<div>NO APLICA</div>
        </div>
        <div class="contract-info-row">
            <div>GARANTÍA:</div>
			<div>20%</div>
        </div>
        <div class="contract-info-row">
            <div>FORMA DE PAGO:</div>
			<div>TRANSFERENCIA ELECTRÓNICA DE FONDOS</div>
        </div>
        <div class="contract-info-row">
            <div>BANCOS Y CUENTAS DE PAGO:</div>
			<div>--</div>
        </div>
        <div class="contract-info-row">
            <div>EJECUTIVO DE CONTRATO:</div>
			<div>NOMBRE COMPLETO</div>
        </div>
    </div>
    <p>PARA CONSTANCIA DE LO CONVENIDO LAS PARTES FIRMAN EL PRESENTE CONTRATO</p>
    <div class="signatures">
        <div class="text-align-center"><b>
            POR “EL VENDEDOR”:
            <br>
            <div class="signature-line"></div>
        </b></div>
        <div class="text-align-center"><b>
            POR “EL COMPRADOR”:
            <br>
            <div class="signature-line"></div>
            AGROPECUARIA LA CAPILLA DEL NORESTE, 
			<br>
			SA DE CV
        </b></div>
    </div>
</div>
