<app-header-toolbar titulo="New Contract"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="content-grid">
    <div class="form-flex">
      <app-contract-form id="form"
        [contract]="contract"
        [isNew]="true"
        (selectedFieldEvent)="focusedFieldName = $event">
      <ng-template #actionBar>
        <button mat-raised-button
          ngxPrint
          [useExistingCss]="true"
          printSectionId="printable-document"
        >Print</button>
      </ng-template>
    </app-contract-form>
    </div>
    <!-- <app-display-contract id='printable-doc' [contractForm]="contract" [weight]="this.contractWeight" [productsList]="this.productsList"></app-display-contract> -->
    <app-printable-contract
      id="printable-document"
      [contract]="contract"
      [version]="contract.type"
      [focusedField]="focusedFieldName">
    </app-printable-contract>
  </div>
</ion-content>
