<app-header-toolbar titulo="New Contract"></app-header-toolbar>

<ion-content>
  <ion-row>
    <ion-col size-xl='5' size-xs='12'>
      <form [formGroup]="contractForm">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size-xs='4' size-sm='3' size-md='2'>
                <button mat-stroked-button color="primary" type="button" (click)="openClientSelect()">Client:</button>
              </ion-col>
              <ion-col size-xs='8' size-sm='9' size-md='10'>
                <mat-form-field>
                  <mat-label>Client Name</mat-label>
                  <input matInput formControlName='client'>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs='8' size-sm='9'>
                <mat-form-field>
                  <mat-label>Contract Type</mat-label>
                  <mat-select formControlName='contractType' (selectionChange)="contractTypeChange()">
                    <mat-option [value]="'purchaseContracts'">Purchase Contract</mat-option>
                    <mat-option [value]="'salesContracts'">Sales Contract</mat-option>
                  </mat-select>
                </mat-form-field> 
              </ion-col>
              <ion-col size-xs='4' size-sm='3'>
                <mat-form-field>
                  <mat-label>ID</mat-label>
                  <input matInput formControlName="id" type="number">
                  <mat-spinner matSuffix [diameter]="20" *ngIf="contractForm.get('id').pending"></mat-spinner>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs='8' size-sm='9'>
                <mat-form-field>
                  <mat-label>Quantity</mat-label>
                  <input matInput type='number' formControlName="quantity" type="number">
                </mat-form-field>
              </ion-col>
              <ion-col size-xs='4' size-sm='3'>
                <mat-form-field>
                  <mat-label>Units</mat-label>
                  <mat-select formControlName='quantityUnits'>
                    <mat-option value='bushels'>bushels</mat-option>
                    <mat-option value='lbs'>lbs</mat-option>
                    <mat-option value='CWT'>CWT</mat-option>
                    <mat-option value='mtons'>MTons</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='12'>
                <mat-form-field>
                  <mat-label>Product</mat-label>
                  <mat-select formControlName='product'>
                    <ng-container *ngIf="productsReady">
                      <mat-option *ngFor="let product of productsList" [value]="product">{{product.name}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs='8' size-sm='9'>
                <mat-form-field>
                  <mat-label>Price</mat-label>
                  <input matInput type='number' formControlName='price'>
                </mat-form-field>
              </ion-col>
              <ion-col size-xs='4' size-sm='3'>
                <mat-form-field>
                  <mat-label>Price Unit</mat-label>
                  <mat-select formControlName='priceUnit'>
                    <mat-option value='bushels'>bushels</mat-option>
                    <mat-option value='lbs'>lbs</mat-option>
                    <mat-option value='CWT'>CWT</mat-option>
                    <mat-option value='mtons'>MTons</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='12'>
                <mat-form-field>
                  <mat-label>Market Price Per Bushel</mat-label>
                  <input matInput formControlName='marketPrice' type="number">
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>U.S. Grade</mat-label>
                  <input matInput formControlName='grade' type="number">
                </mat-form-field>
              </ion-col>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Aflatoxin</mat-label>
                  <input matInput formControlName='aflatoxin' type="number">
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Delivery Dates Start</mat-label>
                  <input matInput [matDatepicker]="pickerStart" formControlName='deliveryDateStart'>
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
              </ion-col>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Delivery Dates End</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" formControlName='deliveryDateEnd'>
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row formGroupName='paymentTerms'>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Payment</mat-label>
                  <mat-select formControlName='before'>
                    <mat-option [value]='true'>Before</mat-option>
                    <mat-option [value]='false'>After</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Scale</mat-label>
                  <mat-select formControlName='origin'>
                    <mat-option [value]='false'>Destination</mat-option>
                    <mat-option [value]='true'>Origin</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Payment Terms</mat-label>
                  <input matInput formControlName='amount' type="number">
                </mat-form-field>
              </ion-col>
              <ion-col size='6'>
                <mat-form-field>
                  <mat-label>Payment Terms Units</mat-label>
                  <mat-select formControlName='measurement'>
                    <mat-option value='lbs'>lbs</mat-option>
                    <mat-option value='trucks'>trucks</mat-option>
                    <mat-option value='bushels'>bushels</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <button mat-raised-button (click)="submitForm()" [disabled]="contractForm.invalid">Submit</button>
            <button 
            mat-button
            [disabled]="contractForm.invalid"
            printSectionId="printable-doc"
            [useExistingCss]='true'
            ngxPrint>
            PRINT
          </button>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-col>
    <ion-col size-xl='7' size-xs='12'>
      <app-display-contract id='printable-doc' [contractForm]="getForm()" [weight]="this.contractWeight" [productsList]="this.productsList"></app-display-contract>
    </ion-col>
  </ion-row>
</ion-content>
