<app-header-toolbar [titulo]="t('new contract')" *transloco="let t, read: 'contracts.new'"></app-header-toolbar>

<ion-content class="ion-padding" *transloco="let t, read: 'contracts.new'">
  <div class="content-grid">
    <div class="form-flex">
      <app-contract-form id="form"
        [contract]="contract"
        [isNew]="true"
        (selectedFieldEvent)="focusedFieldName = $event">
        <ng-template #actionBar>
          <button mat-flat-button
            ngxPrint
            [useExistingCss]="true"
            printSectionId="printable-document"
            [printStyle]="{'@page' : { size: 'letter portrait', margin: '1in' }}"
          >{{t('print')}}</button>
        </ng-template>
      </app-contract-form>
    </div>
    <app-printable-contract
      id="printable-document"
      [contract]="contract"
      [version]="contract.type"
      [focusedField]="focusedFieldName"
      [templateVersion]="contract.type">
    </app-printable-contract>
  </div>
</ion-content>
