<mat-card>
    <mat-card-header>
        <mat-card-title>{{ account.name }}</mat-card-title>
        <!-- <mat-card-subtitle *ngIf="viewAccountDetails">
            Account # 
            <b class="view-account-number" (click)="viewAccountNumber=!viewAccountNumber">
                <span *ngIf="viewAccountNumber else hide">{{ account.accountNumber }}</span>
                <ng-template #hide><u>View</u></ng-template>
            </b>
        </mat-card-subtitle> -->
        <div class="account-actions-container">
            <button mat-icon-button (click)="toggleAccountDetails()">
                <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editAccount()">
                    <mat-icon color="primary">edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="archiveAccount()">
                    <mat-icon color="warn">archive</mat-icon>
                    <span>Archive</span>
                </button>
            </mat-menu>
        </div>
    </mat-card-header>
    <mat-card-content>
        <ngx-charts-line-chart
            *ngIf="chartData && !viewAccountDetails"
            [results]="chartData"
            [xAxis]="true"
            [yAxis]="true"
            xAxisLabel="Date"
            yAxisLabel="Balance"
            [showXAxisLabel]="false"
            [showYAxisLabel]="true"
            [referenceLines]="[{
            name: 'Current Balance',
            value: account.currentBalance
            }]"
            [showRefLines]="true"
            [scheme]="colorScheme"
            [rotateXAxisTicks]="true"
        ></ngx-charts-line-chart>

        <div *ngIf="viewAccountDetails" class="account-details">
            <ul class="account-balance">
                <li><div>Balance: <b class="balance-value-text">{{ account.currentBalance | currency }}</b></div></li>
            </ul>
            <ul class="account-numbers-list">
                <li>
                    <div class="account-number">Account number:
                        <span class="view-account-number" (click)="viewAccountNumber=!viewAccountNumber">
                            <span *ngIf="viewAccountNumber else hide"># <b>{{ account.accountNumber }}</b></span>
                            <ng-template #hide><b><u>View</u></b></ng-template>
                        </span>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom: 10px">Routing numbers: &nbsp;</div>
                    <ul>
                        <li *ngFor="let routingNumber of account.routingNumbers">
                            <div class="routing-number">
                                {{ routingNumber.description }} <span># <b>{{ routingNumber.number }}</b></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
