
:host * {
    box-sizing: border-box;
}

:has(>.subsection) {
    display: flex;
    gap: 12px;
}

.layout--set-order {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-row {
    display: flex;
    gap: 12px;
    
    mat-card {
        margin: 0;
    }
}

.order-form {
    flex: 1 1 578px;
    max-width: 1028px;
    margin: 12px;

    > :not(:last-child) {
        margin-bottom: 12px;   
    }
}

mat-card, .card-row {
    // margin: 12px;
}

:host app-printable-load-order {
    margin: 12px;
    // transform: scale(0.8);
    zoom:  80%;
    height: min-content;
}

.init-orders-section {
    display: flex;
    gap: 12px;
    font-size: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.order-count-incrementer {
    display: flex;
    align-items: center;
    padding-bottom: 1.34375em;

    .square-button {
        background-color: green;
        border-radius: 4px;
        height: 58px;
        color: white;
    }
}

::ng-deep {
    .order-count-incrementer .mat-form-field-wrapper {
        padding: 0;
    }

    .init-orders-section .mat-form-field-outline {
        background-color: white;
    }
}