
:host * {
    box-sizing: border-box;
}

:root {
    --zoom-factor: 0.8;
}

@media (min-width: 768px) {
    :root {
        --zoom-factor: 0.9;
    }
}

@media (min-width: 1200px) {
    :root {
        --zoom-factor: 1.0;
    };
}


:has(>.subsection) {
    display: flex;
    gap: 12px;
}

.layout--set-order {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    
}

.card-row {
    display: flex;
    gap: 12px;

    .transport-card {
        flex: 1 0 45%;
    }

    .product-weight-card {
        flex: 1 1 auto;
    }
}

.order-form {
    flex: 1 1 578px;
    max-width: 1028px;
    margin: 12px;

    > :not(:last-child) {
        margin-bottom: 12px;   
    }
}

:host app-printable-load-order {
    margin: 12px;
    zoom:  var(--zoom-factor);
    height: min-content;

    position: sticky;
    top: 20px;
}

// .wrapper-test {
//     flex: 1 1 auto;
// }

.init-orders-section {
    display: flex;
    gap: 12px;
    font-size: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.order-count-incrementer {
    display: flex;
    align-items: center;
    padding-bottom: 1.34375em;

    .square-button {
        background-color: green;
        border-radius: 4px;
        height: 58px;
        color: white;
    }
}

::ng-deep {
    .order-count-incrementer .mat-form-field-wrapper {
        padding: 0;
    }

    .init-orders-section .mat-form-field-outline {
        background-color: white;
    }
}

.card-checkbox {
    margin: 0 0 18px 0;
    width: 100%;
    text-align: center;
}