<div class="form-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Contract Info</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Contract</mat-label>
        <mat-select [(ngModel)]="contractId" (ngModelChange)="contractChange()">
          <mat-option *ngFor="let contract of selectableContracts | async" [value]="contract.ref.id">
            {{contract.id + ": " + contract.clientName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Product</mat-label>
        <input matInput readonly [(ngModel)]="ticket.productName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Grade</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.grade">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Origin</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.origin">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Transport Info</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <span class="flex-row">
        <mat-form-field appearance="fill">
        <mat-label>Transport</mat-label>
        <mat-select 
          [(ngModel)]="ticket.truckerId"
          [disabled]="!contractId">
          <mat-option 
            *ngFor="let transport of selectableTransport"
            [value]="transport.ref.id"
            >{{transport.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button>+</button>
      </span>
      
      <mat-form-field appearance="fill">
        <mat-label>Vehicle</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.vehicleID">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Plates</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.plates">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Driver</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.driver">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Weight Info</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill" class="weight-field">
        <mat-label>Gross</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.gross.amount" (ngModelChange)="calcNetWeight()">
      </mat-form-field>
      <mat-form-field appearance="fill" class="weight-field">
        <mat-label>Tare</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.tare.amount" (ngModelChange)="calcNetWeight()">
      </mat-form-field>
      <mat-form-field appearance="fill" class="net-field">
        <mat-label>Net</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.net.amount" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Discount W:</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.dryWeight.amount" readonly >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>m. Ton</mat-label>
        <input matInput type="number" [ngModel]="ticket.net | massInUnit:'mTon':ticket.net.amount | number:'0.3'" readonly>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Grain Info</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Moisture</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.moisture" (ngModelChange)="calcDiscount()">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.weight" (ngModelChange)="calcDiscount()">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Plague</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.plague">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PPB</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.PPB">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lot</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.lot">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Original Ticket #</mat-label>
        <input matInput type="text" [(ngModel)]="ticket.original_ticket">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Original Ticket W.</mat-label>
        <input matInput type="number" [(ngModel)]="ticket.original_weight">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput [(ngModel)]="ticket.comment"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>