<ion-card *transloco="let t, read: 'contracts.info'">
  <div class="table-row header">
    <ion-text>{{t('Include')}}</ion-text>
    <ion-text>{{t('Date')}}</ion-text>
    <ion-text>{{t('ID')}}</ion-text>
    <ion-text>{{t('Moisture')}}</ion-text>
    <ion-text>{{t('Test Wt')}}</ion-text>
    <ion-text>{{t('Gross')}}</ion-text>
    <ion-text>{{t('Tare')}}</ion-text>
    <ion-text>{{t('Net')}}</ion-text>
    <ion-text>{{t('Infested Discount')}}</ion-text>
    <ion-text>{{t('Inspection Discount')}}</ion-text>
  </div>
  <div [class.even]="odd" class="table-row" *ngFor="let ticket of ticketDiscountList; let odd = odd">
    <ion-text>
      <mat-checkbox [(ngModel)]="ticket.includeInReport" (ngModelChange)="selectChange.emit()"></mat-checkbox>
    </ion-text>
    <ion-text>{{ticket.data.dateOut | date:'shortDate'}}</ion-text>
    <ion-text>{{ticket.data.id}}</ion-text>
    <ion-text>{{ticket.data.moisture}}</ion-text>
    <ion-text>{{ticket.data.weight}}</ion-text>
    <ion-text>{{ticket.data.gross | massInUnit}}</ion-text>
    <ion-text>{{ticket.data.tare | massInUnit}}</ion-text>
    <ion-text>{{ticket.data.getNet() | massInUnit}}</ion-text>
    <ion-text>
      <mat-form-field>
        <input matInput [(ngModel)]="ticket.discounts.infested" type="number"/>
        <span matPrefix>$ &nbsp;</span>
      </mat-form-field>
    </ion-text>
    <ion-text>
      <mat-form-field>
        <input matInput [(ngModel)]="ticket.discounts.inspection" type="number"/>
        <span matPrefix>$ &nbsp;</span>
      </mat-form-field>
    </ion-text>
  </div>
</ion-card>
