:host {
    display: block;
    height: auto; //203.2mm;
    width: 254mm; //266.7mm;
    background-color: white;
    // outline: black solid 1px;
    // padding: 12.7mm;
    margin: 1em;
    // box-shadow: -0.5em 0.5em 0.25em gray;
}

table {
    font-size: xx-small;
    line-height: 1.5em;
    table-layout: fixed;
    width: 100%;

    th, td {
        border: black solid 1px;
        padding: 0px 2px;
    }

    .one-fr {
        column-width: 1fr;
    }

    .one-and-half-fr {
        column-width: 2fr
    }

    .two-fr {
        column-width: 2fr;
    }

    .total-row {
        font-weight: bold;
        border: none !important;
    }

    .center {
        text-align: center;
    }
    
    .left {
        text-align: left;
    }
    
    .right {
        text-align: right;
    }
}

#main-table {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 1fr 1.5fr 1fr 1fr 1.5fr 1fr 1fr 2fr 1fr 1fr 2fr;
    grid-auto-rows: 1.5em;
    font-size: xx-small;

    * {
        outline: black solid 1px;
        line-height: 1em;
        display: flex;
        align-items: center;
        padding: 0px 2px;
        color: black;
    }
}

.client-info {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    
    #contract-details {
        display: inline-block;

        // #farmer-name {
        //     background-color: lightgreen;
        // }

        // #contract-name {
        //     background-color: lightgreen;
        // }

        // #date {
        //     background-color: yellow;
        // }
    }
}

.header {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: white;
}

#title {
    text-align: center;
    h1 {
        line-height: 0.8em;
    }
}

#company-logo {
    height: 20mm;
    width: 25mm;
    display: inline-block;
}

.even {
    background-color: lightgray;
}

.odd {
    background-color: white;
}