<div id='title'>
    <h1>ACN AGRIPRODUCTS LLC</h1>
    <span id='address'>1512 Rancho Toluca Rd Progreso TX 78597</span>    
</div>

<img id='company-logo' src='https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Fcompanylogoonly.png?alt=media&token=cd8bbf25-c1ae-4880-b883-6cfb8f12f9bb'>

<div *ngIf="contract" id="contract-details">
    <div>FARMER NAME: {{contract.clientName}}</div>
    <div>Contract {{contract.id}}</div>
    <div id='date'>DATE: {{getDate() | date:'fullDate'}}</div>
</div>

<div id='main-table' *ngIf="contract">
    <div class='header row-2'>INBOUND DATE</div>
    <div class='header row-2'>TICKET #</div>
    <div class='header row-2'>CONTRACT</div>
    <div class='header col-3'>WEIGHT (CWT)</div>
    <div class='header col-2'>MOISTURE</div>
    <div class='header row-2'>ADJUSTED WEIGHT</div>
    <div class='header col-2'>DAMAGE</div>
    <div class='header row-2'>ADJUSTED WEIGHT</div>
    <div class='header row-2'>PRICE ($/CWT)</div>
    <div class='header row-2'>ADJUSTED PRICE ($/CWT)</div>
    <div class='header row-2'>TOTAL ($)</div>
    <div class='header row-2'>INFESTED</div>
    <div class='header row-2'>INSPECTION</div>
    <div class='header row-2'>NET TO PAY ($)</div>
    <div class='header'>GROSS</div>
    <div class='header'>TARE</div>
    <div class='header'>NET</div>
    <div class='header'>%</div>
    <div class='header'>CWT</div>
    <div class='header'>%</div>
    <div class='header'>CWT</div>

    <ng-container *ngFor="let ticket of ticketList; even as even">
        <div [class.odd]='!even' [class.even]='even' class='center'>{{ticket.data().dateIn.toDate() | date:'shortDate'}}</div>
        <div [class.odd]='!even' [class.even]='even' class='center'>{{ticket.data().id}}</div>
        <div [class.odd]='!even' [class.even]='even' class='center'>{{ticket.data().contractID}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().gross}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().tare}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().gross - ticket.data().tare}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().moisture | number:'1.1-1'}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().dryWeight - (ticket.data().gross - ticket.data().tare)}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().dryWeight}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().damage || 0 | number:'1.1-1'}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{0 | number:'1.1-1'}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{ticket.data().dryWeight}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{contract.pricePerBushel / 0.56 | currency}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{contract.pricePerBushel / 0.56 | currency}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{contract.pricePerBushel / 56 * ticket.data().dryWeight | currency}}</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>$-</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>$-</div>
        <div [class.odd]='!even' [class.even]='even' class='right'>{{contract.pricePerBushel / 56 * ticket.data().dryWeight | currency}}</div>
    </ng-container>

    <div class='total-row center'>TOTALS:</div>
    <div class='total-row'></div>
    <div class='total-row'></div>
    <div class='total-row right'>{{gross | number}}</div>
    <div class='total-row right'>{{tare | number}}</div>
    <div class='total-row right'>{{gross - tare | number}}</div>
    <div class='total-row'></div>
    <div class='total-row right'>{{moistureDiscount}}</div>
    <div class='total-row right'>{{moistureAdjustedWeight | number}}</div>
    <div class='total-row'></div>
    <div class='total-row'>-</div>
    <div class='total-row right'>{{moistureAdjustedWeight | number}}</div>
    <div class='total-row right'>{{contract.pricePerBushel / 0.56 | currency}}</div>
    <div class='total-row right'>{{contract.pricePerBushel / 0.56 | currency}}</div>
    <div class='total-row right'>{{moistureAdjustedWeight / 100 * contract.pricePerBushel / 0.56 | currency}}</div>
    <div class='total-row right'>$-</div>
    <div class='total-row right'>$-</div>
    <div class='total-row right'>{{moistureAdjustedWeight / 100 * contract.pricePerBushel / 0.56 | currency}}</div>
</div>