<div id='title'>
    <h1>ACN AGRIPRODUCTS LLC</h1>
    <span id='address'>1512 Rancho Toluca Rd Progreso TX 78597</span>    
</div>


<div class="client-info">
    <img id='company-logo' src='https://firebasestorage.googleapis.com/v0/b/business-manager-c488c.appspot.com/o/logo%2Fcompanylogoonly.png?alt=media&token=cd8bbf25-c1ae-4880-b883-6cfb8f12f9bb'>
    <div *ngIf="contract" id="contract-details">
        <div id='farmer-name'>FARMER NAME: {{ contract.clientName }}</div>
        <div id='contract-id'>Contract {{ contract.id }}</div>
        <div id='date'>DATE: {{ date | date:'fullDate'}}</div>
    </div>
</div>

<table id="liquidation-table">
    <colgroup>
        <col class="one-fr"> <!-- INBOUND DATE -->
        <col class="one-fr"> <!-- TICKET # -->
        <col class="one-fr"> <!-- WEIGHT: GROSS -->
        <col class="one-fr"> <!-- WEIGHT: TARE -->
        <col class="one-fr"> <!-- WEIGHT: NET -->
        <col class="one-fr"> <!-- MOISTURE: % -->
        <col class="one-fr"> <!-- MOISTURE: CWT -->
        <col class="one-fr"> <!-- DRYING: % -->
        <col class="one-fr"> <!-- DRYING: CWT -->
        <col class="one-fr"> <!-- DAMAGE: % -->
        <col class="one-fr"> <!-- DAMAGE: CWT -->
        <col class="one-and-half-fr"> <!-- ADJUSTED WEIGHT -->
        <col class="one-fr"> <!-- PRICE -->
        <col class="two-fr"> <!-- TOTAL -->
        <col class="one-fr" *ngIf="totals.infested"> <!-- INFESTED -->
        <col class="one-fr" *ngIf="totals.musty"> <!-- MUSTY -->
        <col class="one-fr" *ngIf="totals.sour"> <!-- SOUR -->
        <col class="one-fr" *ngIf="totals.weathered"> <!-- BADLY WEATHERED -->
        <col class="one-fr" *ngIf="totals.inspection"> <!-- INSPECTION -->
        <col class="two-fr">  <!-- NET TO PAY -->
    </colgroup>
    <tr>
        <th rowspan="2">INBOUND DATE</th>
        <th rowspan="2">TICKET #</th>
        <th colspan="3">WEIGHT (lbs)</th>
        <th colspan="2">MOISTURE</th>
        <th colspan="2">DRYIGN</th>
        <th colspan="2">DAMAGE</th>
        <th rowspan="2">ADJUSTED WEIGHT</th>
        <th rowspan="2">PRICE ($/BU)</th>
        <th rowspan="2">TOTAL ($)</th>
        <th rowspan="2" *ngIf="totals.infested">INFESTED</th>
        <th rowspan="2" *ngIf="totals.musty">MUSTY</th>
        <th rowspan="2" *ngIf="totals.sour">SOUR</th>
        <th rowspan="2" *ngIf="totals.weathered">BADLY WEATHERED</th>
        <th rowspan="2" *ngIf="totals.inspection">INSPECTION</th>
        <th rowspan="2">NET TO PAY ($)</th>
        
    </tr>
    <tr>
        <th>GROSS</th>
        <th>TARE</th>
        <th>NET</th>
        <th>%</th>
        <th>CWT</th>
        <th>%</th>
        <th>CWT</th>
        <th>%</th>
        <th>CWT</th>
    </tr>
    <tr *ngFor="let ticket of selectedTickets; even as even">
        <td [class.odd]='!even' [class.even]='even' class='center'>{{ ticket.data.dateIn | date:'shortDate' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='center'>{{ ticket.data.id }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.gross | massInUnit }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.tare | massInUnit }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ (ticket.data.gross | massInUnit) - (ticket.data.tare | massInUnit) }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.moisture | number:'1.1-1' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.discounts.moisture | number:'1.0-2' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.dryWeightPercent | number:'1.1-1'}}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.discounts.dryWeightPercent | number:'1.0-2' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.damagedGrain | number:'1.1-1' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.discounts.damagedGrain | number:'1.0-2' }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ ticket.data.dryWeight | massInUnit }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ (contract.price | pricePerUnit:'bu':contract.quantity) | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>{{ (contract.price | pricePerUnit:'bu':contract.quantity) * (ticket.data.dryWeight | massInUnit) / contract.productInfo.weight | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="totals.infested">{{ ticket.discounts.infested | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="totals.musty">{{ ticket.discounts.musty | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="totals.sour">{{ ticket.discounts.sour | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="totals.weathered">{{ ticket.discounts.weathered | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right' *ngIf="totals.inspection">{{ ticket.discounts.inspection | currency }}</td>
        <td [class.odd]='!even' [class.even]='even' class='right'>
            {{ (contract.price | pricePerUnit:'lbs':contract.quantity) * (ticket.data.dryWeight | massInUnit:'lbs') - ticket.discounts.infested - ticket.discounts.inspection| currency }}
        </td>
    </tr>
    <tr>
        <td class='total-row center'>TOTALS:</td>
        <td class='total-row right'></td>
        <td class='total-row right'>{{ totals.gross | number }}</td>
        <td class='total-row right'>{{ totals.tare | number }}</td>
        <td class='total-row right'>{{ totals.net | number }}</td>
        <td class='total-row right'>-</td>
        <td class='total-row right'>{{ totals.moistureDiscount | number:'0.3'}}</td> <!--  -->
        <td class='total-row right'>-</td>
        <td class='total-row right'>{{ totals.moistureAdjustedWeight | number }}</td> <!--  -->
        <td class='total-row right'>-</td>
        <td class='total-row right'>{{ totals.moistureAdjustedWeight | number }}</td> <!--  -->
        <td class='total-row right'></td>
        <td class='total-row right'></td>
        <td class='total-row right'>{{ totals.totalBeforeDiscounts | currency }}</td>
        <td class='total-row right' *ngIf="totals.infested">{{ totals.infested | currency }}</td>
        <td class='total-row right' *ngIf="totals.musty">{{ totals.musty | currency }}</td>
        <td class='total-row right' *ngIf="totals.sour">{{ totals.sour | currency }}</td>
        <td class='total-row right' *ngIf="totals.weathered">{{ totals.weathered | currency }}</td>
        <td class='total-row right' *ngIf="totals.inspection">{{ totals.inspection | currency }}</td>
        <td class='total-row right'>{{ totals.netToPay | currency }}</td>
    </tr>
</table>