<mat-form-field appearance="fill">
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" [ngModel]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<table mat-table
       [dataSource]="this.tableData" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="Day">
    <th mat-header-cell *matHeaderCellDef> Day </th>
    <td mat-cell *matCellDef="let day"> {{day.id}} </td>
  </ng-container>

  <ng-container matColumnDef="inQuantity">
    <th mat-header-cell *matHeaderCellDef> Received </th>
    <td mat-cell *matCellDef="let day"> {{day.inQuantity / this.productDoc.data().weight | number: '1.3-3'}} </td>
  </ng-container>

  <ng-container matColumnDef="outQuantity">
    <th mat-header-cell *matHeaderCellDef> Loaded Out </th>
    <td mat-cell *matCellDef="let day"> {{day.outQuantity / this.productDoc.data().weight | number: '1.3-3'}} </td>
  </ng-container>

  <ng-container matColumnDef="adjustment">
    <th mat-header-cell *matHeaderCellDef> Adjustment </th>
    <td mat-cell *matCellDef="let day"> {{day.adjustment / this.productDoc.data().weight | number: '1.3-3'}} </td>
  </ng-container>

  <ng-container matColumnDef="endOfDay">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let day"> {{day.endOfDay / this.productDoc.data().weight | number: '1.3-3'}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let day" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="day == expandedDay ? 'expanded' : 'collapsed'">
        <!-- <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div> -->
        <app-dpr-tickets-table [title]="'In Tickets'" [ticketList]="day.inTickets" [bushelWeight]="this.productDoc.data().weight" *ngIf="day == expandedDay"></app-dpr-tickets-table>
        <app-dpr-tickets-table [title]="'Out Tickets'" [ticketList]="day.outTickets" [bushelWeight]="this.productDoc.data().weight" *ngIf="day == expandedDay"></app-dpr-tickets-table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let day; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedDay === day"
      (click)="expandedDay = expandedDay === day ? null : day">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>