<ion-header>
	<ion-toolbar>
		<ion-title>Warehouse Receipts</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="warehouse-receipt-section">
		<div class="card-list">
			<ion-card button="true" id="add" class="wr-card">
				<div class="wr-group">
					<div class="info-section">
						+ Add Warehouse Receipts
					</div>
	
					<div class="contract-section">
						<div class="contract-info contract-unsigned">
							Purchase Contract
						</div>
	
						<div class="contract-info contract-unsigned">
							Sale Contract
						</div>
					</div>
				</div>
			</ion-card>

			<app-warehouse-receipt-group-card></app-warehouse-receipt-group-card>
			<app-warehouse-receipt-group-card></app-warehouse-receipt-group-card>
			<app-warehouse-receipt-group-card></app-warehouse-receipt-group-card>
		</div>
	</div>
</ion-content>
