<app-header-toolbar titulo="Warehouse Receipts"></app-header-toolbar>

<ion-content [fullscreen]="true" >
	<div class="warehouse-receipt-section">
		<div class="card-list">
			<ion-card button="true" id="add" class="wr-card" (click)="nav('/dashboard/warehouse-receipts/set')">
				<div class="wr-group">
					<div class="info-section">
						<ion-card-title>+ Add Warehouse Receipts</ion-card-title>
					</div>
	
					<div class="contract-section">
						<div class="contract">
							<ion-card-title>Purchase Contract</ion-card-title>
						</div>
	
						<div class="contract">
							<ion-card-title>Sale Contract</ion-card-title>
						</div>
					</div>
				</div>
			</ion-card>

			<app-warehouse-receipt-group-card 
				*ngFor="let warehouseReceiptGroup of warehouseReceiptGroupList" 
				[wrGroup]="warehouseReceiptGroup"
			></app-warehouse-receipt-group-card>
		</div>
	</div>
</ion-content>
