

.warehouse-receipt-section {
    padding: 2rem;
}

.card-list {
    display: flex;
    flex-direction: column;
}

.wr-card {
    display: flex;
    flex-direction: column;

    min-height: 200px;
    width: min(100% - 3rem);
    margin-inline: auto;
    padding: 0.7rem 0.7rem 0.2rem 0.7rem;
    color: #3A3A3A;
}

#add {
    display: flex;

    height: 175px;
}

.wr-group {
    display: flex;

    height: 190px;
}

.info-section {
    display: flex;
    flex-direction: column;

    margin: 5px;
    width: 50%;
}

.group-info {
    display: flex;
    height: 70%;
    width: 100%;
    padding: 0.5em;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.group-status {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.status-text {
    font-weight: 500;
    font-size: 1em;
    padding: 0 0.75rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.3);
        transition: opacity .3s;
        opacity: 0;
        z-index: 2;
        border-radius: 22px;
    }

    &:hover:before {
        opacity: 1;
    }
}

.pending {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.15);
    color: var(--ion-color-secondary);
}
.status-active {
    background-color: rgba(var(--ion-color-success-rgb), 0.15);
    color: var(--ion-color-success);
}
.closed {
    background-color: rgba(var(--ion-color-warning-rgb), 0.15);
    color: var(--ion-color-warning);
}
.cancelled { 
    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
    color: var(--ion-color-danger);
    cursor: initial;
    &:before {
        all: initial;
    }
}

hr {
    width: 97%;
    height: 2.5px;
    color: #A8A8A8;
    background-color: #A8A8A8;
}

.group-stats {
    flex-grow: 1;

    padding: 0.5em;
}

.contract-section {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.contract-info {
    flex-grow: 1;

    margin: 5px;
    padding: 0.7em;
    border-radius: 5px;
}

.contract-unsigned {
    background-color: rgb(232, 232, 232);
}

.contract-signed {
    background-color: var(--ion-color-primary-light);
}

.expansion-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
        cursor: pointer;
        transition: 0.4s;
        
        width: 15%;
        background-color: var(--ion-color-light);
        border-radius: 20px;
        margin-inline: 5px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(119, 119, 119, 0.3);
            transition: opacity .3s;
            opacity: 0;
            z-index: 2;
            border-radius: 22px;
        }
    
        &:hover:before {
            opacity: 1;
        }
    }

    hr {
        height: 1px;
        color: #A8A8A8;
        background-color: #A8A8A8;
        margin-inline: 5px;
    }
}

.expandable-wr-list {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--ion-color-light);
}

