
<div class="warehouse-receipt-section">
	<ion-card class="header">
		<ion-segment class="tabs" value="active,sold,financing,cancelled" (ionChange)="segmentChanged($event)">
			<ion-segment-button value="active,sold,financing,cancelled">
				<ion-label>All</ion-label>
			</ion-segment-button>
			<ion-segment-button value="active,sold,financing">
				<ion-label>Active</ion-label>
			</ion-segment-button>
			<ion-segment-button value="cancelled">
				<ion-label>Cancelled</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-card>

	<div class="table">
		<ion-card>
			<div class="table-row table-header">
				<ion-text>ID</ion-text>
				<ion-text>Start Date</ion-text>
				<ion-text>Status</ion-text>
				<ion-text>Grain</ion-text>
				<ion-text>Bushels</ion-text>
				<ion-text>Future Price</ion-text>
			</div>
		</ion-card>

		<ion-card>
			<div class="table-row table-add" (click)="generateWarehouseReceiptsModal()">
				<ion-text>
					<i>+ Add New Warehouse Receipt...</i>
				</ion-text>
			</div>
			

			<div [class.even]="odd" class="table-row table-body" *ngFor="let receipt of warehouseReceiptList; let odd = odd">
				<ion-text color="dark"><b>{{ receipt.id }}</b></ion-text>
				<ion-text color="dark">{{ receipt.startDate | date }}</ion-text>
				<div class="status-cell">
					<ion-text (click)="openStatusSelect(receipt)" class="status-text" 
						[class.active]="receipt.status === 'active'" 
						[class.closed]="receipt.status === 'closed'" 
						[class.pending]="receipt.status === 'pending'"
						[class.cancelled]="receipt.status === 'cancelled'">
						{{ receipt.status }}
					</ion-text>

					<ion-text class="status-date" color="dark" *ngIf="receipt.status === 'cancelled'">
						{{ receipt.closeDate | date }}
					</ion-text>
				</div>
				<ion-text color="dark">{{ receipt.product }}</ion-text>
				<ion-text color="dark">{{ receipt.bushelQuantity | number }}</ion-text>
				<ion-text color="dark">{{ receipt.purchasedFuturePrice | currency }}</ion-text>
				<div class="menu">
					<ion-icon name="ellipsis-vertical-outline"></ion-icon>
				</div>
			</div>
		</ion-card>
	</div>
</div>